unpackaged/main/default/flows/Add_ESG_Data_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Add_Another_Record</name>
        <label>Add Another Record?</label>
        <locationX>1130</locationX>
        <locationY>493</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_ESG_Data_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Done</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Type</name>
        <label>Other Type?</label>
        <locationX>1283</locationX>
        <locationY>192</locationY>
        <defaultConnector>
            <targetReference>Add_ESG_Data_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pneumatic_Controller_Make</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_ESG_Data_0</targetReference>
            </connector>
            <label>Add Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Type_0</name>
        <label>Other Type?</label>
        <locationX>1717</locationX>
        <locationY>193</locationY>
        <defaultConnector>
            <targetReference>Create_ESG_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Other_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pneumatic_Controller_Make</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ESG_Record_0</targetReference>
            </connector>
            <label>Add Other</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AreaPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Location__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Function</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Function__c</picklistField>
        <picklistObject>ESG_Data__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PneumaticControllerPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Pneumatic_Controller_Make__c</picklistField>
        <picklistObject>ESG_Data__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeOfControlPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Control__c</picklistField>
        <picklistObject>ESG_Data__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Add ESG Data 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add ESG Data 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_ESG_Record</name>
        <label>Create ESG Record</label>
        <locationX>1627</locationX>
        <locationY>369</locationY>
        <connector>
            <targetReference>Add_Another</targetReference>
        </connector>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>AssetRecordVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Well_Name__c</field>
            <value>
                <elementReference>Associated_Well_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Function__c</field>
            <value>
                <elementReference>FunctionChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pneumatic_Controller_Make__c</field>
            <value>
                <elementReference>Pneumatic_Controller_Make</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Control__c</field>
            <value>
                <elementReference>Type_of_Controkl</elementReference>
            </value>
        </inputAssignments>
        <object>ESG_Data__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_ESG_Record_0</name>
        <label>Create ESG Record</label>
        <locationX>1844</locationX>
        <locationY>355</locationY>
        <connector>
            <targetReference>Add_Another</targetReference>
        </connector>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>AssetRecordVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Well_Name__c</field>
            <value>
                <elementReference>Associated_Well_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Function__c</field>
            <value>
                <elementReference>FunctionChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pneumatic_Controller_Make_Custom__c</field>
            <value>
                <elementReference>Pneumatic_Controller_Make_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pneumatic_Controller_Make__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Control__c</field>
            <value>
                <elementReference>Type_of_Controkl</elementReference>
            </value>
        </inputAssignments>
        <object>ESG_Data__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>880</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_ESG_Data_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecordVar.AssetId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>AssetRecordVariable</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>772</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrderRecordVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssetId</queriedFields>
    </recordLookups>
    <screens>
        <name>Add_Another</name>
        <label>Add Another</label>
        <locationX>1733</locationX>
        <locationY>484</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Another_Record</targetReference>
        </connector>
        <fields>
            <name>Add_another1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add another?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_ESG_Data</name>
        <label>Add ESG Data</label>
        <locationX>1156</locationX>
        <locationY>187</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Other_Type</targetReference>
        </connector>
        <fields>
            <name>AddData</name>
            <fieldText>&lt;p&gt;Add ESG Data for {!AssetRecordVariable.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pneumatic_Controller_Make</name>
            <choiceReferences>PneumaticControllerPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pneumatic Controller Make</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_ESG_Data_0</name>
        <label>Add ESG Data</label>
        <locationX>1455</locationX>
        <locationY>108</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_ESG_Data_0_0</targetReference>
        </connector>
        <fields>
            <name>AddData_0</name>
            <fieldText>&lt;p&gt;Add ESG Data for {!AssetRecordVariable.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pneumatic_Controller_Make_Other</name>
            <dataType>String</dataType>
            <fieldText>Pneumatic Controller Make</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_ESG_Data_0_0</name>
        <label>Add ESG Data</label>
        <locationX>1576</locationX>
        <locationY>192</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Other_Type_0</targetReference>
        </connector>
        <fields>
            <name>AddData_0_0</name>
            <fieldText>&lt;p&gt;Add ESG Data for {!AssetRecordVariable.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Type_of_Controkl</name>
            <choiceReferences>TypeOfControlPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Control</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_ESG_Data_0_0_0</name>
        <label>Add ESG Data</label>
        <locationX>1025</locationX>
        <locationY>186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_ESG_Data</targetReference>
        </connector>
        <fields>
            <name>AddData_0_0_0</name>
            <fieldText>&lt;p&gt;Add ESG Data for {!AssetRecordVariable.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FunctionChoice</name>
            <choiceReferences>Function</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Function</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_ESG_Data_0_0_0_0</name>
        <label>Add ESG Data</label>
        <locationX>881</locationX>
        <locationY>186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_ESG_Data_0_0_0</targetReference>
        </connector>
        <fields>
            <name>AddData_0_0_0_0</name>
            <fieldText>&lt;p&gt;Add ESG Data for {!AssetRecordVariable.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Associated_Well_Name</name>
            <dataType>String</dataType>
            <fieldText>Associated Well Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Done</name>
        <label>Done</label>
        <locationX>1463</locationX>
        <locationY>776</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ESGDataUploaded</name>
            <fieldText>&lt;p&gt;ESG Data Uploaded&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>169</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
