unpackaged/main/default/flows/Add_Contractor_to_SA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Is_this_a_Vendor</name>
        <label>Is this a Vendor?</label>
        <locationX>171</locationX>
        <locationY>362</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceResource.Vendor_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contractor_on_SA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Add userId to Contractor__c field on the Service Appointment when an Assigned Resource is a Vendor User (Used to share Service Appointment with Vendor Portal Users)</description>
    <interviewLabel>Add Contractor to SA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Contractor to SA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contractor_on_SA</name>
        <label>Update Contractor on SA</label>
        <locationX>392</locationX>
        <locationY>362</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contractor_User__c</field>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_this_a_Vendor</targetReference>
        </connector>
        <object>AssignedResource</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
