unpackaged/main/default/flows/Add_Well_Stop_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <description>On a work order with a type of well stop, go through the maintenance plan and maintenance asset to add the well stop number</description>
    <interviewLabel>Add Well Stop Number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Well Stop Number</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Maintenance_Asset</name>
        <label>Get Maintenance Asset</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MaintenancePlanId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MaintenancePlanId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asset.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MaintenanceAsset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update work order with well stop number</description>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Well_Stop_Number__c</field>
            <value>
                <elementReference>Get_Maintenance_Asset.Well_Stop__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Maintenance_Asset</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>WorkTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>08q3i000000Lo4IAAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Maintenance_Plan_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MP-0249</stringValue>
            </value>
        </filters>
        <filters>
            <field>Maintenance_Plan_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MP-0250</stringValue>
            </value>
        </filters>
        <filters>
            <field>Maintenance_Plan_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MP-0251</stringValue>
            </value>
        </filters>
        <filters>
            <field>Maintenance_Plan_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MP-0252</stringValue>
            </value>
        </filters>
        <filters>
            <field>Maintenance_Plan_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MP-0253</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
