unpackaged/main/default/flows/Contract_Hours.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Found_Records</name>
        <label>Found Records?</label>
        <locationX>449</locationX>
        <locationY>162</locationY>
        <defaultConnector>
            <targetReference>Create_Contract_Hours_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingContractorHoursRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>LocationPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Location__c</picklistField>
        <picklistObject>Contract_Hours__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MonthPicklistSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Month__c</picklistField>
        <picklistObject>Contract_Hours__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Contract_Hours__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Year</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Year__c</picklistField>
        <picklistObject>Contract_Hours__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Contract Hours {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contractor Hours</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contractor_Hours</name>
        <label>Create Contractor Hours</label>
        <locationX>596</locationX>
        <locationY>339</locationY>
        <connector>
            <targetReference>Done</targetReference>
        </connector>
        <inputAssignments>
            <field>Contractor__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Headcount__c</field>
            <value>
                <elementReference>Head_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours__c</field>
            <value>
                <elementReference>Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Month__c</field>
            <value>
                <elementReference>Month</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year__c</field>
            <value>
                <elementReference>YearSelect</elementReference>
            </value>
        </inputAssignments>
        <object>Contract_Hours__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Contractor_Hours_Record</name>
        <label>Get Current Contractor Hours Record</label>
        <locationX>309</locationX>
        <locationY>160</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contractor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Month</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>YearSelect</elementReference>
            </value>
        </filters>
        <object>Contract_Hours__c</object>
        <outputReference>ExistingContractorHoursRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contractor__c</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <queriedFields>Headcount__c</queriedFields>
        <queriedFields>Hours__c</queriedFields>
        <queriedFields>Month__c</queriedFields>
        <queriedFields>Year__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>759</locationX>
        <locationY>73</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExistingContractorHoursRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contractor__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Headcount__c</field>
            <value>
                <elementReference>HeadcountUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours__c</field>
            <value>
                <elementReference>HoursUpdate</elementReference>
            </value>
        </inputAssignments>
        <object>Contract_Hours__c</object>
    </recordUpdates>
    <screens>
        <name>Create_Contract_Hours_Record</name>
        <label>Create Contract Hours Record</label>
        <locationX>455</locationX>
        <locationY>345</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Contractor_Hours</targetReference>
        </connector>
        <fields>
            <name>InputContractorHours</name>
            <fieldText>&lt;p&gt;No existing records found. Input Contractor Hours:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_Contract_Hours_Record_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Contract_Hours_Record_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Head_Count</name>
                    <dataType>Number</dataType>
                    <fieldText>Head Count</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Contract_Hours_Record_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Hours</name>
                    <dataType>Number</dataType>
                    <fieldText>Hours</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Done</name>
        <label>Done</label>
        <locationX>841</locationX>
        <locationY>263</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Done1</name>
            <fieldText>&lt;p&gt;Contractor hours added.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Month_and_Year</name>
        <label>Select Month and Year</label>
        <locationX>196</locationX>
        <locationY>160</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Current_Contractor_Hours_Record</targetReference>
        </connector>
        <fields>
            <name>Month</name>
            <choiceReferences>MonthPicklistSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Month</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>YearSelect</name>
            <choiceReferences>Year</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>2022</stringValue>
            </defaultValue>
            <fieldText>Year</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update</name>
        <label>Update</label>
        <locationX>636</locationX>
        <locationY>72</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <fields>
            <name>Update1</name>
            <fieldText>&lt;p&gt;Update Contractor Hours for  {!Month} {!YearSelect}:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HoursUpdate</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>ExistingContractorHoursRecord.Hours__c</elementReference>
            </defaultValue>
            <fieldText>Hours</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>HeadcountUpdate</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>ExistingContractorHoursRecord.Headcount__c</elementReference>
            </defaultValue>
            <fieldText>Headcount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>69</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>Select_Month_and_Year</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ExistingContractorHoursRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Hours__c</objectType>
    </variables>
</Flow>
