unpackaged/main/default/flows/Cost_Period_WO_Relationship.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Cost Period/WO Relationship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cost Period/WO Relationship</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CP</name>
        <label>Get CP</label>
        <locationX>176</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>COA_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CO_Cat_var</elementReference>
            </value>
        </filters>
        <filters>
            <field>COA__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COA_SubAcc_var</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cost_Period__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_WO</name>
        <label>Update WO</label>
        <locationX>292</locationX>
        <locationY>51</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>COA__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CP.COA__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>COA_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CP.COA_Category__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cost_Period__c</field>
            <value>
                <elementReference>Get_CP.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>43</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Get_CP</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CO_Cat_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COA_SubAcc_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
