unpackaged/main/default/flows/Create_Service_Appointment_from_Work_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Crew_Size</name>
        <label>Assign Crew Size</label>
        <locationX>57</locationX>
        <locationY>334</locationY>
        <assignmentItems>
            <assignToReference>varNumber_of_SAs_to_Create</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrder.Crew_Size__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtract_from_Count</name>
        <label>Subtract from Count</label>
        <locationX>492</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>varNumber_of_SAs_to_Create</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_SAs_Left_to_Create</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_SAs_Left_to_Create</name>
        <label>Are there SAs Left to Create?</label>
        <locationX>402</locationX>
        <locationY>179</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SAs_Left_to_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumber_of_SAs_to_Create</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Service_Appointment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Create Service Appointment from Work Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Service Appointment from Work Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Service_Appointment</name>
        <label>Create Service Appointment</label>
        <locationX>576</locationX>
        <locationY>176</locationY>
        <connector>
            <targetReference>Subtract_from_Count</targetReference>
        </connector>
        <inputAssignments>
            <field>Asset_Name__c</field>
            <value>
                <elementReference>Asset.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset_Tier__c</field>
            <value>
                <elementReference>Asset.Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>WorkOrder.AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractorAccount__c</field>
            <value>
                <elementReference>WorkOrder.Contractor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CountryCode</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>WorkOrder.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>WorkOrder.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__GanttLabel__c</field>
            <value>
                <elementReference>WorkOrder.WorkOrderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__InternalSLRGeolocation__Latitude__s</field>
            <value>
                <elementReference>WorkOrder.Geolocation__Latitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__InternalSLRGeolocation__Longitude__s</field>
            <value>
                <elementReference>WorkOrder.Geolocation__Longitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>WorkOrder.Geolocation__Latitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>WorkOrder.Geolocation__Longitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>WorkOrder.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Number__c</field>
            <value>
                <elementReference>WorkOrder.WorkOrderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Record_Type_Developer_Name__c</field>
            <value>
                <elementReference>varWORecordTypeDeveloperName</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>153</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_Dev_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.AssetId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>Asset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Tier__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Dev_Name</name>
        <label>Get Record Type Dev Name</label>
        <locationX>267</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_SAs_Left_to_Create</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varWORecordTypeDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>50</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Crew_Size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWorkOrderID</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Geolocation__Latitude__s</queriedFields>
        <queriedFields>Geolocation__Longitude__s</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
        <queriedFields>Contractor__c</queriedFields>
        <queriedFields>Crew_Size__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Work_Order</startElementReference>
    <status>Active</status>
    <variables>
        <name>Asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>varNumber_of_SAs_to_Create</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varWORecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
