unpackaged/main/default/flows/File_Attachment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_CDLink</name>
        <label>Assign CDLink</label>
        <locationX>600</locationX>
        <locationY>250</locationY>
        <assignmentItems>
            <assignToReference>getRec_CDLinkNew.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CDL_Loop_Rec_var.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRec_CDLinkNew.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Order_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRec_CDLinkNew.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRec_CDLinkNew.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_CDLinkNewColl</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CDLinkNewColl</name>
        <label>assign_CDLinkNewColl</label>
        <locationX>767</locationX>
        <locationY>250</locationY>
        <assignmentItems>
            <assignToReference>varCol_CDLinkNEW</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getRec_CDLinkNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CDL_Loop</targetReference>
        </connector>
    </assignments>
    <interviewLabel>File Attachment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>File Attachment</label>
    <loops>
        <name>CDL_Loop</name>
        <label>CDL Loop</label>
        <locationX>686</locationX>
        <locationY>132</locationY>
        <assignNextValueToReference>CDL_Loop_Rec_var</assignNextValueToReference>
        <collectionReference>CDL_Coll_Var</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_CDLink</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateRec_CDLink</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateRec_CDLink</name>
        <label>CreateRec_CDLink</label>
        <locationX>885</locationX>
        <locationY>52</locationY>
        <inputReference>varCol_CDLinkNEW</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Content_Doc_Link</name>
        <label>Get Content Doc Link</label>
        <locationX>533</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CDL_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Standard_Op_Record.Id</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputReference>CDL_Coll_Var</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Op_Record</name>
        <label>Get Standard Op Record</label>
        <locationX>362</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Content_Doc_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WO_Primary_Var</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Standard_Operating_Attachments__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>202</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Standard_Op_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Work_Order_ID</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>Work_Order_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WO_Primary_Var</assignToReference>
            <field>Primary__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>52</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CDL_Coll_Var</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>CDL_Loop_Rec_var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>Content_Doc_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>getRec_CDLinkNew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>Standard_Op_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_CDLinkNEW</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>WO_Primary_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Work_Order_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
