unpackaged/main/default/flows/JSA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <decisions>
        <name>Create_new_or_link_to_existing</name>
        <label>Create new or link to existing</label>
        <locationX>329</locationX>
        <locationY>435</locationY>
        <defaultConnector>
            <targetReference>Existing_JSAs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Link to Existing</defaultConnectorLabel>
        <rules>
            <name>Create_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_new_JSA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Create New</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_Tasks</name>
        <label>More Tasks?</label>
        <locationX>876</locationX>
        <locationY>440</locationY>
        <defaultConnector>
            <targetReference>JSA_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_More_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_a_Next_Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hazards</targetReference>
            </connector>
            <label>Yes, More Tasks</label>
        </rules>
    </decisions>
    <description>ONLY Create New Workflow</description>
    <dynamicChoiceSets>
        <name>AssPermType</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Associate_Permit_Type_Picklist__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ConfinedSpace</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Confined_Space_Entry_Pick__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DroppedObjects</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Dropped_Objects_Pick__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EquipmentandTools</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Equipment_and_Tools_Pick__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Excavations</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Excavations_Pick__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Eye_Protection</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Eye_Protection__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Fall_Details</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Fall_Protection__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Gloves</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Gloves__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HazardSub</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Hazardous_Substances_Pick__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HearingProtection</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Hearing_Protection__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HighEnergyHighVoltage</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>High_Energy_High_Voltage_Pick__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HighNoise</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>High_Noise_Pick__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IgnitionSource</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Ignition_Sources_Pick__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>JSA_Forms</name>
        <dataType>String</dataType>
        <displayField>JSA_Form_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Work_Order_Record.AssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_JSA__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>JSA_Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Work_Order_Record.Location__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>JSARecordType.Id</elementReference>
            </value>
        </filters>
        <object>Form__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>JSAWorkType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>JSA_Work_Type__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Lifting</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Lifting_Equipment_Pick__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Location_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Location__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ManualHandling</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Manual_Handling_Pick__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MobileEquipment</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Mobile_Equipment_Pick__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MovingEquip</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Moving_Equipment_Pick__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PersonnelPicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Personnel_Pick__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PoorLighting</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Poor_Lighting_Visibility_Pick__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PortableElectrical</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Portable_Electrical_Equipment_Pick__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PotentialSpills</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Potential_Spills_Pick__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PressEquip</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Pressurized_EquipmentPick__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Respiratior_Type</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Respirator_Type__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SimultaneousPick</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Simultaneous_Operations_Pick__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SlipsTrips</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Slips_Trips_and_Falls_Pick__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WeatherChoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Weather_Pick__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WorkatHeights</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Work_at_Heights_Pick__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>JSA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>JSA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_JSA_Form</name>
        <label>Create JSA Form</label>
        <locationX>490</locationX>
        <locationY>245</locationY>
        <assignRecordIdToReference>FormId</assignRecordIdToReference>
        <connector>
            <targetReference>JSA_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>JSARecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <object>Form__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>1015</locationX>
        <locationY>335</locationY>
        <assignRecordIdToReference>TaskId</assignRecordIdToReference>
        <connector>
            <targetReference>More_Tasks</targetReference>
        </connector>
        <inputAssignments>
            <field>Confined_Space_Entry__c</field>
            <value>
                <elementReference>Confined_Space_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dropped_Objects__c</field>
            <value>
                <elementReference>Dropped_Objects_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipment_and_Tools__c</field>
            <value>
                <elementReference>EquipmentandTools</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Excavations__c</field>
            <value>
                <elementReference>Excavations_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form__c</field>
            <value>
                <elementReference>FormId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hazard_Control__c</field>
            <value>
                <elementReference>Haz_Control_True</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hazardous_Substances__c</field>
            <value>
                <elementReference>Hazardous_Substances_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_Energy_High_Voltage__c</field>
            <value>
                <elementReference>High_Energy_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_Noise__c</field>
            <value>
                <elementReference>High_Noise_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ignition_Sources__c</field>
            <value>
                <elementReference>Ignition_Sources_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lifting_Equipment__c</field>
            <value>
                <elementReference>Lifting_Equipment_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manual_Handling__c</field>
            <value>
                <elementReference>Manual_Handling_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Equipment__c</field>
            <value>
                <elementReference>Mobile_Equipment_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moving_Equipment__c</field>
            <value>
                <elementReference>Moving_Equipment_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personnel__c</field>
            <value>
                <elementReference>Personnel_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Poor_Lighting_Visibility__c</field>
            <value>
                <elementReference>Poor_Lighting_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portable_Electrical_Equipment__c</field>
            <value>
                <elementReference>Portable_Electrical_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Potential_Spills__c</field>
            <value>
                <elementReference>Potential_Spills_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pressurized_Equipment__c</field>
            <value>
                <elementReference>Press_Equip_Pick</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Simultaneous_Operations__c</field>
            <value>
                <elementReference>Simultaneous_Operations_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Slips_Trips_and_Falls__c</field>
            <value>
                <elementReference>Slips_Trips_Falls_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stop_the_Job__c</field>
            <value>
                <elementReference>Stop_Job_True</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Step__c</field>
            <value>
                <elementReference>Task_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weather__c</field>
            <value>
                <elementReference>Weather_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_at_Heights__c</field>
            <value>
                <elementReference>Work_at_Heights_Picklist</elementReference>
            </value>
        </inputAssignments>
        <object>Task__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_WO_JSA</name>
        <label>Create WO JSA</label>
        <locationX>1077</locationX>
        <locationY>645</locationY>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>Work_Order_Record.AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form__c</field>
            <value>
                <elementReference>JSASelected.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <object>Work_Order_JSA__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_WOJSA</name>
        <label>Create WOJSA</label>
        <locationX>1616</locationX>
        <locationY>244</locationY>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>Work_Order_Record.AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form__c</field>
            <value>
                <elementReference>FormId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_JSAs__c</field>
            <value>
                <elementReference>Work_Order_Record.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <object>Work_Order_JSA__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_JSA_Selection</name>
        <label>Get JSA Selection</label>
        <locationX>761</locationX>
        <locationY>646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_WO_JSA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>JSAs</elementReference>
            </value>
        </filters>
        <object>Form__c</object>
        <outputReference>JSASelected</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Asset__c</queriedFields>
        <queriedFields>JSA_Location__c</queriedFields>
        <queriedFields>Associated_Permit_No__c</queriedFields>
        <queriedFields>Associated_Permit_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>337</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_JSA_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>JSA</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>JSARecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>176</locationX>
        <locationY>244</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>Work_Order_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>Location__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_JSA_Form</name>
        <label>Update JSA Form</label>
        <locationX>1478</locationX>
        <locationY>244</locationY>
        <connector>
            <targetReference>Create_WOJSA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FormId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Acknowledge_that_everyone_on_the_job_has__c</field>
            <value>
                <elementReference>Acknowledge_that_everyone_on_the_job_has_the_obligation_to_Stop_Work_if_the_situ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apron__c</field>
            <value>
                <elementReference>Apron</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>Work_Order_Record.AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associate_Permit_Type_Picklist__c</field>
            <value>
                <elementReference>Associated_Permit_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Permit_No__c</field>
            <value>
                <elementReference>Associated_Permit_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chemical_Suit__c</field>
            <value>
                <elementReference>Chemical_Suit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_JSA__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eye_Protection_Checkbox__c</field>
            <value>
                <elementReference>Hard_Hat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fall_Protection__c</field>
            <value>
                <elementReference>Fall_Protection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flame_Resistant_Clothing__c</field>
            <value>
                <elementReference>Hard_Hat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Foul_Weather_Wear__c</field>
            <value>
                <elementReference>Foul_Weather_Wear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gloves__c</field>
            <value>
                <elementReference>Gloves1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hard_Hat__c</field>
            <value>
                <elementReference>Hard_Hat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hearing_Protection__c</field>
            <value>
                <elementReference>Hearing_Protection1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_acknowledge_I_have_reviewed_the_JSA__c</field>
            <value>
                <elementReference>I_acknowledge_I_have_reviewed_the_JSA_I_understand_my_roles_and_responsibilities</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Identify_the_most_serious_potential_inju__c</field>
            <value>
                <elementReference>Identify_the_most_serious_potential_injury_for_the_task_being_performed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_job_description_above_does_not_apply__c</field>
            <value>
                <elementReference>If_Job_Description_above_does_not_apply</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JSA_Location__c</field>
            <value>
                <elementReference>Work_Order_Record.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Description__c</field>
            <value>
                <elementReference>Job_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_PPE__c</field>
            <value>
                <elementReference>Other_PPE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Respirator_Type__c</field>
            <value>
                <elementReference>Respirator_Type_Pick</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Safety_Shoes_Boots__c</field>
            <value>
                <elementReference>Hard_Hat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Leader_Company__c</field>
            <value>
                <elementReference>Company_Task</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Leader_Name__c</field>
            <value>
                <elementReference>Name_Task</elementReference>
            </value>
        </inputAssignments>
        <object>Form__c</object>
    </recordUpdates>
    <screens>
        <name>Existing_JSAs</name>
        <label>Existing JSAs</label>
        <locationX>599</locationX>
        <locationY>646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_JSA_Selection</targetReference>
        </connector>
        <fields>
            <name>JSAs</name>
            <choiceReferences>JSA_Forms</choiceReferences>
            <dataType>String</dataType>
            <fieldText>JSAs</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Hazard_Control_Stop_the_Job</name>
        <label>Hazard Control/Stop the Job</label>
        <locationX>1014</locationX>
        <locationY>149</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <fields>
            <name>Controls_1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;HAZARD CONTROLS&lt;/b&gt;&lt;/p&gt;&lt;p&gt;(How can harm be prevented?)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Haz_Control_True</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>StopJobText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: red; font-size: 10pt; background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;STOP THE JOB&lt;/u&gt; &lt;/b&gt;&lt;b style=&quot;color: rgb(62, 62, 60); font-size: 10pt; background-color: rgb(255, 255, 255);&quot;&gt;Triggers – I / We will stop the job if any of the following occur:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stop_Job_True</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Hazards</name>
        <label>Task and Associated Hazards</label>
        <locationX>894</locationX>
        <locationY>247</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Hazard_Control_Stop_the_Job</targetReference>
        </connector>
        <fields>
            <name>TaskDescription</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Complete Task Steps / Potential Hazards&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Task_1</name>
            <fieldText>Task Step</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DISPLAY</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;REMEMBER&lt;/b&gt;: THIS TABLE &lt;b&gt;&lt;u&gt;DOES NOT&lt;/u&gt;&lt;/b&gt; INCLUDE ALL POSSIBLE HAZARDS. IT IS EXPECTED THAT THE REQUIRED PPE FOR THE ACTIVITY AND WORK CONDITIONS WILL BE USED.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HazardInfo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Which of the Hazards below would apply to this task?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Press_Equip_Pick</name>
            <choiceReferences>PressEquip</choiceReferences>
            <dataType>String</dataType>
            <fieldText>PRESURIZED EQUIPMENT</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Poor_Lighting_Picklist</name>
            <choiceReferences>PoorLighting</choiceReferences>
            <dataType>String</dataType>
            <fieldText>POOR LIGHTING / VISIBILITY</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Personnel_Picklist</name>
            <choiceReferences>PersonnelPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>PERSONNEL</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Confined_Space_Picklist</name>
            <choiceReferences>ConfinedSpace</choiceReferences>
            <dataType>String</dataType>
            <fieldText>CONFINED SPACE ENTRY</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Simultaneous_Operations_Picklist</name>
            <choiceReferences>SimultaneousPick</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SIMULTANEOUS OPERATIONS</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ignition_Sources_Picklist</name>
            <choiceReferences>IgnitionSource</choiceReferences>
            <dataType>String</dataType>
            <fieldText>IGNITION SOURCES</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Hazardous_Substances_Picklist</name>
            <choiceReferences>HazardSub</choiceReferences>
            <dataType>String</dataType>
            <fieldText>HAZARDOUS SUBSTANCES</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Potential_Spills_Picklist</name>
            <choiceReferences>PotentialSpills</choiceReferences>
            <dataType>String</dataType>
            <fieldText>POTENTIAL SPILLS</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Weather_Picklist</name>
            <choiceReferences>WeatherChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>WEATHER</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>High_Noise_Picklist</name>
            <choiceReferences>HighNoise</choiceReferences>
            <dataType>String</dataType>
            <fieldText>HIGH NOISE</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Dropped_Objects_Picklist</name>
            <choiceReferences>DroppedObjects</choiceReferences>
            <dataType>String</dataType>
            <fieldText>DROPPED OBJECTS</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Lifting_Equipment_Picklist</name>
            <choiceReferences>Lifting</choiceReferences>
            <dataType>String</dataType>
            <fieldText>LIFTING EQUIPMENT</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Work_at_Heights_Picklist</name>
            <choiceReferences>WorkatHeights</choiceReferences>
            <dataType>String</dataType>
            <fieldText>WORK AT HEIGHTS</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Portable_Electrical_Picklist</name>
            <choiceReferences>PortableElectrical</choiceReferences>
            <dataType>String</dataType>
            <fieldText>PORTABLE ELECTRICAL EQUIPMENT</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Moving_Equipment_Picklist</name>
            <choiceReferences>MovingEquip</choiceReferences>
            <dataType>String</dataType>
            <fieldText>MOVING EQUIPMENT</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Manual_Handling_Picklist</name>
            <choiceReferences>ManualHandling</choiceReferences>
            <dataType>String</dataType>
            <fieldText>MANUAL HANDLING</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Equipment_Tools_Picklist</name>
            <choiceReferences>EquipmentandTools</choiceReferences>
            <dataType>String</dataType>
            <fieldText>EQUIPMENT AND TOOLS</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Slips_Trips_Falls_Picklist</name>
            <choiceReferences>SlipsTrips</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SLIPS, TRIPS, AND FALLS</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>High_Energy_Picklist</name>
            <choiceReferences>HighEnergyHighVoltage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>HIGH ENERGY / HIGH VOLTAGE</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Excavations_Picklist</name>
            <choiceReferences>Excavations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>EXCAVATIONS</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mobile_Equipment_Picklist</name>
            <choiceReferences>MobileEquipment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>MOBILE EQUIPMENT</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>This_is_the_Final_Step</name>
            <dataType>Boolean</dataType>
            <fieldText>This is the Final Step</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Add_a_Next_Step</name>
            <dataType>Boolean</dataType>
            <fieldText>Add a Next Step</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>JSA</name>
        <label>JSA</label>
        <locationX>7</locationX>
        <locationY>244</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Create_new_JSA</name>
            <dataType>Boolean</dataType>
            <fieldText>Create new JSA</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Use_existing_JSA</name>
            <dataType>Boolean</dataType>
            <fieldText>Use existing JSA</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>JSA_Details</name>
        <label>JSA Details</label>
        <locationX>640</locationX>
        <locationY>245</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stop_Work_Obligation_Acknowledgement</targetReference>
        </connector>
        <fields>
            <name>Job_Description</name>
            <choiceReferences>JSAWorkType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>JSA Work Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>If_Job_Description_above_does_not_apply</name>
            <fieldText>If Job Description above does not apply:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Identify_the_most_serious_potential_injury_for_the_task_being_performed</name>
            <fieldText>Identify the most serious potential injury for the task being performed:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Associated_Permit_No</name>
            <dataType>String</dataType>
            <fieldText>Associated Permit No.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Associated_Permit_Type</name>
            <choiceReferences>AssPermType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Associated Permit Type</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>JSA_Review</name>
        <label>JSA_Review</label>
        <locationX>1363</locationX>
        <locationY>244</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_JSA_Form</targetReference>
        </connector>
        <fields>
            <name>Work_Site</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;WORK SITE VERIFICATION&lt;span style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Work_Team_Details</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10pt;&quot;&gt;The Work Team has assessed the worksite conditions and confirms:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 9pt;&quot;&gt;The JSA addresses the applicable hazards and necessary standards&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 9pt;&quot;&gt;The Team has the appropriate resources (people &amp;amp; equipment) to do the job safely&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 9pt;&quot;&gt;Others that could be affected by the work have been informed&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 9pt;&quot;&gt;Energy isolation (if applicable) has been VERIFIED&amp;nbsp;and DEMONSTRATED&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TASK_LEADER</name>
            <fieldText>&lt;p&gt;TASK LEADER:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name_Task</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter your name or list the person in charge of the job.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Company_Task</name>
            <dataType>String</dataType>
            <fieldText>Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Complete_Section</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;COMPLETE SECTION BELOW FOR JSA&lt;span style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>I_acknowledge_I_have_reviewed_the_JSA_I_understand_my_roles_and_responsibilities</name>
            <dataType>Boolean</dataType>
            <fieldText>I acknowledge I have reviewed the JSA, I understand my roles and responsibilities and I will comply with the instructions for this task</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Stop_Work_Obligation_Acknowledgement</name>
        <label>PPE</label>
        <locationX>761</locationX>
        <locationY>245</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Hazards</targetReference>
        </connector>
        <fields>
            <name>Sto_Work_Obligation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Stop Work Obligation Acknowledgement&lt;span style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Obligation_Details</name>
            <fieldText>&lt;p&gt;Stop-work authority permits any person at any level to halt a job or task when a hazardous situation appears imminent.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Acknowledge_that_everyone_on_the_job_has_the_obligation_to_Stop_Work_if_the_situ</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Acknowledge that everyone on the job has the obligation to Stop Work if the situation presents itself.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PPE_Required</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;PPE REQUIRED DURING THIS TASK&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt; (summarize PPE from Task Hazard Assessment)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Hard_Hat</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Hard Hat, Safety Shoes/Boots, Flame Resistant Clothing, Safety Glasses, 4 Gas Monitor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Hearing_Protection1</name>
            <choiceReferences>HearingProtection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Hearing Protection</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Respirator_Type_Pick</name>
            <choiceReferences>Respiratior_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Respirator Type</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fall_Protection</name>
            <choiceReferences>Fall_Details</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Fall Info</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Gloves1</name>
            <choiceReferences>Gloves</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gloves</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Chemical_Suit</name>
            <dataType>Boolean</dataType>
            <fieldText>Chemical Suit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Apron</name>
            <dataType>Boolean</dataType>
            <fieldText>Apron</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Foul_Weather_Wear</name>
            <dataType>Boolean</dataType>
            <fieldText>Foul Weather Wear</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Other_PPE</name>
            <fieldText>Other PPE:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Asset_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>FormId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FormRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Form__c</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JSA_Record_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JSARecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>JSASelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Form__c</objectType>
    </variables>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task__c</objectType>
    </variables>
    <variables>
        <name>Work_Order_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
