unpackaged/main/default/flows/LDAR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>No_Choice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Choice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Leaks_Detected</name>
        <label>Leaks Detected</label>
        <locationX>301</locationX>
        <locationY>204</locationY>
        <defaultConnector>
            <targetReference>Inspection_Completion_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Leaks_Detected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Were_any_leaks_detected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Leak_Details</targetReference>
            </connector>
            <label>Leaks Detected Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Adequate_Thermal_Background_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Adequate_thermal_background_during_surv__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Basis_for_Delay</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Basis_for_Delay__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Component_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Component_Type__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Corrective_Action_Taken_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Corrective_Action_Taken__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Equipment_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Equipment_Type__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Method_of_Repair_Verification_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Method_of_Repair_Verification__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Sky_Conditions_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Sky_Conditions__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>LDAR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LDAR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_LDAR</name>
        <label>Create LDAR</label>
        <locationX>309</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>varFormId</assignRecordIdToReference>
        <connector>
            <targetReference>Leaks_Detected</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123i000000QdEqAAK</stringValue>
            </value>
        </inputAssignments>
        <object>Form__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_LDAR_Form</name>
        <label>Update LDAR Form</label>
        <locationX>803</locationX>
        <locationY>201</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFormId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Adequate_Thermal_Background__c</field>
            <value>
                <elementReference>Adequate_Thermal_Background</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Adequate_thermal_background_during_surv__c</field>
            <value>
                <elementReference>Were_techniques_used_to_assure_an_adequate_thermal_background_during_monitoring</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>All_fugitive_emissions_compts_surveyed__c</field>
            <value>
                <elementReference>Were_all_fugitive_emissions_components_surveyed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ambient_Temperature_Degrees_F__c</field>
            <value>
                <elementReference>Ambient_Temperature_Degrees_F</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Basis_for_Delay__c</field>
            <value>
                <elementReference>Basis_for_Delay_RESPONSE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Camera_passed_verification_check__c</field>
            <value>
                <elementReference>Did_camera_pass_the_verification_check_prior_to_performing_monitoring_survey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Component_Type__c</field>
            <value>
                <elementReference>Component_Type_RESPONSE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Corrective_Action_Taken__c</field>
            <value>
                <elementReference>Corrective_Action_Taken_RESPONSE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Date_Time_Started</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Repair_Verification__c</field>
            <value>
                <elementReference>Date_of_Repair_Verification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delayed_Repair_Comments__c</field>
            <value>
                <elementReference>Delayed_Repair_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deviations_from_the_monitoring_plan__c</field>
            <value>
                <elementReference>Were_there_deviations_from_the_monitoring_plan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Difficult_Unsafe_to_Monitor_Components__c</field>
            <value>
                <elementReference>Were_there_difficult_or_unsafe_monitor_components</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipment_Type__c</field>
            <value>
                <elementReference>Equipment_Type_RESPONSE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_first_attempt_not_successful_was_a_w__c</field>
            <value>
                <elementReference>If_first_attempt_not_successful_was_a_work_order_created</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interferences_encountered_accounted_for__c</field>
            <value>
                <elementReference>Were_you_able_to_account_for_interferences_that_you_may_have_encountered_during</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interferences_successfully_overcome__c</field>
            <value>
                <elementReference>Were_you_able_to_deal_with_interferences_that_you_may_have_encountered_during_th</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Leak_placed_on_long_term_delayed_repair__c</field>
            <value>
                <elementReference>Leak_placed_on_long_term_delayed_repair_list</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_of_leaks_detected__c</field>
            <value>
                <elementReference>Document_Locations_of_Leaks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Max_Wind_Speed_MPH__c</field>
            <value>
                <elementReference>Max_Wind_Speed_MPH</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Max_viewing_distance_ft__c</field>
            <value>
                <elementReference>Max_Viewing_Distance_ft</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method_of_Repair_Verification__c</field>
            <value>
                <elementReference>Method_of_Repair_Verification_RESPONSE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Performed_within_max_viewing_distance__c</field>
            <value>
                <elementReference>Was_the_inspection_performed_within_the_max_viewing_distance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sky_Conditions__c</field>
            <value>
                <elementReference>Sky_Conditions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_End_Time__c</field>
            <value>
                <elementReference>Survey_End_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Start_Time__c</field>
            <value>
                <elementReference>Date_Time_Started</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tag_ID_of_Repair_If_Required__c</field>
            <value>
                <elementReference>Tag_ID_of_Repair</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Was_first_repair_attempted_during_the_in__c</field>
            <value>
                <elementReference>Was_first_repair_attempted_during_the_inspection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Was_first_repair_successful__c</field>
            <value>
                <elementReference>Was_first_repair_successful</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Was_the_entire_inspection_completed__c</field>
            <value>
                <elementReference>Was_the_entire_inspection_completed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Were_leaks_detected__c</field>
            <value>
                <elementReference>Were_any_leaks_detected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <object>Form__c</object>
    </recordUpdates>
    <screens>
        <name>General_Information</name>
        <label>General Information</label>
        <locationX>179</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_LDAR</targetReference>
        </connector>
        <fields>
            <name>Date_Time_Started</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Date/Time Started</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OGI_Camera_Inspection_Details_Section</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;OGI Camera Inspection Details&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ambient_Temperature_Degrees_F</name>
            <dataType>Number</dataType>
            <fieldText>Ambient Temperature (°F)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>1</scale>
        </fields>
        <fields>
            <name>Max_Wind_Speed_MPH</name>
            <dataType>Number</dataType>
            <fieldText>Max Wind Speed (MPH)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Sky_Conditions</name>
            <choiceReferences>Sky_Conditions_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sky Conditions</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Max_Viewing_Distance_ft</name>
            <dataType>Number</dataType>
            <fieldText>Max Viewing Distance (ft)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Adequate_Thermal_Background</name>
            <choiceReferences>Adequate_Thermal_Background_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Adequate Thermal Background?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Leaks_Section</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Leaks&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Were_any_leaks_detected</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Were any leaks detected?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Document_Locations_of_Leaks</name>
            <fieldText>Document Locations of Leaks</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Unable_to_Inspect_Equipment_Section</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Unable to Inspect Equipment&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Were_there_difficult_or_unsafe_monitor_components</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Were there difficult or unsafe monitor components?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Inspection_Completion_Details</name>
        <label>Inspection Completion Details</label>
        <locationX>585</locationX>
        <locationY>41</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_LDAR_Form</targetReference>
        </connector>
        <fields>
            <name>Was_the_entire_inspection_completed</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Was the entire inspection completed?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Were_there_deviations_from_the_monitoring_plan</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Were there deviations from the monitoring plan?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Did_camera_pass_the_verification_check_prior_to_performing_monitoring_survey</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Did camera pass the verification check prior to performing monitoring survey?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Was_the_inspection_performed_within_the_max_viewing_distance</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Was the inspection performed within the max viewing distance?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Were_techniques_used_to_assure_an_adequate_thermal_background_during_monitoring</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Were techniques used to assure an adequate thermal background during monitoring survey? (HSM Mode, adjust viewing angle, clipboard or known background)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Were_you_able_to_deal_with_interferences_that_you_may_have_encountered_during_th</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Were you able to deal with interferences that you may have encountered during the monitoring survey?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Were_you_able_to_account_for_interferences_that_you_may_have_encountered_during</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Were you able to account for interferences that you may have encountered during the monitoring survey?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Were_all_fugitive_emissions_components_surveyed</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Were all fugitive emissions components surveyed?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Survey_End_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Survey End Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>File_Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Diagrams or Photos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varFormId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Leak_Details</name>
        <label>Leak Details</label>
        <locationX>585</locationX>
        <locationY>319</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Inspection_Completion_Details</targetReference>
        </connector>
        <fields>
            <name>Leak_Details_Display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Leak Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Equipment_Type_RESPONSE</name>
            <choiceReferences>Equipment_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Equipment Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Component_Type_RESPONSE</name>
            <choiceReferences>Component_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Component Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Leake_Photo</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Leak Photo Equipment/Component</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varFormId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Leak_Repair_Label</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Leak Repair&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Was_first_repair_successful</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Was first repair successful?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Was_first_repair_attempted_during_the_inspection</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Was first repair attempted during the inspection?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>If_first_attempt_not_successful_was_a_work_order_created</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>If first attempt not successful, was a work order created?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_of_Repair_Verification</name>
            <dataType>DateTime</dataType>
            <fieldText>Date of Repair Verification</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Leak_placed_on_long_term_delayed_repair_list</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Leak placed on long term delayed repair list?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Veification_Label</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Verification&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tag_ID_of_Repair</name>
            <dataType>String</dataType>
            <fieldText>Tag ID of Repair</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tag_of_Leak_photo_ID_if_required</name>
            <dataType>String</dataType>
            <fieldText>Tag of Leak photo ID #: (if required)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Leak_Photo</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Leak Photo(s) of Equipment/Component</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varFormId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Delayed_Repair_Comments</name>
            <dataType>String</dataType>
            <fieldText>Delayed Repair Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Basis_for_Delay_RESPONSE</name>
            <choiceReferences>Basis_for_Delay</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Basis for Delay</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Method_of_Repair_Verification_RESPONSE</name>
            <choiceReferences>Method_of_Repair_Verification_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Method of Repair Verification:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Corrective_Action_Taken_RESPONSE</name>
            <choiceReferences>Corrective_Action_Taken_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Corrective Action Taken?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>General_Information</startElementReference>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFormId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
