unpackaged/main/default/flows/Link_New_Asset_to_Maintenance_Plans.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_New_Maintenance_Asset_to_Collection</name>
        <label>Add New Maintenance Asset to Collection</label>
        <locationX>486</locationX>
        <locationY>181</locationY>
        <assignmentItems>
            <assignToReference>MaintenanceAssetsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewMaintenanceAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Maintenance_Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Maintenance_Asset_Fields</name>
        <label>Assign Maintenance Asset Fields</label>
        <locationX>485</locationX>
        <locationY>52</locationY>
        <assignmentItems>
            <assignToReference>NewMaintenanceAsset.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAssetID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMaintenanceAsset.MaintenancePlanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentMaintenancePlan.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMaintenanceAsset.NextSuggestedMaintenanceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calc_FirstWorkOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Maintenance_Asset_to_Collection</targetReference>
        </connector>
    </assignments>
    <description>When a new Asset is created, it is automatically linked to any Maintenance Plans of the same Asset Type.</description>
    <formulas>
        <name>calc_FirstWorkOrder</name>
        <dataType>Date</dataType>
        <expression>{!vInServiceDate} + {!CurrentMaintenancePlan.Frequency}</expression>
    </formulas>
    <interviewLabel>Link New Asset to Maintenance Plans {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Link New Asset to Maintenance Plans</label>
    <loops>
        <description>For each Maintenance Plan in the collection, create a Maintenance Asset record.</description>
        <name>Loop_Through_Maintenance_Plans</name>
        <label>Loop Through Maintenance Plans</label>
        <locationX>301</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>CurrentMaintenancePlan</assignNextValueToReference>
        <collectionReference>MaintenancePlans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Maintenance_Asset_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Maintenance_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Maintenance_Assets</name>
        <label>Create Maintenance Assets</label>
        <locationX>345</locationX>
        <locationY>278</locationY>
        <inputReference>MaintenanceAssetsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Looks up all Maintenance Plans with an Asset Type matching the Asset Type of the current Asset record.</description>
        <name>Get_Maintenance_Plans</name>
        <label>Get Maintenance Plans</label>
        <locationX>160</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Maintenance_Plans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Asset_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAssetType</elementReference>
            </value>
        </filters>
        <object>MaintenancePlan</object>
        <outputReference>MaintenancePlans</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Frequency</queriedFields>
    </recordLookups>
    <startElementReference>Get_Maintenance_Plans</startElementReference>
    <status>Active</status>
    <variables>
        <name>CurrentMaintenancePlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MaintenancePlan</objectType>
    </variables>
    <variables>
        <name>MaintenanceAssetsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MaintenanceAsset</objectType>
    </variables>
    <variables>
        <name>MaintenancePlans</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MaintenancePlan</objectType>
    </variables>
    <variables>
        <name>NewMaintenanceAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MaintenanceAsset</objectType>
    </variables>
    <variables>
        <name>vAssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAssetType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vInServiceDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
