unpackaged/main/default/flows/Maintenance_Assessment_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Add_All_Questions_to_Collection</name>
        <label>Add All Questions to Collection</label>
        <locationX>556</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>Maintenance_Assessment_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MAQ_Object_One</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Assessment_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MAQ_Object_Two</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Assessment_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MAQ_Object_Three</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Assessment_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MAQ_Object_Four</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Maintenance_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment used if Validation was needed on Corrected and Action Taken Questions</description>
        <name>ID_Question_2</name>
        <label>Question 2 Assignment Validation</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>MAQ_Object_Two.Date_Corrected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ID_IF_YES2_DATE_CORRECTED_VALIDATE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Two.Action_Taken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ID_IF_YES2_ACTION_TAKEN_Val</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ID_Engine_Hose_VAL_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment used if Validation was needed on Corrected and Action Taken Questions</description>
        <name>ID_Question_4_Assignment_Validation</name>
        <label>Question 4 Assignment Validation</label>
        <locationX>50</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>MAQ_Object_Four.Date_Corrected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ID_IF_YES4_DATE_CORRECTED_VALIDATE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Four.Action_Taken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ID_IF_YES4_ACTION_TAKEN_Val</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_All_Questions_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MAQ_Initial_Assignment</name>
        <label>MAQ Initial Assignment</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>MAQ_Object_One.Yes_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ID_ENGINE_DRIVE_QUESTION</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_One.Date_Corrected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ID_IF_YES1_DATE_CORRECTED</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_One.Action_Taken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ID_IF_YES1_ACTION_TAKEN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_One.Maintenance_Assessment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Maintenance_Assessment_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_One.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Maintenance_Question_One</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Two.Yes_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ID_COOLER_BELTS_QUESTION</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Two.Action_Taken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ID_IF_YES2_ACTION_TAKEN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Two.Date_Corrected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ID_IF_YES2_DATE_CORRECTED</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Two.Maintenance_Assessment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Maintenance_Assessment_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Two.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Maintenance_Question_Two</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Three.Yes_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ID_ENGINE_HOSES_QUESTION</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Three.Date_Corrected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ID_IF_YES3_DATE_CORRECTED</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Three.Action_Taken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ID_IF_YES3_ACTION_TAKEN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Three.Maintenance_Assessment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Maintenance_Assessment_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Three.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Maintenance_Question_Three</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Four.Yes_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ID_SPARK_PLUGS_QUESTION</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Four.Date_Corrected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ID_IF_YES4_DATE_CORRECTED</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Four.Action_Taken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ID_IF_YES4_ACTION_TAKEN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Four.Maintenance_Assessment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Maintenance_Assessment_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Four.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Maintenance_Question_Four</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ1_Yes_NO_VAR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ID_ENGINE_DRIVE_QUESTION</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ2_Yes_NO_VAR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ID_COOLER_BELTS_QUESTION</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ3_Yes_NO_VAR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ID_ENGINE_HOSES_QUESTION</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ4_Yes_NO_VAR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ID_SPARK_PLUGS_QUESTION</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ID_ENGINE_DRIVE_BELTS_VAL_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MAQ_Initial_Assignment_0</name>
        <label>MAQ Initial Assignment</label>
        <locationX>622</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>MAQ_Object_One.Yes_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId_ENGINE_DRIVE_QUESTION</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_One.Date_Corrected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId_IF_YES1_DATE_CORRECTED</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_One.Action_Taken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId_IF_YES1_ACTION_TAKEN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_One.Maintenance_Assessment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Maintenance_Assessment_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_One.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Maintenance_Question_One</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Two.Yes_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId_COOLER_BELTS_QUESTION</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Two.Action_Taken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId_IF_YES2_ACTION_TAKEN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Two.Date_Corrected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId_IF_YES2_DATE_CORRECTED</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Two.Maintenance_Assessment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Maintenance_Assessment_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Two.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Maintenance_Question_Two</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Three.Yes_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId_ENGINE_HOSES_QUESTION</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Three.Date_Corrected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId_IF_YES3_DATE_CORRECTED</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Three.Action_Taken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId_IF_YES3_ACTION_TAKEN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Three.Maintenance_Assessment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Maintenance_Assessment_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Three.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Maintenance_Question_Three</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Four.Yes_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId_SPARK_PLUGS_QUESTION</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Four.Date_Corrected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId_IF_YES4_DATE_CORRECTED</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Four.Action_Taken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId_IF_YES4_ACTION_TAKEN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Four.Maintenance_Assessment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Maintenance_Assessment_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Four.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Maintenance_Question_Four</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ1_Yes_NO_VAR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId_ENGINE_DRIVE_QUESTION</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ2_Yes_NO_VAR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId_COOLER_BELTS_QUESTION</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ3_Yes_NO_VAR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId_ENGINE_HOSES_QUESTION</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ4_Yes_NO_VAR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId_SPARK_PLUGS_QUESTION</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecordID_ENGINE_DRIVE_BELTS_VAL_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment used if Validation was needed on Corrected and Action Taken Questions</description>
        <name>Question_1_Assignment_Validation_0</name>
        <label>Question 1 Assignment Validation</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>MAQ_Object_One.Date_Corrected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ID_IF_YES1_DATE_CORRECTED_VAL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_One.Action_Taken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ID_IF_YES1_ACTION_TAKEN_Val</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ID_Cooler_Belt_VAL_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment used if Validation was needed on Corrected and Action Taken Questions</description>
        <name>Question_1_Assignment_Validation_0_0</name>
        <label>Question 1 Assignment Validation</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>MAQ_Object_One.Date_Corrected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId_IF_YES1_DATE_CORRECTED_VAL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_One.Action_Taken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId_IF_YES1_ACTION_TAKEN_Val</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecordId_Cooler_Belt_VAL_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment used if Validation was needed on Corrected and Action Taken Questions</description>
        <name>Question_2_0_0_0</name>
        <label>Question 2 Assignment Validation</label>
        <locationX>490</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>MAQ_Object_Two.Date_Corrected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordID_IF_YES2_DATE_CORRECTED_VALIDATE_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Two.Action_Taken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordID_IF_YES2_ACTION_TAKEN_Val_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecordId_Engine_Hose_VAL_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment used if Validation was needed on Corrected and Action Taken Questions</description>
        <name>Question_3_Assignment_Validation_0</name>
        <label>Question 3 Assignment Validation</label>
        <locationX>50</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>MAQ_Object_Three.Date_Corrected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ID_IF_YES3_DATE_CORRECTED_VALIDATE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Three.Action_Taken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ID_IF_YES3_ACTION_TAKEN_Val</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ID_Spark_Plug_VAL_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment used if Validation was needed on Corrected and Action Taken Questions</description>
        <name>Question_3_Assignment_Validation_0_0</name>
        <label>Question 3 Assignment Validation</label>
        <locationX>490</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>MAQ_Object_Three.Date_Corrected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId_IF_YES3_DATE_CORRECTED_VALIDATE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Three.Action_Taken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId_IF_YES3_ACTION_TAKEN_Val</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecordId_Spark_Plug_VAL_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment used if Validation was needed on Corrected and Action Taken Questions</description>
        <name>RecordId_Question_4_Assignment_Validation</name>
        <label>Question 4 Assignment Validation</label>
        <locationX>490</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>MAQ_Object_Four.Date_Corrected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId_IF_YES4_DATE_CORRECTED_VALIDATE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MAQ_Object_Four.Action_Taken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId_IF_YES4_ACTION_TAKEN_Val</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_All_Questions_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decision looks to see if the Cooler Belt Question was answered Yes and if so if the user provided a date and and action taken If not it will present him with a second Screen</description>
        <name>ID_Cooler_Belt_VAL_Decision</name>
        <label>Cooler Belt VAL Decision</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>ID_Engine_Hose_VAL_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ID_COOLER_BELTS_QUESTION_MISSING_REQUIRED_FIELDS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ID_Cooler_Drive_Belt_DEC_FOR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cooler_Belt_Question_0_0_0_0</targetReference>
            </connector>
            <label>COOLER BELTS QUESTION MISSING REQUIRED FIELDS</label>
        </rules>
    </decisions>
    <decisions>
        <name>ID_ENGINE_DRIVE_BELTS_VAL_DECISION</name>
        <label>ENGINE DRIVE BELTS VAL DECISION</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>ID_Cooler_Belt_VAL_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ID_ENGINE_DRIVE_BELTS_QUESTION_MISSING_REQUIRED_FIELDS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ID_Engine_Drive_Belt_DEC_FOR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Engine_Question_Validation_0</targetReference>
            </connector>
            <label>ENGINE DRIVE BELTS QUESTION MISSING REQUIRED FIELDS</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision looks to see if the Engine Hose Leak Question was answered Yes and if so if the user provided a date and and action taken If not it will present him with a second Screen</description>
        <name>ID_Engine_Hose_VAL_Decision</name>
        <label>Engine Hose VAL Decision</label>
        <locationX>182</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>ID_Spark_Plug_VAL_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ID_ENGINE_HOSES_QUESTION_MISSING_REQUIRED_FIELDS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ID_Engine_Hose_Leak_DEC_FOR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ID_ENGINE_HOSE_Question_VAL_TEXT</targetReference>
            </connector>
            <label>ENGINE HOSES QUESTION MISSING REQUIRED FIELDS</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision looks to see if the SPark Plug Question was answered Yes and if so if the user provided a date and and action taken If not it will present him with a second Screen</description>
        <name>ID_Spark_Plug_VAL_Decision</name>
        <label>Spark Plug VAL Decision</label>
        <locationX>182</locationX>
        <locationY>2126</locationY>
        <defaultConnector>
            <targetReference>Add_All_Questions_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ID_SPARK_PLUG_QUESTION_MISSING_REQUIRED_FIELDS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ID_SPARK_PLUG_DEC_FOR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cooler_Belt_Question_0_0_0_0_0_0</targetReference>
            </connector>
            <label>SPARK PLUG QUESTION MISSING REQUIRED FIELDS</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision looks to see if the Cooler Belt Question was answered Yes and if so if the user provided a date and and action taken If not it will present him with a second Screen</description>
        <name>RecordId_Cooler_Belt_VAL_Decision</name>
        <label>Cooler Belt VAL Decision</label>
        <locationX>622</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>RecordId_Engine_Hose_VAL_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordIdCOOLER_BELTS_QUESTION_MISSING_REQUIRED_FIELDS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordId_Cooler_Drive_Belt_DEC_FOR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cooler_Belt_Question_0_0_0</targetReference>
            </connector>
            <label>COOLER BELTS QUESTION MISSING REQUIRED FIELDS</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordID_ENGINE_DRIVE_BELTS_VAL_DECISION</name>
        <label>ENGINE DRIVE BELTS VAL DECISION</label>
        <locationX>622</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>RecordId_Cooler_Belt_VAL_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordId_ENGINE_DRIVE_BELTS_QUESTION_MISSING_REQUIRED_FIELDS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordId_Engine_Drive_Belt_DEC_FOR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Engine_Question_Validation_0_0</targetReference>
            </connector>
            <label>ENGINE DRIVE BELTS QUESTION MISSING REQUIRED FIELDS</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision looks to see if the Engine Hose Leak Question was answered Yes and if so if the user provided a date and and action taken If not it will present him with a second Screen</description>
        <name>RecordId_Engine_Hose_VAL_Decision</name>
        <label>Engine Hose VAL Decision</label>
        <locationX>622</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>RecordId_Spark_Plug_VAL_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordId_ENGINE_HOSES_QUESTION_MISSING_REQUIRED_FIELDS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordId_Engine_Hose_Leak_DEC_FOR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ENGINE_HOSE_Question_VAL_TEXT_0</targetReference>
            </connector>
            <label>ENGINE HOSES QUESTION MISSING REQUIRED FIELDS</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision looks to see if the SPark Plug Question was answered Yes and if so if the user provided a date and and action taken If not it will present him with a second Screen</description>
        <name>RecordId_Spark_Plug_VAL_Decision</name>
        <label>Spark Plug VAL Decision</label>
        <locationX>622</locationX>
        <locationY>2126</locationY>
        <defaultConnector>
            <targetReference>Add_All_Questions_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordIdSPARK_PLUG_QUESTION_MISSING_REQUIRED_FIELDS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordId_SPARK_PLUG_DEC_FOR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cooler_Belt_Question_0_0_0_0_0</targetReference>
            </connector>
            <label>SPARK PLUG QUESTION MISSING REQUIRED FIELDS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Record_ID</name>
        <label>Which Record ID</label>
        <locationX>556</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Add_All_Questions_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Id_Which_Record_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Orders_0_0_0</targetReference>
            </connector>
            <label>Id</label>
        </rules>
        <rules>
            <name>recordId_Which_Record_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Orders_0_0</targetReference>
            </connector>
            <label>recordId</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>YES_NO_PICKLIST</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Yes_No__c</picklistField>
        <picklistObject>Maintenance_Assessment_Question__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CreateUserIDVAR</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <description>Formula used to help evaluate the Cooler Belt Decision</description>
        <name>ID_Cooler_Drive_Belt_DEC_FOR</name>
        <dataType>Boolean</dataType>
        <expression>({!ID_COOLER_BELTS_QUESTION}==&quot;Yes&quot; &amp;&amp; ISBLANK({!ID_IF_YES2_DATE_CORRECTED})) || ({!ID_COOLER_BELTS_QUESTION}==&quot;Yes&quot;  &amp;&amp; ISBLANK({!ID_IF_YES2_ACTION_TAKEN}))</expression>
    </formulas>
    <formulas>
        <description>Formula used in the Engine Drive Belt  Validation Decision</description>
        <name>ID_Engine_Drive_Belt_DEC_FOR</name>
        <dataType>Boolean</dataType>
        <expression>({!ID_ENGINE_DRIVE_QUESTION}==&quot;Yes&quot; &amp;&amp; ISBLANK({!ID_IF_YES1_DATE_CORRECTED})) || ({!ID_ENGINE_DRIVE_QUESTION}==&quot;Yes&quot;  &amp;&amp; ISBLANK({!ID_IF_YES1_ACTION_TAKEN}))</expression>
    </formulas>
    <formulas>
        <name>ID_Engine_Hose_Leak_DEC_FOR</name>
        <dataType>Boolean</dataType>
        <expression>({!ID_ENGINE_HOSES_QUESTION}==&quot;Yes&quot; &amp;&amp; ISBLANK({!ID_IF_YES3_DATE_CORRECTED})) || ({!ID_ENGINE_HOSES_QUESTION}==&quot;Yes&quot;  &amp;&amp; ISBLANK({!ID_IF_YES3_ACTION_TAKEN}))</expression>
    </formulas>
    <formulas>
        <description>Formula used to help evaluate the SPARK PLUG Decision</description>
        <name>ID_SPARK_PLUG_DEC_FOR</name>
        <dataType>Boolean</dataType>
        <expression>({!ID_SPARK_PLUGS_QUESTION}==&quot;Yes&quot; &amp;&amp; ISBLANK({!ID_IF_YES4_DATE_CORRECTED})) || ({!ID_SPARK_PLUGS_QUESTION}==&quot;Yes&quot;  &amp;&amp; ISBLANK({!ID_IF_YES4_ACTION_TAKEN}))</expression>
    </formulas>
    <formulas>
        <name>Maintenance_Question_Four</name>
        <dataType>String</dataType>
        <expression>&quot;SPARK PLUGS (USING HANDHELD KV METER) -  IS VOLTAGE OUTSIDE ACCEPTABLE RANGE?&quot;</expression>
    </formulas>
    <formulas>
        <name>Maintenance_Question_One</name>
        <dataType>String</dataType>
        <expression>&quot;ENGINE DRIVE BELTS NEED TO BE TIGHTENED OR REPLACED?&quot;</expression>
    </formulas>
    <formulas>
        <name>Maintenance_Question_Three</name>
        <dataType>String</dataType>
        <expression>&quot;ENGINE HOSES AND/OR PIPING HAVE LEAKS?&quot;</expression>
    </formulas>
    <formulas>
        <name>Maintenance_Question_Two</name>
        <dataType>String</dataType>
        <expression>&quot;COOLER BELTS NEED ADJUSTMENT OR REPLACEMENT?&quot;</expression>
    </formulas>
    <formulas>
        <name>RecordId_Cooler_Drive_Belt_DEC_FOR</name>
        <dataType>Boolean</dataType>
        <expression>({!RecordId_COOLER_BELTS_QUESTION}==&quot;Yes&quot; &amp;&amp; ISBLANK({!RecordId_IF_YES2_DATE_CORRECTED})) || ({!RecordId_COOLER_BELTS_QUESTION}==&quot;Yes&quot;  &amp;&amp; {!RecordId_IF_YES2_ACTION_TAKEN}==NULL)</expression>
    </formulas>
    <formulas>
        <name>RecordId_Engine_Drive_Belt_DEC_FOR</name>
        <dataType>Boolean</dataType>
        <expression>({!RecordId_ENGINE_DRIVE_QUESTION}==&quot;Yes&quot; &amp;&amp; ISBLANK({!RecordId_IF_YES1_DATE_CORRECTED})) || ({!RecordId_ENGINE_DRIVE_QUESTION}==&quot;Yes&quot;  &amp;&amp; {!RecordId_IF_YES1_ACTION_TAKEN}==NULL)</expression>
    </formulas>
    <formulas>
        <name>RecordId_Engine_Hose_Leak_DEC_FOR</name>
        <dataType>Boolean</dataType>
        <expression>({!RecordId_ENGINE_HOSES_QUESTION}==&quot;Yes&quot; &amp;&amp; ISBLANK({!RecordId_IF_YES3_DATE_CORRECTED})) || ({!RecordId_ENGINE_HOSES_QUESTION}==&quot;Yes&quot;  &amp;&amp; {!RecordId_IF_YES3_ACTION_TAKEN}==NULL)</expression>
    </formulas>
    <formulas>
        <name>RecordId_SPARK_PLUG_DEC_FOR</name>
        <dataType>Boolean</dataType>
        <expression>({!RecordId_SPARK_PLUGS_QUESTION}==&quot;Yes&quot; &amp;&amp; ISBLANK({!RecordId_IF_YES4_DATE_CORRECTED})) || ({!RecordId_SPARK_PLUGS_QUESTION}==&quot;Yes&quot;  &amp;&amp; {!RecordId_IF_YES4_ACTION_TAKEN}==NULL)</expression>
    </formulas>
    <formulas>
        <name>USERNameScreenFlow</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} &amp;&#39; &#39;&amp;{!$User.LastName}</expression>
    </formulas>
    <interviewLabel>Maintenance Assessment Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Maintenance Assessment Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Maintenance_Assessment_Form_Record_0</name>
        <label>Create Maintenance Assessment Form Record</label>
        <locationX>622</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>New_Maintenance_Assessment_ID</assignRecordIdToReference>
        <connector>
            <targetReference>MAQ_Initial_Assignment_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engine_Hours__c</field>
            <value>
                <elementReference>RecordId_RECORD_ENGINE_HOURS_ON_WORK_ORDER</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engine_Oil_Sample_from_Test_Port__c</field>
            <value>
                <elementReference>RecordId_DRAW_CLEAN_ENGINE_OIL_SAMPLE_FROM_TEST_PORT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facility__c</field>
            <value>
                <elementReference>Work_Order_Record.AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>General_Comments__c</field>
            <value>
                <elementReference>RecordId_General_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>CreateUserIDVAR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit__c</field>
            <value>
                <elementReference>RecordId_UNIT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Maintenance_Assessment__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Maintenance_Assessment_Form_Record_0_0</name>
        <label>Create Maintenance Assessment Form Record</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>New_Maintenance_Assessment_ID</assignRecordIdToReference>
        <connector>
            <targetReference>MAQ_Initial_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engine_Hours__c</field>
            <value>
                <elementReference>ID_RECORD_ENGINE_HOURS_ON_WORK_ORDER</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engine_Oil_Sample_from_Test_Port__c</field>
            <value>
                <elementReference>ID_DRAW_CLEAN_ENGINE_OIL_SAMPLE_FROM_TEST_PORT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facility__c</field>
            <value>
                <elementReference>WorkOrderRecordV2.AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>General_Comments__c</field>
            <value>
                <elementReference>ID_General_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>CreateUserIDVAR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit__c</field>
            <value>
                <elementReference>ID_UNIT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <object>Maintenance_Assessment__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Maintenance_Questions</name>
        <label>Create Maintenance Questions</label>
        <locationX>556</locationX>
        <locationY>2798</locationY>
        <inputReference>Maintenance_Assessment_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Used To get Record ID&#39;s  needed for back office Flow</description>
        <name>Get_Work_Orders_0_0</name>
        <label>Get Work Orders</label>
        <locationX>622</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Maintenance_Assessment_Checklist_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>Work_Order_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Asset_Name__c</queriedFields>
        <queriedFields>AssetId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Orders_0_0_0</name>
        <label>Get Work Orders</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Maintenance_Assessment_Checklist_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrderRecordV2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Asset_Name__c</queriedFields>
        <queriedFields>AssetId</queriedFields>
    </recordLookups>
    <screens>
        <name>Cooler_Belt_Question_0_0_0</name>
        <label>Cooler Belt Question</label>
        <locationX>490</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Question_2_0_0_0</targetReference>
        </connector>
        <fields>
            <name>RecordID_CoolerValTEXT</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 8, 8);&quot;&gt;BECAUSE YOU INDICATED THE  &lt;/span&gt;&lt;span style=&quot;color: rgb(247, 8, 8);&quot;&gt;COOLER BELTS NEEDED ADJUSTMENT OR REPLACEMENTED&lt;/span&gt;&lt;span style=&quot;color: rgb(247, 8, 8); background-color: rgb(255, 255, 255);&quot;&gt; YOU MUST PROVIDE AN ANSWER TO THE ACTION TAKEN AND WELL AS PROVIDE THE DATE COMPLETED.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RecordID_olerBeltROField_0</name>
            <fieldText>&lt;p&gt;COOLER BELTS NEED ADJUSTMENT OR REPLACEMENT? &lt;b&gt;{!MAQ_Object_Two.Yes_No__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RecordID_IF_YES2_DATE_CORRECTED_VALIDATE_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>MAQ_Object_Two.Date_Corrected__c</elementReference>
            </defaultValue>
            <fieldText>IF YES, DATE CORRECTED</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RecordID_IF_YES2_ACTION_TAKEN_Val_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>MAQ_Object_Two.Action_Taken__c</elementReference>
            </defaultValue>
            <fieldText>IF YES, ACTION TAKEN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cooler_Belt_Question_0_0_0_0</name>
        <label>Cooler Belt Question</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ID_Question_2</targetReference>
        </connector>
        <fields>
            <name>ID_CoolerValTEXT_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 8, 8);&quot;&gt;BECAUSE YOU INDICATED THE  &lt;/span&gt;&lt;span style=&quot;color: rgb(247, 8, 8);&quot;&gt;COOLER BELTS NEEDED ADJUSTMENT OR REPLACEMENTED&lt;/span&gt;&lt;span style=&quot;color: rgb(247, 8, 8); background-color: rgb(255, 255, 255);&quot;&gt; YOU MUST PROVIDE AN ANSWER TO THE ACTION TAKEN AND WELL AS PROVIDE THE DATE COMPLETED.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ID_CoolerBeltROField_0</name>
            <fieldText>&lt;p&gt;COOLER BELTS NEED ADJUSTMENT OR REPLACEMENT? &lt;b&gt;{!MAQ_Object_Two.Yes_No__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ID_IF_YES2_DATE_CORRECTED_VALIDATE</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>MAQ_Object_Two.Date_Corrected__c</elementReference>
            </defaultValue>
            <fieldText>IF YES, DATE CORRECTED</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ID_IF_YES2_ACTION_TAKEN_Val</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>MAQ_Object_Two.Action_Taken__c</elementReference>
            </defaultValue>
            <fieldText>IF YES, ACTION TAKEN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cooler_Belt_Question_0_0_0_0_0</name>
        <label>Cooler Belt Question</label>
        <locationX>490</locationX>
        <locationY>2246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RecordId_Question_4_Assignment_Validation</targetReference>
        </connector>
        <fields>
            <name>RecordId_SparkPlugValTEXT</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 8, 8);&quot;&gt;BECAUSE YOU SAID THE  SPARK PLUG VOLTAGE IS OUTSIDE THE ACCEPTABLE RANGE YOU MUST PROVIDE AN ANSWER TO THE ACTION TAKEN AND PROVIDE THE DATE COMPLETED.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RecordId_SparkPlugROField</name>
            <fieldText>&lt;p&gt;SPARK PLUGS (USING HANDHELD KV METER) - IS VOLTAGE OUTSIDE ACCEPTABLE RANGE? &lt;b&gt; {!MAQ_Object_Four.Yes_No__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RecordId_IF_YES4_DATE_CORRECTED_VALIDATE</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>MAQ_Object_Four.Date_Corrected__c</elementReference>
            </defaultValue>
            <fieldText>IF YES, DATE CORRECTED</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RecordId_IF_YES4_ACTION_TAKEN_Val</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>MAQ_Object_Four.Action_Taken__c</elementReference>
            </defaultValue>
            <fieldText>IF YES, ACTION TAKEN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cooler_Belt_Question_0_0_0_0_0_0</name>
        <label>Cooler Belt Question</label>
        <locationX>50</locationX>
        <locationY>2246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ID_Question_4_Assignment_Validation</targetReference>
        </connector>
        <fields>
            <name>ID_SparkPlugValTEXT</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 8, 8);&quot;&gt;BECAUSE YOU SAID THE  SPARK PLUG VOLTAGE IS OUTSIDE THE ACCEPTABLE RANGE YOU MUST PROVIDE AN ANSWER TO THE ACTION TAKEN AND PROVIDE THE DATE COMPLETED.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ID_SparkPlugROField</name>
            <fieldText>&lt;p&gt;SPARK PLUGS (USING HANDHELD KV METER) - IS VOLTAGE OUTSIDE ACCEPTABLE RANGE? &lt;b&gt; {!MAQ_Object_Four.Yes_No__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ID_IF_YES4_DATE_CORRECTED_VALIDATE</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>MAQ_Object_Four.Date_Corrected__c</elementReference>
            </defaultValue>
            <fieldText>IF YES, DATE CORRECTED</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ID_IF_YES4_ACTION_TAKEN_Val</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>MAQ_Object_Four.Action_Taken__c</elementReference>
            </defaultValue>
            <fieldText>IF YES, ACTION TAKEN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ENGINE_HOSE_Question_VAL_TEXT_0</name>
        <label>ENGINE HOSE Question VAL TEXT</label>
        <locationX>490</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Question_3_Assignment_Validation_0_0</targetReference>
        </connector>
        <fields>
            <name>RecordId_EngineHoseValTEXT</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 8, 8);&quot;&gt;BECAUSE YOU IIDICATED A LEAK IN THE ENGIVE HOSE AND OR PIPINGYOU MUST PROVIDE AN ANSWER TO THE ACTION TAKEN AND WELL AS PROVIDE THE DATE COMPLETED.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RecordId_EngineHoseROField</name>
            <fieldText>&lt;p&gt;ENGINE HOSES AND/OR PIPING HAVE LEAKS?&lt;b&gt; {!MAQ_Object_Three.Yes_No__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RecordId_IF_YES3_DATE_CORRECTED_VALIDATE</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>MAQ_Object_Three.Date_Corrected__c</elementReference>
            </defaultValue>
            <fieldText>IF YES, DATE CORRECTED</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RecordId_IF_YES3_ACTION_TAKEN_Val</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>MAQ_Object_Three.Action_Taken__c</elementReference>
            </defaultValue>
            <fieldText>IF YES, ACTION TAKEN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Engine_Question_Validation_0</name>
        <label>Engine Question Validation</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Question_1_Assignment_Validation_0</targetReference>
        </connector>
        <fields>
            <name>ID_Drive_Train_Question_Val_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 70, 8);&quot;&gt;BECAUSE YOU INDICATED THE ENGINE DRIVE BELTS NEED TO BE TIGHTENED OR REPLACED, YOU MUST PROVIDE AN ANSWER TO THE ACTION TAKEN ANDS PROVIDE THE DATE COMPLETED.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ID_ENGINEDriveRO</name>
            <fieldText>&lt;p&gt;ENGINE DRIVE BELTS NEED TO BE TIGHTENED OR REPLACED ? &lt;b&gt;{!MAQ_Object_One.Yes_No__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ID_IF_YES1_DATE_CORRECTED_VAL</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>MAQ_Object_One.Date_Corrected__c</elementReference>
            </defaultValue>
            <fieldText>IF YES, DATE CORRECTED</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ID_IF_YES1_ACTION_TAKEN_Val</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>MAQ_Object_One.Action_Taken__c</elementReference>
            </defaultValue>
            <fieldText>IF YES, ACTION TAKEN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Engine_Question_Validation_0_0</name>
        <label>Engine Question Validation</label>
        <locationX>490</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Question_1_Assignment_Validation_0_0</targetReference>
        </connector>
        <fields>
            <name>RecordId_Drive_Train_Question_Val_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 70, 8);&quot;&gt;BECAUSE YOU INDICATED THE ENGINE DRIVE BELTS NEED TO BE TIGHTENED OR REPLACED, YOU MUST PROVIDE AN ANSWER TO THE ACTION TAKEN ANDS PROVIDE THE DATE COMPLETED.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RecordId_ENGINEDriveRO</name>
            <fieldText>&lt;p&gt;ENGINE DRIVE BELTS NEED TO BE TIGHTENED OR REPLACED ? &lt;b&gt;{!MAQ_Object_One.Yes_No__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RecordId_IF_YES1_DATE_CORRECTED_VAL</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>MAQ_Object_One.Date_Corrected__c</elementReference>
            </defaultValue>
            <fieldText>IF YES, DATE CORRECTED</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RecordId_IF_YES1_ACTION_TAKEN_Val</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>MAQ_Object_One.Action_Taken__c</elementReference>
            </defaultValue>
            <fieldText>IF YES, ACTION TAKEN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ID_ENGINE_HOSE_Question_VAL_TEXT</name>
        <label>ENGINE HOSE Question VAL TEXT</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Question_3_Assignment_Validation_0</targetReference>
        </connector>
        <fields>
            <name>EngineHoseValTEXT_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 8, 8);&quot;&gt;BECAUSE YOU IIDICATED A LEAK IN THE ENGIVE HOSE AND OR PIPINGYOU MUST PROVIDE AN ANSWER TO THE ACTION TAKEN AND WELL AS PROVIDE THE DATE COMPLETED.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ID_EngineHoseROField</name>
            <fieldText>&lt;p&gt;ENGINE HOSES AND/OR PIPING HAVE LEAKS?&lt;b&gt; {!MAQ_Object_Three.Yes_No__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ID_IF_YES3_DATE_CORRECTED_VALIDATE</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>MAQ_Object_Three.Date_Corrected__c</elementReference>
            </defaultValue>
            <fieldText>IF YES, DATE CORRECTED</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ID_IF_YES3_ACTION_TAKEN_Val</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>MAQ_Object_Three.Action_Taken__c</elementReference>
            </defaultValue>
            <fieldText>IF YES, ACTION TAKEN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Maintenance_Assessment_Checklist_0</name>
        <label>Maintenance Assessment Checklist</label>
        <locationX>622</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Maintenance_Assessment_Form_Record_0</targetReference>
        </connector>
        <fields>
            <name>Facility_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Facility :&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Work_Order_Record.Asset_Name__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RecordId_UNIT</name>
            <dataType>String</dataType>
            <fieldText>UNIT #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RecordId_RECORD_ENGINE_HOURS_ON_WORK_ORDER</name>
            <dataType>Number</dataType>
            <fieldText>RECORD ENGINE HOURS ON WORK ORDER:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>RecordId_DRAW_CLEAN_ENGINE_OIL_SAMPLE_FROM_TEST_PORT</name>
            <dataType>Boolean</dataType>
            <fieldText>DRAW CLEAN ENGINE OIL SAMPLE FROM TEST PORT</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RecordId_General_Comments</name>
            <fieldText>General Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then32,768 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!RecordId_General_Comments})&lt;32768</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>RecordId_ENGINE_DRIVE_QUESTION</name>
            <choiceReferences>YES_NO_PICKLIST</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>None</stringValue>
            </defaultValue>
            <fieldText>ENGINE DRIVE BELTS NEED TO BE TIGHTENED OR REPLACED?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RecordId_IF_YES1_DATE_CORRECTED</name>
            <dataType>Date</dataType>
            <fieldText>IF YES, DATE CORRECTED</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RecordId_IF_YES1_ACTION_TAKEN</name>
            <dataType>String</dataType>
            <fieldText>IF YES, ACTION TAKEN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RecordId_COOLER_BELTS_QUESTION</name>
            <choiceReferences>YES_NO_PICKLIST</choiceReferences>
            <dataType>String</dataType>
            <fieldText>COOLER BELTS NEED ADJUSTMENT OR REPLACEMENT?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RecordId_IF_YES2_DATE_CORRECTED</name>
            <dataType>Date</dataType>
            <fieldText>IF YES, DATE CORRECTED</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RecordId_IF_YES2_ACTION_TAKEN</name>
            <dataType>String</dataType>
            <fieldText>IF YES, ACTION TAKEN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RecordId_ENGINE_HOSES_QUESTION</name>
            <choiceReferences>YES_NO_PICKLIST</choiceReferences>
            <dataType>String</dataType>
            <fieldText>ENGINE HOSES AND/OR PIPING HAVE LEAKS?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RecordId_IF_YES3_DATE_CORRECTED</name>
            <dataType>Date</dataType>
            <fieldText>IF YES, DATE CORRECTED</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RecordId_IF_YES3_ACTION_TAKEN</name>
            <dataType>String</dataType>
            <fieldText>IF YES, ACTION TAKEN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RecordId_SPARK_PLUGS_QUESTION</name>
            <choiceReferences>YES_NO_PICKLIST</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SPARK PLUGS (USING HANDHELD KV METER) - IS VOLTAGE OUTSIDE ACCEPTABLE RANGE?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RecordId_IF_YES4_DATE_CORRECTED</name>
            <dataType>Date</dataType>
            <fieldText>IF YES, DATE CORRECTED</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RecordId_IF_YES4_ACTION_TAKEN</name>
            <dataType>String</dataType>
            <fieldText>IF YES, ACTION TAKEN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Maintenance_Assessment_Checklist_0_0</name>
        <label>Maintenance Assessment Checklist</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Maintenance_Assessment_Form_Record_0_0</targetReference>
        </connector>
        <fields>
            <name>Facility_0_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Facility :&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!WorkOrderRecordV2.Asset_Name__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ID_UNIT</name>
            <dataType>String</dataType>
            <fieldText>UNIT #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ID_RECORD_ENGINE_HOURS_ON_WORK_ORDER</name>
            <dataType>Number</dataType>
            <fieldText>RECORD ENGINE HOURS ON WORK ORDER:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>ID_DRAW_CLEAN_ENGINE_OIL_SAMPLE_FROM_TEST_PORT</name>
            <dataType>Boolean</dataType>
            <fieldText>DRAW CLEAN ENGINE OIL SAMPLE FROM TEST PORT</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ID_General_Comments</name>
            <fieldText>General Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then32,768 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!ID_General_Comments})&lt;32768</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>ID_ENGINE_DRIVE_QUESTION</name>
            <choiceReferences>YES_NO_PICKLIST</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>None</stringValue>
            </defaultValue>
            <fieldText>ENGINE DRIVE BELTS NEED TO BE TIGHTENED OR REPLACED?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ID_IF_YES1_DATE_CORRECTED</name>
            <dataType>Date</dataType>
            <fieldText>IF YES, DATE CORRECTED</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ID_IF_YES1_ACTION_TAKEN</name>
            <dataType>String</dataType>
            <fieldText>IF YES, ACTION TAKEN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ID_COOLER_BELTS_QUESTION</name>
            <choiceReferences>YES_NO_PICKLIST</choiceReferences>
            <dataType>String</dataType>
            <fieldText>COOLER BELTS NEED ADJUSTMENT OR REPLACEMENT?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ID_IF_YES2_DATE_CORRECTED</name>
            <dataType>Date</dataType>
            <fieldText>IF YES, DATE CORRECTED</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ID_IF_YES2_ACTION_TAKEN</name>
            <dataType>String</dataType>
            <fieldText>IF YES, ACTION TAKEN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ID_ENGINE_HOSES_QUESTION</name>
            <choiceReferences>YES_NO_PICKLIST</choiceReferences>
            <dataType>String</dataType>
            <fieldText>ENGINE HOSES AND/OR PIPING HAVE LEAKS?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ID_IF_YES3_DATE_CORRECTED</name>
            <dataType>Date</dataType>
            <fieldText>IF YES, DATE CORRECTED</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ID_IF_YES3_ACTION_TAKEN</name>
            <dataType>String</dataType>
            <fieldText>IF YES, ACTION TAKEN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ID_SPARK_PLUGS_QUESTION</name>
            <choiceReferences>YES_NO_PICKLIST</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SPARK PLUGS (USING HANDHELD KV METER) - IS VOLTAGE OUTSIDE ACCEPTABLE RANGE?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ID_IF_YES4_DATE_CORRECTED</name>
            <dataType>Date</dataType>
            <fieldText>IF YES, DATE CORRECTED</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ID_IF_YES4_ACTION_TAKEN</name>
            <dataType>String</dataType>
            <fieldText>IF YES, ACTION TAKEN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>430</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_Record_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetWorkOrderAssetVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MA_Object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Maintenance_Assessment__c</objectType>
    </variables>
    <variables>
        <name>Maintenance_Assessment_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Maintenance_Assessment_Question__c</objectType>
    </variables>
    <variables>
        <name>MaintenanceRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Maintenance_Assessment__c</objectType>
    </variables>
    <variables>
        <name>MAQ1_Yes_NO_VAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MAQ2_Yes_NO_VAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MAQ3_Yes_NO_VAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MAQ4_Yes_NO_VAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MAQ_Object_Four</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Maintenance_Assessment_Question__c</objectType>
    </variables>
    <variables>
        <name>MAQ_Object_One</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Maintenance_Assessment_Question__c</objectType>
    </variables>
    <variables>
        <name>MAQ_Object_Three</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Maintenance_Assessment_Question__c</objectType>
    </variables>
    <variables>
        <name>MAQ_Object_Two</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Maintenance_Assessment_Question__c</objectType>
    </variables>
    <variables>
        <name>New_Maintenance_Assessment_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Work_Order_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkOrderRecordV2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
