unpackaged/main/default/flows/New_WO_Create_JSA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>New WO Create JSA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New WO Create JSA</label>
    <loops>
        <name>Loop_through_all_JSA_forms</name>
        <label>Loop through all JSA forms</label>
        <locationX>579</locationX>
        <locationY>238</locationY>
        <collectionReference>Get_JSA_Forms</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_WOJSA</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_WOJSA</name>
        <label>Create WOJSA</label>
        <locationX>741</locationX>
        <locationY>238</locationY>
        <connector>
            <targetReference>Loop_through_all_JSA_forms</targetReference>
        </connector>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>Loop_through_all_JSA_forms.Asset__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form__c</field>
            <value>
                <elementReference>Loop_through_all_JSA_forms.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_JSAs__c</field>
            <value>
                <elementReference>Loop_through_all_JSA_forms.JSA_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </inputAssignments>
        <object>Work_Order_JSA__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_JSA_Forms</name>
        <label>Get JSA Forms</label>
        <locationX>440</locationX>
        <locationY>238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_JSA_forms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order.Asset.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>JSA_Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order.Location__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>301</locationX>
        <locationY>238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_JSA_Forms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>JSA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>176</locationX>
        <locationY>238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>WOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
