unpackaged/main/default/flows/Procedures.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Hot_Water_Treatment_Casing</name>
        <choiceText>Hot Water Treatment Casing</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Hot_Water_Treatment_Tubing</name>
        <choiceText>Hot Water Treatment Tubing</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Measurement_Error_Troubleshoot</name>
        <choiceText>Measurement Error Troubleshoot</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Measurement_Meter_Calibration</name>
        <choiceText>Measurement Meter Calibration</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Measurement_Task_Troubleshoot</name>
        <choiceText>Measurement Task Troubleshoot</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Pipeline_Receiving_Launching</name>
        <choiceText>Pipeline Receiving Launching</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Pipeline_ROW_Survey</name>
        <choiceText>Pipeline ROW Survey</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Rocking_Gaslift</name>
        <choiceText>Rocking Gaslift</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Task_Troubleshoot</name>
        <choiceText>Measurement Task Troubleshoot</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Unloading_Gaslift</name>
        <choiceText>Unloading Gaslift</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Gaslift_Choice</name>
        <label>Gaslift Type</label>
        <locationX>6914</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unloading_Gaslift_Procedure</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>Unloading_Gaslift</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unloading_Procedure</targetReference>
            </connector>
            <label>Unloading Gaslift</label>
        </rules>
        <rules>
            <name>Rocking_Gaslift_Procedure</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>Rocking_Gaslift</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rocking_Procedure</targetReference>
            </connector>
            <label>Rocking Gaslift</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hot_Water_Treatment_Choice</name>
        <label>Hot Water Treatment Type</label>
        <locationX>6122</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hot_Water_Treatment_Tubing_Procedure</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>Hot_Water_Treatment_Tubing</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tubing_Procedure</targetReference>
            </connector>
            <label>Hot Water Treatment Tubing</label>
        </rules>
        <rules>
            <name>Hot_Water_Treatment_Casing_Procedure</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>Hot_Water_Treatment_Casing</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Casing_Procedure</targetReference>
            </connector>
            <label>Hot Water Treatment Casing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Measurement_Choice</name>
        <label>Measurement Type</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Measurement_Error_Troubleshoot_Procedure</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>Measurement_Error_Troubleshoot</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Troubleshoot_Procedure</targetReference>
            </connector>
            <label>Measurement Error Troubleshoot</label>
        </rules>
        <rules>
            <name>Measurement_Meter_Calibration_Procedure</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>Measurement_Meter_Calibration</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Meter_Calibration_Procedure</targetReference>
            </connector>
            <label>Measurement Meter Calibration</label>
        </rules>
        <rules>
            <name>Measurement_Task_Troubleshoot_Procedure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Task_Troubleshoot</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Troubleshoot_Procedure</targetReference>
            </connector>
            <label>Measurement Task Troubleshoot</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pipeline_Choice</name>
        <label>Pipeline Type</label>
        <locationX>2162</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pipeline_Receiving_Launching_Procedure</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>Pipeline_Receiving_Launching</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Receiving_Launching_Procedure</targetReference>
            </connector>
            <label>Pipeline Receiving Launching</label>
        </rules>
        <rules>
            <name>Pipeline_ROW_Survey_Procedure</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>Pipeline_ROW_Survey</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ROW_Survey_Procedure</targetReference>
            </connector>
            <label>Pipeline ROW Survey</label>
        </rules>
    </decisions>
    <decisions>
        <name>Procedure_Type</name>
        <label>Procedure Type</label>
        <locationX>3878</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Instrumentation</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Instrumentation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corrective_Maintenance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preventative_Maintenance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Instrumentation_Procedure</targetReference>
            </connector>
            <label>Instrumentation</label>
        </rules>
        <rules>
            <name>Measurement</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Measurement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corrective_Maintenance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preventative_Maintenance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Downtime</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non_Downtime</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Measurement_Picklist</targetReference>
            </connector>
            <label>Measurement</label>
        </rules>
        <rules>
            <name>Line_Locate</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Line Locate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corrective_Maintenance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preventative_Maintenance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Line_Locate_Procedure</targetReference>
            </connector>
            <label>Line Locate</label>
        </rules>
        <rules>
            <name>Communication</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Communication</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corrective_Maintenance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preventative_Maintenance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Communication_Procedure</targetReference>
            </connector>
            <label>Communication</label>
        </rules>
        <rules>
            <name>Pipeline</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corrective_Maintenance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preventative_Maintenance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pipeline_Picklist</targetReference>
            </connector>
            <label>Pipeline</label>
        </rules>
        <rules>
            <name>Pigging_Line</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pigging Line</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corrective_Maintenance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preventative_Maintenance</stringValue>
                </rightValue>
            </conditions>
            <label>Pigging Line</label>
        </rules>
        <rules>
            <name>Gas_Meter_Calibration</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gas Meter Calibration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corrective_Maintenance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preventative_Maintenance</stringValue>
                </rightValue>
            </conditions>
            <label>Gas Meter Calibration</label>
        </rules>
        <rules>
            <name>Bring_Well_Online</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bring Well Online</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Downtime</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non_Downtime</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bring_Well_Online_Procedure</targetReference>
            </connector>
            <label>Bring Well Online</label>
        </rules>
        <rules>
            <name>Bring_Compressor_Online</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bring Compressor Online</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Downtime</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non_Downtime</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bring_Compressor_Online_Procedure</targetReference>
            </connector>
            <label>Bring Compressor Online</label>
        </rules>
        <rules>
            <name>Bring_POD_Online</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bring POD Online</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Downtime</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non_Downtime</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bring_POD_Online_Procedure</targetReference>
            </connector>
            <label>Bring POD Online</label>
        </rules>
        <rules>
            <name>Pressure_Optimization</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pressure Optimization</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Downtime</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non_Downtime</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pressure_Optimization_Procedure</targetReference>
            </connector>
            <label>Pressure Optimization</label>
        </rules>
        <rules>
            <name>Hydrates</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hydrates</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Downtime</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non_Downtime</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hydrates_Procedure</targetReference>
            </connector>
            <label>Hydrates</label>
        </rules>
        <rules>
            <name>Fuel_Gas_Scrubber_Liquid_Level</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fuel Gas Scrubber Liquid Level</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Downtime</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non_Downtime</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operations_Supply_Gas_Swapping_to_Air_Procedure</targetReference>
            </connector>
            <label>Fuel Gas Scrubber Liquid Level</label>
        </rules>
        <rules>
            <name>Plunger_Service</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plunger Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plunger_Service_Procedure</targetReference>
            </connector>
            <label>Plunger Service</label>
        </rules>
        <rules>
            <name>Blowdown</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blowdown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blowdown_Procedure</targetReference>
            </connector>
            <label>Blowdown</label>
        </rules>
        <rules>
            <name>Wireline</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wireline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wireline_Procedure</targetReference>
            </connector>
            <label>Wireline</label>
        </rules>
        <rules>
            <name>Swabbing</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Swabbing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Swabbing_Procedure</targetReference>
            </connector>
            <label>Swabbing</label>
        </rules>
        <rules>
            <name>Hot_Water_Treatment</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hot Water Treatment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hot_Water_Picklist</targetReference>
            </connector>
            <label>Hot Water Treatment</label>
        </rules>
        <rules>
            <name>Gaslift</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gaslift</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gaslift_Picklist</targetReference>
            </connector>
            <label>Gaslift</label>
        </rules>
        <rules>
            <name>Air_Compressor</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord_Var.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Air Compressor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Air_Compressor_Procedure</targetReference>
            </connector>
            <label>Air Compressor</label>
        </rules>
    </decisions>
    <description>Updated Maintenance Procedures 3-16-22</description>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Procedures {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Procedures</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>3878</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Procedure_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrderRecord_Var</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Primary__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Record_Type_Developer_Name__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>3878</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecord_Var.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Procedures_Read__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Read_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <name>Air_Compressor_Procedure</name>
        <label>Air Compressor Procedure</label>
        <locationX>7442</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <fields>
            <name>Procedure_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;Swapping Fuel Gas Vessel to Air&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Observe windsock and wind direction prior to starting operation. Ensure that you have all your required PPE including hard hat, safety glasses, steel toed shoes, four gas monitor, FRC, hand protection and hearing protection.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Shut the natural gas inlet.&amp;nbsp;Close the natural gas outlet coming out of the fuel scrubber. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Remove lock from the instrument air 1 inch inlet ball valve, which should be in the closed position. Move the same lock to Natural Gas inlet ball valve that was closed in step 2 and lock out.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Bleed line down to atmosphere from fuel scrubber outlet to separator controllers. (&lt;/span&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;Hazard:&lt;/b&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt; Condensate and gas vapors pose an explosion hazard.)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Slowly&lt;/span&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt; &lt;/b&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;open instrument air from inlet. Purge remaining gas with instrument air. (&lt;/span&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;Hazard:&lt;/b&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt; Opening too fast could over pressure the system. Stand to the side when releasing or purging gas.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Blowdown_Procedure</name>
        <label>Blowdown Procedure</label>
        <locationX>5066</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <fields>
            <name>Procedure_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;Well Blowdown:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Ensure that you have all your required PPE including hard hat, safety glasses, steel toed shoes, 4 gas monitoring device, and FRC. Check for wind indicator and condition prior to commencing any blowdown operations.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Close the wing valve, choke, and the flowline valve. Place the appropriate locking device and place a Do Not Operate&lt;/span&gt;&lt;b style=&quot;font-size: 12pt; color: red;&quot;&gt; &lt;/b&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;tag on the flowline valve. Hazards: pinch points and/or over exertion.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Bypass HI/LO Safety System and override Safety Valve (SDV) by shutting needle valve located under stick pilot. Place a Do Not Operate tag. Hazard: Pinch point &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Bleed off Service Valve on Hairpin. Hazards: H2S, Hazardous or flammable atmosphere, trapped pressure and fluids&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Move in the towable open top tank and stage it down wind of the wellhead. Make the connection from the open top tank gas buster to the service valve on the hair pin. Ground tank to hair pin or wellhead. Note ground wire needs to be upstream of any isolation kit that may be on the flowline. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Install a sign at the entrance to the pad. No entry into Hot Zone during well venting without authorization.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Ensure that personnel, trucks, equipment, and any ignition source are clear and upwind of blowdown operations. Remember to position vehicles so that forward motion is first. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Open the Service Valve. Hazard: Pinch points&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Open well to tank and regulate flow to desired rate through choke. Start the choke at zero before opening any other wellhead valves. Be cautious to always stay up wind during blow down operations.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;When blowdown operations are complete, close the Service Valve and then remove the appropriate locking device and DO NOT OPERATE tag and open the Flowline valve, if well is being returned to production.&amp;nbsp;Hazards: H2S, LEL, trapped pressure and fluids&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Place HI/LO System back in service and remove override from SDV. Remove DO NOT OPERATE tag.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Return well to production equipment as it resumes normal flow.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Bring_Compressor_Online_Procedure</name>
        <label>Bring Compressor Online Procedure</label>
        <locationX>3482</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <fields>
            <name>Procedure_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Bring_POD_Online_Procedure</name>
        <label>Bring POD Online Procedure</label>
        <locationX>3746</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <fields>
            <name>Procedure_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;POD Start-Up &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Ensure that you have all your required PPE including work gloves, safety glasses, FRC, safety shoes, hard hat, personal 4 Gas monitor, and hearing protection. Observe windsock and wind direction prior to starting operation.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Before starting any equipment, it is important to walk through all the piping and ensure all the valves are in the correct position, and all safety systems are in place (PSV’s, Shutdown alarms, etc.). &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Reset tank meter and ensure the meter has cleared.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Check fuel scrubber vessel: See Fuel Gas SOPs below.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Once fuel gas has been checked then you can bring on the compressor: See Compressor SOPs.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Walk down pod and verify all safety systems are in service.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Bring_Well_Online_Procedure</name>
        <label>Bring Well Online Procedure</label>
        <locationX>3218</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <fields>
            <name>Procedure_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;Start-Up of Edwards and Eagle Ford Well&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Ensure that you have all your required PPE including hard hat, safety glasses, safety shoes, 4 gas monitoring device, and FRC.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Check all tree valves, casing valves, flowline valves, adjustable choke, and all other valves from wellhead are in the closed position.&amp;nbsp;(Hazards: pressure, leaks, and leaking valves) &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Walk through system and verify all equipment, and personnel are clear for safe operation.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Fully open wing valve and pressure up to adjustable choke. Open adjustable choke to desired rate. (Hazards: pinch points, pressure)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Ensure the Hi/LO relay is in service and not bypassed.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Check entire system for leaks. Check levels on separator. (Hazards: pressure, leaks, and leaking valves)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Open the well to the recommended flow rate.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Casing_Procedure</name>
        <label>Hot Water Treatment Casing Procedure</label>
        <locationX>6122</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <fields>
            <name>Procedure_0_0_0_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;Hot Water Treatment Casing:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Complete a JSA and hold a Tailgate Meeting.&amp;nbsp;Ensure that you have all your required PPE including hard hat, safety glasses, steel toed shoes, 4 gas monitoring device, and FRC. Check for wind indicator and condition prior to commencing any blowdown operations.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Spot hot oil truck and transport up wind of well and/or equipment. Hazards: Flash fire, flash back from burner, ignition source, whipping hose, trapped pressure and exceeding equipment pressure rating.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;LOTO 2” 600 series ball valve that is up stream of check where line comes up from the ground.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Hook up Hot Oil Truck’s high-pressure hose to 2” ball valve located on Gas lift line and/or casing valve.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Pressure test to 1500 psi and then equalize to casing pressure.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Start pumping ¼ BPM and allow truck to reach desired temp (do not exceed 220 degrees).&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Bring truck up to desired rate and pump designated bbl. count &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Allow truck to cool down on the last 5 bbls so the equipment can be removed safely &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Shut of pump and close and lock service valve (open trucks bypass valve if needed)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Remove trucks high pressure hose and return bull plug to 2” valve and/or casing valve.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Communication_Procedure</name>
        <label>Communication Procedure</label>
        <locationX>1634</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <fields>
            <name>Procedure_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;Communication Issue Troubleshoot&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;If multiple personnel are involved hold a tailgate meeting and discuss the job scope. Ensure you have all the required PPE including hard hat, safety glasses, hearing protection, steel toed shoes, 4 gas monitoring device, and FRC. Check wind direction and weather conditions prior to starting the task.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Hazards:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Working from elevated surfaces&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Flammable or hazardous atmosphere&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Arcing or sparking&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Housekeeping&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Bypassing a safety device&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Freewave Ethernet&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Confirm power source&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;If locally connected to radio and cannot enter radio through Freewave Toolsuite, with correct prot-4 settings, or cannot ping know IP address of radio – replace radio&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;If can enter radio and confirm all correct settings – check local hardware~ i.e., antenna integrity, co-axial cable condition, polyphaser, and radio pigtail&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Confirm connection lights on radio – will have one red and one green&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Confirm link light on Totalflow board&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Confirm Network IP settings in Totalflow&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;If continuing comms issue at the same site and device – check network for duplicate IP addresses&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Troubleshoot_Procedure</name>
        <label>Measurement Error Troubleshoot Procedure</label>
        <locationX>314</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <fields>
            <name>Procedure_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;Measurement&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;If multiple personnel are involved hold a tailgate meeting and discuss the job scope. Ensure you have all the required PPE including hard hat, safety glasses, hearing protection, steel toed shoes, 4 gas monitoring device, and FRC. Check wind direction and weather conditions prior to starting the task.&lt;/p&gt;&lt;p&gt;Hazards:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Gas and fluid leak&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Fire or explosion&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Valves not in the correct position&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Blocked flow&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;High pressure&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Loud Noise&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Flammable or hazardous atmosphere&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Trapped pressure&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;H2S exposure&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;In the line of fire&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Housekeeping&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Arcing or sparking&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Bypassing a safety device&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Gas Meter&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Blow down meter to atmosphere – reference SP~14.7, DP~0, and Temp~ with fluke meter&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;If issue found calibrate meter and perform checks after calibration&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;If all valves appear good – check plate size in meter run can confirm size in meter&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Is the orifice plate bevel downstream&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Coriolis&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Isolate downstream valve from meter and verify zero&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;If zero fails – can calibrate zero, proof meter&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;No Density/Comms – confirm comms from Transmitter to core, if good- power cycle transmitter, if still no comms-replace RS-485 comm card in the Totalflow&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Also, confirm pulse inputs all the way to the AGA-7 app&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Water Turbine&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Manually dump water line and check for pulses to AGA-7 app&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Confirm settings and K-Factor in MC-III meter&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Trigger Mag pick to simulate flowrate&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;If no flow by simulation – problem is between MC-III and Totalflow&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;If simulation works – pull turbine body and inspect&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Gaslift_Picklist</name>
        <label>Gaslift_Picklist</label>
        <locationX>6914</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Gaslift_Choice</targetReference>
        </connector>
        <fields>
            <name>Gaslift_Type</name>
            <choiceReferences>Unloading_Gaslift</choiceReferences>
            <choiceReferences>Rocking_Gaslift</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gaslift Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Hot_Water_Picklist</name>
        <label>Hot Water Picklist</label>
        <locationX>6122</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Hot_Water_Treatment_Choice</targetReference>
        </connector>
        <fields>
            <name>Hot_Water_Treatment_Type</name>
            <choiceReferences>Hot_Water_Treatment_Tubing</choiceReferences>
            <choiceReferences>Hot_Water_Treatment_Casing</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Hot Water Treatment Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Hydrates_Procedure</name>
        <label>Hydrates Procedure</label>
        <locationX>4274</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <fields>
            <name>Procedure_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;Defrosting Hydrates&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Purpose of the SOP: The objective of this SOP is to provide operational standards to guide personnel how to remove an ice plug from Choke, Separator, Hairpin and Meter Tube to prevent harm and damage to equipment. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;PPE required: Hard hat, safety glasses, steel toed boots, personal four gas monitor, hearing protection, hand protection, and FRC’s. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;Defrosting Ice Block from Choke:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Observe windsock and wind direction prior to commencing operation. Gas and fluid leaks are a fire and explosion hazard. Always be aware of wind direction and move up wind in case of gas or fluid release. Be sure to have a fire extinguisher that is full and in working condition at all times to put out an incipient fire. &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Ensure that all PPE is in good working condition, keep non-intrinsically safe electronic devices away from work area. Shut in wing valve first, then upper master valve. Place the appropriate locking devices and DO NOT OPERATE tags. (Hazards: leaking valves, hazardous or flammable atmosphere, and pressure) &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Check the pressure gauge above the crown valve and slowly bleed the pressure off. Place the appropriate locking device and DO NOT OPERATE tag on the flow line valve in the closed position. (Hazards: pressure, leaks, pinch points, and leaking valves) &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Ensure the SDV is wheeled in the correct position to make certain there is no trapped pressure. Bleed the pressure off through the ½” needle valve and check the pressure gauge on the hair pin into grounded metal containment bucket to ensure no pressure. (Hazards: trapped pressure) &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Close the ½’ needle valve and tighten the ½’. Remove the locking device and DO NOT OPERATE tag from the 3” flow line valve and slowly equalize pressure to the hair pin. (Hazards: pressure) &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Put the stick pilot back in service and wheel your SDV back out. Ensure that the positive choke is not leaking pressure. If choke is adjustable, have it set on 0. Remove the locking devices and DO NOT OPERATE tags from upper master and wing valves. Open the Upper master valve to be aware of tubing pressure. (Hazards: pressure)&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;Removing Ice Plug in Separator Gas Production Sales Line&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Ensure that you have all your required PPE including Hard hat, safety glasses, safety shoes, four gas monitor, FRC, hand protection and hearing protection.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Shut in the well using manual wing valve and check to see that SDV is also closed. The well is likely to be down due to high line pressure due to the icy condition of the gas sales line. (If SDV has been activated shut in the wing valve. Lock and tag out the well. If more than one person is working on this project a lock box will be necessary. Follow all LOTO procedures. Place a chain and lock on a closed wing valve to a closed upper master valve.)&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Verify TotalFlow is not showing a flow rate. (If a flowrate is detected cease operation flag the well and notify your supervisor.)&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Verify pressure in vessel is at a safe pressure.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Visually inspect gas sales line. (If valve is closed fully or partially check pressures and open valve.)&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Verify the methanol supply line valve is the open position. Inspect the line for frays, nicks, cuts, or crimps. Check the methanol tank and pump to ensure it has fluid and is pumping. (If valve is closed, open it. If methanol tank is empty or pump is not pumping for any reason, contact your chemical distributor.)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Close ball valve downstream of the (BPV) back pressure valve on gas sales line. (Hazards: pressure)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Close ball valve upstream of the Total Flow Meter on the gas sales line.&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Close valves below the Total Flow Meter.&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Relieve pressure on the Total Flow meter. Close the knob once the pressure is properly relieved. Use grounded metal bucket to catch any fluid that may be present. (Hazards: fumes, and pressure)&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Open valve on gas sales line. Drain until gas has dissipated from the sales line. After gas has dissipated close the valve. (Hazards: fumes, and pressure)&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Wait 30 minutes for methanol to dissolve the icy condition present in the sales line.&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Open the valve upstream of the Total Flow Meter slowly until pressures are equal.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Close the valve. Drain the pressure as indicated in step 12. Repeat every 30 minutes until icy conditions dissipate. (Hazards: fumes, and pressure)&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Open the valves below the Total Flow Meter. Slowly open the ball valve upstream of the Total Flow Meter. Slowly open the valve downstream of the back pressure valve on the gas sales line.&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Bring well back into production. Monitor the line pressure. Monitor vessel pressure for signs for erratic pressure conditions.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;Defrost Ice Plug on the Hairpin Flowline&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Observe windsock and wind direction prior to starting operation.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Always be aware of the wind direction and be prepared to move up wind in case of any gas or fluid leak.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Ensure that you have all your required PPE including hard hat, safety glasses, steel toed shoes, four gas monitor, FRC, hand protection, and hearing protection.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Read pressure on flowline and verify high pressure.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Close the wing valve. Shut the flow line valve. (Hazards: leaking valves, fumes, pinch points and pressure)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Open the 2” valve and needle valve to check pressure with gauge. Verify pressure is zeroed out, remove the gauge, and blow down. (Let the hydrates thaw out). (Hazards: trapped pressure)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Shut the 2” valve and needle valve. If pressure readings still exist, then inject methanol to unplug ice plug. (Hazards: trapped pressure)&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Hook up methanol upstream of the choke. Open the choke all the way. Pump methanol until the ice plug is thawed out.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Open the flow line valve. Open the wing valve. (Hazards: leaking valves, fumes, and pressure)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;Defrosting Ice Plug in Meter Tubing&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Have available and use all required PPE including hard hat, safety glasses, safety footwear, four gas monitor, FRC, and proper hand protection.&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Perform JSA.&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Place bucket under the valves on the meter. Ground the bucket to the skid. Close both of the ½ inch stainless steel ball valves on the sales line that connect from the tubing to the TotalFlow meter. Place the appropriate locking device and &lt;/span&gt;&lt;b style=&quot;font-size: 12pt; color: red;&quot;&gt;DO NOT OPERATE &lt;/b&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;tag on both valves.&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Remove the plug and open the needle valve allowing the ice to blow out. Close the needle valve and repeat as needed on the next needle valve for accurate flow rate and pressure readings. Ensure to close all 3 valves and replace plugs when finished.&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Remove the locking devices and &lt;/span&gt;&lt;b style=&quot;font-size: 12pt; color: red;&quot;&gt;DO NOT OPERATE &lt;/b&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;tags from the ½ inch stainless steel ball valves on the sales line, and then open the ½ inch ball valves on the sales line.&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Open the needle valves to ensure the tubing is free of debris and ice block. Close the valves immediately and replace the plugs. Check the meter for proper pressure readings and flow rate.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Instrumentation_Procedure</name>
        <label>Instrumentation Procedure</label>
        <locationX>50</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <fields>
            <name>Procedure</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;Instrumentation&lt;/b&gt;&lt;/p&gt;&lt;p&gt;If multiple personnel are involved hold a tailgate meeting and discuss the job scope. Ensure you have all the required PPE including hard hat, safety glasses, hearing protection, steel toed shoes, 4 gas monitoring device, and FRC. Check wind direction and weather conditions prior to starting the task.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Hazards:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Gas and fluid leak&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Fire or explosion&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Valves not in the correct position&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Blocked flow&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;High pressure&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Loud Noise&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Flammable atmosphere&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Trapped pressure&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;H2S exposure&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;In the line of fire&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Housekeeping&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Arcing or sparking&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Bypassing a safety device&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Positioners&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;If device is blank or not responding – check for power supply&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;If no power trace to power source – i.e., fuse, module, wiring&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;If device is not reacting – check for instrument supply air&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;If no air, trace source until instrument supply air pressure is found -i.e. possible closed valve, bad regulator, blocked line&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;If power and air are good change device&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Pressure Transmitters&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Device has not signal – check power&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Device is on, but no signal – check voltage on signal wires&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;No signal and good input voltage – change device&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Have signal but sporadic – refer to trends and graphs for further troubleshooting, can calibrate, can delete old cal and re-cal, noise in signal can also be from corroded wires or faulty ground&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Line_Locate_Procedure</name>
        <label>Line Locate Procedure</label>
        <locationX>1370</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <fields>
            <name>Procedure_0_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;Line&lt;/b&gt;&lt;span style=&quot;font-size: 8pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;Locating&lt;/b&gt;&lt;/p&gt;&lt;p&gt;If multiple personnel are involved hold a tailgate meeting and discuss the job scope. Ensure you have all the required PPE including hard hat, safety glasses, hearing protection, steel toed shoes, 4 gas monitoring device, and FRC. Check wind direction and weather conditions prior to starting the task.&lt;/p&gt;&lt;p&gt;Hazards:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Gas and fluid leak&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Fire or explosion&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;High pressure&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Loud Noise&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Flammable or hazardous atmosphere&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Animals&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;H2S exposure&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Arcing or sparking&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Determine what type of ticket you are responding to (Normal, Update, Emergency)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Review the work information section of the ticket for detailed information&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Review the ticket for location (address or coordinates)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Call the contact for details regarding the work&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Mark the assets in the affected area&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Contact the representative on the ticket and let them know the line has been marked.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Measurement_Picklist</name>
        <label>Measurement Picklist</label>
        <locationX>710</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Measurement_Choice</targetReference>
        </connector>
        <fields>
            <name>Measurement_Type</name>
            <choiceReferences>Measurement_Error_Troubleshoot</choiceReferences>
            <choiceReferences>Measurement_Meter_Calibration</choiceReferences>
            <choiceReferences>Task_Troubleshoot</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Measurement Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Meter_Calibration_Procedure</name>
        <label>Measurement Meter Calibration Procedure</label>
        <locationX>578</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <fields>
            <name>Procedure_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;Meter Calibration&lt;/b&gt;&lt;/p&gt;&lt;p&gt;If multiple personnel are involved hold a tailgate meeting and discuss the job scope. Ensure you have all the required PPE including hard hat, safety glasses, hearing protection, steel toed shoes, 4 gas monitoring device, and FRC. Check wind direction and weather conditions prior to starting the task.&lt;/p&gt;&lt;p&gt;Hazards:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Gas and fluid leak&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Fire or explosion&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Valves not in the correct position&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Blocked flow&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;High pressure&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Loud Noise&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Flammable or hazardous atmosphere&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Trapped pressure&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;H2S exposure&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;In the line of fire&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Housekeeping&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Arcing or sparking&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Bypassing a safety device&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Gas Meter&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Temperature&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Wingdings;&quot;&gt;§&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;Setup up Fluke Temp probe into test port on meter run&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Wingdings;&quot;&gt;§&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;Allow to condition for several minutes before comparing readings&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Wingdings;&quot;&gt;§&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;Totalflow Temp should be within 2 degrees of Fluke&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Wingdings;&quot;&gt;§&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;If not – can enter a bias +/- up to 5, if over 5 degrees replace RTD&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Static Pressure&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Wingdings;&quot;&gt;§&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;Isolate and blow meter to atmosphere&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Wingdings;&quot;&gt;§&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;Check 3 ranges with crystal gauge – atmosphere, over 800 psi (for high range), and a midpoint between upper and lower&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Wingdings;&quot;&gt;§&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;If any point check is off greater that 2 psi, calibrate SP and re-check ranges after calibration&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Differential Pressure&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Wingdings;&quot;&gt;§&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;Confirm DP range of the AMU&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Wingdings;&quot;&gt;§&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;Isolate meter manifold so that the High (+) side is blocked-in, and the Low (-) side is vented to atmosphere&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Wingdings;&quot;&gt;§&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;Using PK 400” dead weight tester, connect to the high side for testing&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Wingdings;&quot;&gt;§&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;Start with PK Nitrogen Supply OFF, and VENTED – this is the ZERO&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Wingdings;&quot;&gt;§&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;Then check mid-range at 200” (or 125”)&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Wingdings;&quot;&gt;§&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;Then check High at 400” (or 250”)&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Wingdings;&quot;&gt;§&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;All points tolerance should be with 0.2” – if any points are not within tolerance Calibrate Meter&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Wingdings;&quot;&gt;§&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;Calibrate Zero, then 400”, 300”, 200”, and 100” (or 250”, 187.5”, 125”, 62.5)&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Wingdings;&quot;&gt;§&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;Then repeat checks at Zero, mid-range, and high – confirm they are within tolerances&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Operations_Supply_Gas_Swapping_to_Air_Procedure</name>
        <label>Operations Supply Gas Swapping to Air Procedure</label>
        <locationX>4538</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <fields>
            <name>Procedure_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;Manual Draining of Fuel Gas Supply Vessel&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Have available and use all required PPE including hard hat, safety glasses, safety footwear, 4 gas monitoring device, FRC, and chemical gloves. Identify wind direction and move up wind of work area.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Identify fluid level in the vessel sight glass. (&lt;/span&gt;&lt;b style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Hazard:&lt;/b&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt; If fluid level is higher than the sight glass, there is a high risk of fluid being introduced into the supply gas system and could potentially cause the safety system to fail.)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Check fluid level in the tank that the fluid will drain to. (&lt;/span&gt;&lt;b style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Hazard:&lt;/b&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt; If fluid level is too high in the B/D tank while draining, it will escape thru the top access port causing a spill.)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;SLOWLY open 1” drain ball valve to 25% Open. This valve is located at the bottom of the fuel vessel to allow fluids to drain to the tank. NEVER leave the valve unattended while vessel is being drained. (&lt;/span&gt;&lt;b style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Hazard:&lt;/b&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt; Condensate and gas vapors pose an explosion hazard.)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;As fluid drains out of the vessel, the fluid level will lower in the sight glass. When the fluid level falls below the bottom of the sight glass CLOSE both of the 1” drain ball valves. Fuel Gas Supply Vessels MUST be manually drained as needed. (&lt;/span&gt;&lt;b style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Hazard:&lt;/b&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt; Draining the fluid level too low in the vessel could release a high volume of gas and over pressurize the tank.)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pipeline_Picklist</name>
        <label>Pipeline Picklist</label>
        <locationX>2162</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pipeline_Choice</targetReference>
        </connector>
        <fields>
            <name>Pipeline_Type</name>
            <choiceReferences>Pipeline_Receiving_Launching</choiceReferences>
            <choiceReferences>Pipeline_ROW_Survey</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pipeline Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Plunger_Service_Procedure</name>
        <label>Plunger Service Procedure</label>
        <locationX>4802</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <fields>
            <name>Procedure_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Plunger Service:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Ensure that you have all your required PPE including hard hat, safety glasses, steel toed shoes, 4 gas monitoring device, and FRC. Check for wind indicator and condition prior to commencing any blowdown operations.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Set catch on lubricator. Hazard: Pinch Points &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Monitor cycle time to estimated arrival on ignition. If you notice any issues (fast arrival, gas after arrival and or fluid after arrival) make the needed changes.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;After arrival, shut crown valve. Install the proper locking device and DO NOT OPERATE tag. If more than one person is on location, each authorized employee will affix the Lock Out/Tag Out device to the group lockout device. Hazard: Pinch points &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Shut the ball valve on the flowline Downstream of the plunger Kimray. Install the proper locking device and DO NOT OPERATE tag. If more than one person is on location, each authorized employee will affix the Lock Out/Tag Out device to the group lockout device. Hazard: Pinch Points &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Close the needle valve under the stick pilot to trap-in the pressure.&amp;nbsp;Place a LOTO tag.&amp;nbsp;This will “bypass” the stick pilot. Bleed off pressure through the needle valve on plunger lubricator and hair pen downstream of plunger Kimray. Verify that the pressure has bled off by checking the gauge. Place a tag on the needle valves. Hazard: Pinch points&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Remove lubricator cap, pull plunger with retrieval tool or magnet, and inspect (if all is good, replace plunger and release catcher). Hazards: Pinch points, H2S, Hazardous or explosive atmosphere, trapped pressure and fluids&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Install top of lubricator, remove tag and close needle valves.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Remove lock and open crown valve, release catcher, and let plunger fall. Hazard: Pinch points&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Reset the plunger page in Ignition to “fall delay” to allow the plunger to fall.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Remove lock and open ball valve on hair pen.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 10pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Monitor trip times and production on Ignition.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pressure_Optimization_Procedure</name>
        <label>Pressure Optimization Procedure</label>
        <locationX>4010</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <fields>
            <name>Procedure_0_0_0_0_0_0_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Receiving_Launching_Procedure</name>
        <label>Pipeline Receiving Launching Procedure</label>
        <locationX>1898</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <fields>
            <name>Procedure_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;Pigging&lt;/b&gt;&lt;/p&gt;&lt;p&gt;If multiple personnel are involved hold a tailgate meeting and discuss the job scope. Ensure you have all the required PPE including hard hat, safety glasses, hearing protection, steel toed shoes, 4 gas monitoring device, and FRC. Check wind direction and weather conditions prior to starting the task.&lt;/p&gt;&lt;p&gt;Hazards:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Gas and fluid leak&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Fire or explosion&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Valves not in the correct position&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Blocked flow&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;High pressure&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Loud Noise&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Flammable atmosphere&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Trapped pressure&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Housekeeping&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;H2S exposure&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;In the line of fire&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Pinch Points&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;Receiving a pig&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Isolate the pig receiver&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Depressurize the pig receiver&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Open the pig receiver&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Carefully remove the pig&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Close the pig receiver&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Purge the pig receiver&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Return all valves on receiver back to normal service&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;Launching a pig&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Isolate the pig launcher&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Depressurize the launcher&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Open the pig launcher&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Carefully insert a pig&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Close the pig launcher&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Purge the pig launcher&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Confirm the pig has been launched&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Return all valves on launcher back to normal service&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rocking_Procedure</name>
        <label>Rocking Gaslift Procedure</label>
        <locationX>6914</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <fields>
            <name>Procedure_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;Gas Lift General Guidelines:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;&amp;nbsp;Vendor gas lift design sheet needs to be available for reference – this information should also be available in the Well View tubing component data table (valve open/closing pressure data).&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Ensure all required PPE – gloves, safety glasses, hard hat, 4-gas monitor, FRC’s, and hearing protection are utilized.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Initial liquid displacement to the top valve should be carefully controlled as it is most susceptible to damage because the liquid column from the surface passes primarily through this valve. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Displacement unloading rates should not exceed 1 BPM to prevent erosion of gas lift equipment (~750 mcf/d @1200 PSI).&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Observe wind direction prior to starting procedure.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Flowline choke on tubing should be fully open when unloading a gas lifted well.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Rocking Gas Lift Well:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Ensure that you have all your required PPE including hard hat, safety glasses, steel toed shoes, 4 gas monitoring device, and FRC. Check for wind indicator and condition prior to commencing any blowdown operations.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Shut in the well either on a computer or onsite.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Let casing pressure increase until all gas lift valves are open.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Open well to sales with injection set to current injection rate &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;If the problem is still present, then repeat the first two steps but bleed casing to sales until 200 psi lower PSC on bottom valve. Hazards: H2S, Hazardous or flammable atmosphere, trapped pressure and fluids&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ROW_Survey_Procedure</name>
        <label>Pipeline ROW Survey Procedure</label>
        <locationX>2162</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <fields>
            <name>Procedure_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;Pipeline ROW Survey &lt;/b&gt;&lt;/p&gt;&lt;p&gt;If multiple personnel are involved hold a tailgate meeting and discuss the job scope. Ensure you have all the required PPE including hard hat, safety glasses, hearing protection, steel toed shoes, 4 gas monitoring device, and FRC. Check wind direction and weather conditions prior to starting the task.&lt;/p&gt;&lt;p&gt;Hazards:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Gas and fluid leak&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Loud Noise&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Flammable or hazardous atmosphere&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Housekeeping&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;Animals&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;H2S exposure&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Evaluate your surroundings&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Ensure all gates are left as they were found&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Be aware of sinkholes&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Be aware of high grass that could catch on fire&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Use low speed while driving down ROW&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Look for any wet or stained soil&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Look for any dead grass&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Be aware of gas, condensate or H2S odors&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Report any corrective actions in Salesforce&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Courier New&amp;quot;;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Update line inspection record in Salesforce&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Swabbing_Procedure</name>
        <label>Swabbing Procedure</label>
        <locationX>5594</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <fields>
            <name>Procedure_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;Swabbing:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Complete a JSA and hold Tailgate Meeting. &amp;nbsp;Ensure that you have all your required PPE including hard hat, safety glasses, steel toed shoes, 4 gas monitoring device, and FRC. Check for wind indicator and condition prior to commencing any blowdown operations.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Upon arrival, the vendor will lock the flowline, crown, and wing valve together while rigging up the swab unit and place a DO NOT OPERATE tag. Once rigged up the vendor may unlock. If at any time the cups need to be changed or lubricator needs to be removed from the wellhead, they must lock the crown and wing valves again. Hazard: Pinch points, H2S, Hazardous or flammable atmosphere, and pinch points&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Once reaching the depth discussed in the JSA, the vendor will rig up and run-in hole with GR to 10,000’&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;After the GR run is complete the vendor will run-in hole with the tool string with swab tools making as many runs as needed to unload the well. Monitor casing pressures during the runs and enter swab runs in the job book. Hazards: Overhead work and Pinch points&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;After Ensign representative has returned the well to production, the vendor will rig down and move out rig and their equipment. Hazards: H2S, Hazardous or flammable atmosphere, overhead work, and pinch points &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;The Open Top Tank with all fluids will need to be emptied and the oil transferred to Blowdown Tanks at the Pod. Hazards: LEL, H2S a backing up&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Task_Troubleshoot_Procedure</name>
        <label>Measurement Task Troubleshoot Procedure</label>
        <locationX>842</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <fields>
            <name>Procedure_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;Measurement task troubleshoot&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Check density in Coriolis meter. Ensure that oil dump valve has a seat/trim that are not compromised. Flush site glass by closing gauge-cocks and dumping fluids/gas to white blowdown tank. Open site glass up to check for accurate level. If level is the problem, then adjust level controller accordingly. &lt;/span&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;(Hazards&lt;/b&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;: trapped pressure, fluid leak, pinch points, flammable or hazardous atmosphere) &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Check turbine meter head for flow rate and ensure that water valve has a seat/trim that is not compromised. Flush site glass by closing gauge-cocks and dumping fluids/gas to white blowdown tank. Open site glass up to check for accurate level. If level is the problem, then adjust level controller accordingly. (&lt;/span&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;Hazards&lt;/b&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;: trapped pressure, fluid leak, pinch points, flammable or hazardous atmosphere) &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;If density and level are good, then put in a work order to correct issue. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 12pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;If water meter and level are good, then pull water meter to ensure turbine is in working condition. Close upstream and downstream valves of water meter, drain fluid and trapped pressure through tubing line to white blow down tank if applicable. Check for blockage in fins, broken fins, or inoperable turbine. If blockage is removed put back in service. If turbine is inoperable put in a work order. (&lt;/span&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;Hazards&lt;/b&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;: pinch points, trapped pressure, manual handling, line of fire, flammable or hazardous atmosphere, fluid leak)&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tubing_Procedure</name>
        <label>Hot Water Treatment Tubing Procedure</label>
        <locationX>5858</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <fields>
            <name>Procedure_0_0_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;Hot Water Treatment Tubing:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Complete a JSA and hold Tailgate Meeting.&amp;nbsp;Ensure that you have all your required PPE including hard hat, safety glasses, steel toed shoes, 4 gas monitoring device, and FRC. Check for wind indicator and condition prior to commencing any blowdown operations.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Spot hot oil truck and transport up wind of well and/or equipment. Hazards: Flash fire, flash back from burner, ignition source, whipping hose, trapped pressure and exciding equipment pressure rating. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;LOTO flowline and service valve. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Hook up Hot Oil Truck’s high-pressure hose to service valve (if no flange use choke crossover) &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Pressure test to 1500 psi and then equalize to wellhead pressure through truck’s bypass valve. Hazards: Pressure and pinch points &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Open Kimray and make sure safety system is locked open &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Start pumping ¼ BPM and allow truck to reach desired temp (do not exceed 220 degrees). &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Bring truck up to desired rate and pump designated bbl. count &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Allow truck to cool down on the last 5 bbl. so the equipment can be removed safely. Hazards: Pressure, hot fluid, and pinch points &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Shut of pump and close and lock service valve (open trucks bypass valve if needed)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Remove trucks high pressure hose and return bull plug and/or choke handle.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Unlock service valve and flowline valve &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Make sure safety system is returned to original state&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unloading_Procedure</name>
        <label>Unloading Gaslift Procedure</label>
        <locationX>6650</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <fields>
            <name>Procedure_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;Gas Lift General Guidelines:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;&amp;nbsp;Vendor gas lift design sheet needs to be available for reference – this information should also be in the Well View tubing component data table (valve open/closing pressure data). &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Ensure all required PPE – gloves, safety glasses, hard hat, 4-gas monitor, FRC’s, and hearing protection are utilized.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Initial liquid displacement to the top valve should be carefully controlled as it is most susceptible to damage because the liquid column from the surface passes primarily through this valve. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Displacement unloading rates should not exceed 1 BPM to prevent erosion of gas lift equipment (~750 mcf/d @1200 PSI).&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Observe wind direction prior to starting procedure.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Flowline choke on tubing should be fully open when unloading a gas lifted well.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Unloading Gas Lift Well:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Ensure that you have all your required PPE including hard hat, safety glasses, steel toed shoes, 4 gas monitoring device, and FRC. Check for wind indicator and condition prior to commencing any blowdown operations.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Ensure all upstream valves are open to casing, then initiate injection gas flow and control rate to attain a 50 PSI casing pressure increase in 10-minute increments.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Continue this injection rate until the casing pressure reaches approximately 400 PSI&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;NOTE: If the well is a packer less completion with an excess of 400 PSI initial casing pressure simply increase injection gas rate as described in step 4 from initiation of gas lift gas.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Increase injection gas rate to achieve a 100 PSI increase in 10-minute increments&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;NOTE: Do not exceed an injection rate greater than 50% of the designed gas lift rate during this period. The designed gas lift rate can be found on the Gas Lift Design Sheet provided by the vendor.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Monitor for an injection gas pressure drop and the return of aerated fluid from the production tubing to indicate that the gas is being injected into the top valve of the well.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Increase rate to 50% of design rate (if not already at that rate) and continue unloading process for 12-18 hours at that rate.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Increase rate to 75% of design rate and continue unloading process for 4-6 hours at that rate.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Increase rate to target design rate in 50 mcf increments allowing at least 2 hours at each rate before changing. Monitor unloading process and pressure.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;NOTE: Do not exceed 1 BPM injection gas rate (~750 mcf/d) while unloading well. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Monitor casing pressure for decreases indicating well is transitioning to lower valves.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Document final rate of injection and point of injection to IOC and Artificial Lift Lead&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Wireline_Procedure</name>
        <label>Wireline Procedure</label>
        <locationX>5330</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <fields>
            <name>Procedure_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12pt;&quot;&gt;Wireline:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Complete a JSA and hold Tailgate Meeting Ensure that you have all your required PPE including hard hat, safety glasses, steel toed shoes, 4 gas monitoring device, and FRC. Check for wind indicator and condition prior to commencing any blowdown operations.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;If possible, catch and remove plunger prior to slickline arrival. Hazard: Pinch points&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;MIRU slickline unit (with 0.108” slickline unless otherwise specified) and crane (or quick-rig unit). &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Shut well in with at least 2 barriers to all pressure sources and bleed off pressure above swab/crown valve, following applicable SOPs. Hazards: H2S, Hazardous or flammable atmosphere, trapped pressure and fluids &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;RU wireline valve(s)/ram above plunger lift lubricator or on top of tree. Hazards: Overhead work, Hazardous or flammable atmosphere, H2S and pinch points&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Pressure test lubricator to 500 psi above most recent SITP and hold for 5 minutes. Test with water when ambient temperature is &amp;gt;35 °F; otherwise use 50/50 water-glycol to&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;avoid hydrates when well is opened. Hazard: High Pressure &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;RIH with 1.900” gauge ring to plunger (if still in hole) or BHA. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;If tagged higher than prior setting depth of BHA, discuss with Prod. Engr. about retrieving plunger, LIB diagnostics run, smaller gauge, broach, or bailer run based on well history, depth of tag, solids sample recovered, etc. to determine path forward. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Document any sample material recovered in Well View in “Sample Retrieved” picklist &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Flag line at tag depth for next run if counter gets off. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;If plunger was not recovered in step 1, RIH with applicable pulling tool for plunger in well, latch plunger, jar free, and POOH. 2” SB if external fish-neck plunger. 1 1/2” GS if internal fish-neck plunger &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;RIH with 2” SB pulling tool to BHA, latch, jar free, and POOH. Note condition of BHA in Well View report &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;If plunger was not making normal runs or if BHA is to be run deeper in well, run dummy plunger &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;to profile/landing nipple. If BHA is to be run in same spot, run standard 1.900” gauge ring to &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;profile/landing nipple. If tag high, discuss with Prod. Engr. about broaching tubing or diagnostics run (LIB, bailer, etc.) based on well history, depth of tag, etc. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Make up new collar stop / bumper spring on 2” SB running tool, RIH, and locate and set in a collar within 4 joints of previous setting depth. Okay to re-run BHA if approved by AL Lead. Hazards: Overhead work and pinch points &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;If unable to set within 4 joints, discuss with AL Lead.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Update plunger details as necessary if new plunger is installed with BHA and update depth of plunger if BHA is set to different depth &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;•&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;RDMO slickline unit and associated equipment; return well to production.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>3752</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderRecord_Var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
