unpackaged/main/default/flows/Send_SA_Vendor_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Assigned_SA_Email</name>
        <label>Send Assigned SA Email</label>
        <locationX>177</locationX>
        <locationY>432</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You&#39;ve been assigned a Service Appointment in the Ensign Vendor Portal</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_User_ID</name>
        <label>Assign User ID</label>
        <locationX>80</locationX>
        <locationY>331</locationY>
        <assignmentItems>
            <assignToReference>Emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Contractor_User__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Assigned_SA_Email</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Send SA Vendor Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send SA Vendor Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Assign_User_ID</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contractor_User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You have been assigned a Service Appointment in the Ensign Vendor Portal. Service Appointment: {!$Record.AppointmentNumber}</text>
    </textTemplates>
    <variables>
        <name>Emails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
