unpackaged/main/default/flows/SPCC_Inspection_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Add_records_questions_to_a_collection</name>
        <label>Add records questions to a collection</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>SPCCChecklistQuestionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SPCCQ_All_dikes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCChecklistQuestionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SPCCQ1_All_equipment_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCChecklistQuestionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SPCCQ2_Firewall_Catchment_Tertiary_containment_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCChecklistQuestionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SPCCQ3_Bermed_area_is_Free_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCChecklistQuestionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SPCCQ4_Berm_and_catchment_basin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCChecklistQuestionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SPCCQ5_Tank_Vessel_foundations_are_structurally</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCChecklistQuestionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SPCCQ6_Tanks_Vessels_are_free_of_leaks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCChecklistQuestionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SPCCQ7_Valves_piping_flanges</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCChecklistQuestionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SPCCQ8_Piping_and_pipe_supports_are_free</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCChecklistQuestionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SPCCQ9_Load_lines_are_capped_or_plugged</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCChecklistQuestionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SPCCQ10Load_line_drip_containment_maintained</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCChecklistQuestionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SPCCQ11_Bulk_lube_oil_fuel_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCChecklistQuestionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SPCCQ12_Secondary_containment_for_bulk_lube</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCChecklistQuestionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SPCCQ13_Drip_pans_for_bulk_lube</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCChecklistQuestionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SPCCQ14_Flowline_is_free_of_leaks_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCChecklistQuestionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SPCCQ15_Wellhead_Pumping_well_units</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCChecklistQuestionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SPCCQ16_Other_oil_filled_equipmen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCChecklistQuestionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SPCCQ17_Compressor_oil_leaks_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCChecklistQuestionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SPCCQ18_Tank_labels_are_present</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SPCC_Inspection_Checklist_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SPCC_id_QUESTION_ASSIGNMENT</name>
        <label>SPCC id QUESTION ASSIGNMENT</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>SPCCQ_All_dikes.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q_All_dikes_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ_All_dikes.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>All_dikes_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ_All_dikes.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_All_Dikes_ID_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ1_All_equipment_ID.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q1_All_equipment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ1_All_equipment_ID.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>All_equipment_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ1_All_equipment_ID.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_All_Equipment_ID_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ2_Firewall_Catchment_Tertiary_containment_ID.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q2_Firewall_Catchment_Tertiary_containment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ2_Firewall_Catchment_Tertiary_containment_ID.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Firewall_Catchment_Tertiary_containment_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ2_Firewall_Catchment_Tertiary_containment_ID.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Firewall_Catchment_Tertiary_containment_ID_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ3_Bermed_area_is_Free_ID.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q3_Bermed_area_is_Free_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ3_Bermed_area_is_Free_ID.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bermed_area_is_Free_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ3_Bermed_area_is_Free_ID.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Bermed_area_is_free_ID_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ4_Berm_and_catchment_basin.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q4_Berm_and_catchment_basin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ4_Berm_and_catchment_basin.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Berm_and_catchment_basin_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ4_Berm_and_catchment_basin.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Berm_and_catchment_basin_ID_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ5_Tank_Vessel_foundations_are_structurally.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q5_Tank_Vessel_foundations_are_structurally</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ5_Tank_Vessel_foundations_are_structurally.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tank_Vessel_foundations_are_structurally_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ5_Tank_Vessel_foundations_are_structurally.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Tank_Vessel_foundations_are_structurally_ID_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ6_Tanks_Vessels_are_free_of_leaks.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q6_Tanks_Vessels_are_free_of_leaks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ6_Tanks_Vessels_are_free_of_leaks.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tanks_Vessels_are_free_of_leaks_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ6_Tanks_Vessels_are_free_of_leaks.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Tanks_Vessels_are_free_of_leaks_id_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ7_Valves_piping_flanges.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q7_Valves_piping_flanges</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ7_Valves_piping_flanges.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Valves_piping_flanges_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ7_Valves_piping_flanges.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Valves_piping_flanges_ID_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ8_Piping_and_pipe_supports_are_free.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q8_Piping_and_pipe_supports_are_free</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ8_Piping_and_pipe_supports_are_free.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Piping_and_pipe_supports_are_free_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ8_Piping_and_pipe_supports_are_free.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Piping_and_pipe_supports_are_free_ID_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ9_Load_lines_are_capped_or_plugged.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q9_Load_lines_are_capped_or_plugged</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ9_Load_lines_are_capped_or_plugged.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Load_lines_are_capped_or_plugged_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ9_Load_lines_are_capped_or_plugged.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Load_lines_are_capped_or_plugged_ID_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ10Load_line_drip_containment_maintained.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q10_Load_line_drip_containment_maintained</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ10Load_line_drip_containment_maintained.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Load_line_drip_containment_maintained_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ10Load_line_drip_containment_maintained.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Load_line_drip_containment_maintained_Id_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ11_Bulk_lube_oil_fuel_id.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q11_Bulk_lube_oil_fuel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ11_Bulk_lube_oil_fuel_id.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bulk_lube_oil_fuel_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ11_Bulk_lube_oil_fuel_id.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Bulk_lube_oil_fuel_id_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ12_Secondary_containment_for_bulk_lube.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q12_Secondary_containment_for_bulk_lube</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ12_Secondary_containment_for_bulk_lube.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Secondary_containment_for_bulk_lube_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ12_Secondary_containment_for_bulk_lube.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Secondary_containment_for_bulk_lube_id_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ13_Drip_pans_for_bulk_lube.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q13_Drip_pans_for_bulk_lube</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ13_Drip_pans_for_bulk_lube.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Drip_pans_for_bulk_lube_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ14_Flowline_is_free_of_leaks_Id.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q14_Flowline_is_free_of_leaks_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ14_Flowline_is_free_of_leaks_Id.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flowline_is_free_of_leaks_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ14_Flowline_is_free_of_leaks_Id.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Flowline_is_free_of_leaks_ID_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ15_Wellhead_Pumping_well_units.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q15_Wellhead_Pumping_well_units</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ15_Wellhead_Pumping_well_units.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Wellhead_Pumping_well_units_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ15_Wellhead_Pumping_well_units.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Wellhead_Pumping_well_units_Id_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ16_Other_oil_filled_equipmen.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q16_Other_oil_filled_equipmen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ16_Other_oil_filled_equipmen.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_oil_filled_equipmen_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ16_Other_oil_filled_equipmen.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Other_oil_filled_equipmen_Id_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ18_Tank_labels_are_present.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q18_Tank_labels_are_present_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ18_Tank_labels_are_present.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tank_labels_are_present_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ18_Tank_labels_are_present.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Tank_labels_are_present_ID_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ17_Compressor_oil_leaks_Id.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q17_Compressor_oil_leaks_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ17_Compressor_oil_leaks_Id.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Compressor_oil_leaks_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ17_Compressor_oil_leaks_Id.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Compressor_oil_leaks_Id_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ_All_dikes.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ1_All_equipment_ID.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ2_Firewall_Catchment_Tertiary_containment_ID.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ4_Berm_and_catchment_basin.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ5_Tank_Vessel_foundations_are_structurally.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ6_Tanks_Vessels_are_free_of_leaks.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ7_Valves_piping_flanges.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ8_Piping_and_pipe_supports_are_free.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ9_Load_lines_are_capped_or_plugged.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ10Load_line_drip_containment_maintained.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ11_Bulk_lube_oil_fuel_id.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ12_Secondary_containment_for_bulk_lube.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ13_Drip_pans_for_bulk_lube.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ14_Flowline_is_free_of_leaks_Id.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ15_Wellhead_Pumping_well_units.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ16_Other_oil_filled_equipmen.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ17_Compressor_oil_leaks_Id.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ18_Tank_labels_are_present.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ3_Bermed_area_is_Free_ID.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ13_Drip_pans_for_bulk_lube.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Drip_pans_for_bulk_lube_Id_lt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_records_questions_to_a_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SPCC_rECORDid_QUESTION_ASSIGNMENT_0</name>
        <label>SPCC RECORDId QUESTION ASSIGNMENT</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>SPCCQ_All_dikes.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q_All_dikes_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ_All_dikes.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>All_dikes_RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ_All_dikes.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_All_Dikes_RecordId_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ1_All_equipment_ID.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q1_All_equipment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ1_All_equipment_ID.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>All_equipment_RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ1_All_equipment_ID.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_All_Equipment_RecordId_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ2_Firewall_Catchment_Tertiary_containment_ID.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q2_Firewall_Catchment_Tertiary_containment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ2_Firewall_Catchment_Tertiary_containment_ID.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Firewall_Catchment_Tertiary_containment_RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ2_Firewall_Catchment_Tertiary_containment_ID.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Firewall_Catchment_Tertiary_containment_RecordId_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ3_Bermed_area_is_Free_ID.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q3_Bermed_area_is_Free_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ3_Bermed_area_is_Free_ID.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bermed_area_is_Free_RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ3_Bermed_area_is_Free_ID.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Bermed_area_is_free_RecordId_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ4_Berm_and_catchment_basin.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q4_Berm_and_catchment_basin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ4_Berm_and_catchment_basin.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Berm_and_catchment_basin_RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ4_Berm_and_catchment_basin.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Berm_and_catchment_basin_RecordId_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ5_Tank_Vessel_foundations_are_structurally.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q5_Tank_Vessel_foundations_are_structurally</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ5_Tank_Vessel_foundations_are_structurally.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tank_Vessel_foundations_are_structurally_RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ5_Tank_Vessel_foundations_are_structurally.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Tank_Vessel_foundations_are_structurally_RecordId_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ6_Tanks_Vessels_are_free_of_leaks.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q6_Tanks_Vessels_are_free_of_leaks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ6_Tanks_Vessels_are_free_of_leaks.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tanks_Vessels_are_free_of_leaks_RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ6_Tanks_Vessels_are_free_of_leaks.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Tanks_Vessels_are_free_of_leaks_RecordId_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ7_Valves_piping_flanges.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q7_Valves_piping_flanges</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ7_Valves_piping_flanges.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Valves_piping_flanges_RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ7_Valves_piping_flanges.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Valves_piping_flanges_RecordId_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ8_Piping_and_pipe_supports_are_free.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q8_Piping_and_pipe_supports_are_free</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ8_Piping_and_pipe_supports_are_free.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Piping_and_pipe_supports_are_free_RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ8_Piping_and_pipe_supports_are_free.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Piping_and_pipe_supports_are_free_RecordId_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ9_Load_lines_are_capped_or_plugged.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q9_Load_lines_are_capped_or_plugged</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ9_Load_lines_are_capped_or_plugged.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Load_lines_are_capped_or_plugged_RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ9_Load_lines_are_capped_or_plugged.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Load_lines_are_capped_or_plugged_RecordId_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ10Load_line_drip_containment_maintained.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q10_Load_line_drip_containment_maintained</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ10Load_line_drip_containment_maintained.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Load_line_drip_containment_maintained_RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ10Load_line_drip_containment_maintained.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Load_line_drip_containment_maintained_RecordId_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ11_Bulk_lube_oil_fuel_id.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q11_Bulk_lube_oil_fuel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ11_Bulk_lube_oil_fuel_id.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bulk_lube_oil_fuel_RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ11_Bulk_lube_oil_fuel_id.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Bulk_lube_oil_fuel_RecordId_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ12_Secondary_containment_for_bulk_lube.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q12_Secondary_containment_for_bulk_lube</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ12_Secondary_containment_for_bulk_lube.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Secondary_containment_for_bulk_lube_RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ12_Secondary_containment_for_bulk_lube.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Secondary_containment_for_bulk_lube_RecordId_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ13_Drip_pans_for_bulk_lube.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q13_Drip_pans_for_bulk_lube</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ13_Drip_pans_for_bulk_lube.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Drip_pans_for_bulk_lube_RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ14_Flowline_is_free_of_leaks_Id.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q14_Flowline_is_free_of_leaks_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ14_Flowline_is_free_of_leaks_Id.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flowline_is_free_of_leaks_RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ14_Flowline_is_free_of_leaks_Id.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Flowline_is_free_of_leaks_RecordId_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ15_Wellhead_Pumping_well_units.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q15_Wellhead_Pumping_well_units</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ15_Wellhead_Pumping_well_units.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Wellhead_Pumping_well_units_RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ15_Wellhead_Pumping_well_units.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Wellhead_Pumping_well_units_RecordId_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ16_Other_oil_filled_equipmen.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q16_Other_oil_filled_equipmen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ16_Other_oil_filled_equipmen.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_oil_filled_equipmen_RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ16_Other_oil_filled_equipmen.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Other_oil_filled_equipmen_RecordId_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ18_Tank_labels_are_present.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q18_Tank_labels_are_present_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ18_Tank_labels_are_present.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tank_labels_are_present_RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ18_Tank_labels_are_present.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Tank_labels_are_present_RecordId_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ17_Compressor_oil_leaks_Id.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q17_Compressor_oil_leaks_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ17_Compressor_oil_leaks_Id.Yes_No_NA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Compressor_oil_leaks_RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ17_Compressor_oil_leaks_Id.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Compressor_oil_leaks_RecordId_lt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ_All_dikes.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ1_All_equipment_ID.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ2_Firewall_Catchment_Tertiary_containment_ID.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ3_Bermed_area_is_Free_ID.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ4_Berm_and_catchment_basin.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ5_Tank_Vessel_foundations_are_structurally.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ6_Tanks_Vessels_are_free_of_leaks.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ8_Piping_and_pipe_supports_are_free.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ7_Valves_piping_flanges.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ9_Load_lines_are_capped_or_plugged.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ10Load_line_drip_containment_maintained.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ11_Bulk_lube_oil_fuel_id.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ12_Secondary_containment_for_bulk_lube.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ13_Drip_pans_for_bulk_lube.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ14_Flowline_is_free_of_leaks_Id.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ15_Wellhead_Pumping_well_units.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ16_Other_oil_filled_equipmen.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ17_Compressor_oil_leaks_Id.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ18_Tank_labels_are_present.SPCC_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_SPCC_Inspection_Form_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPCCQ13_Drip_pans_for_bulk_lube.Observations_Action_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observations_Action_Items_Drip_pans_for_bulk_lube_RecordId_lt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_records_questions_to_a_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>What_Type_of_ID</name>
        <label>What Type of ID</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Add_records_questions_to_a_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Id_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Id_Records</targetReference>
            </connector>
            <label>Id</label>
        </rules>
        <rules>
            <name>RecordId_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecordId_Records</targetReference>
            </connector>
            <label>RecordId</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Active_Inactive</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Wellsite_Facility_Status__c</picklistField>
        <picklistObject>SPCC_Inspection__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TanksEngineered</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Tanks_engineered_with__c</picklistField>
        <picklistObject>SPCC_Inspection__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>YES_No_NA_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Yes_No_NA__c</picklistField>
        <picklistObject>SPCC_Inspection_Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>Q10_Load_line_drip_containment_maintained</name>
        <dataType>String</dataType>
        <expression>&quot;Load line drip containment is well maintained?&quot;</expression>
    </formulas>
    <formulas>
        <name>Q11_Bulk_lube_oil_fuel</name>
        <dataType>String</dataType>
        <expression>&quot;Bulk lube oil, fuel or oil-based chemical tanks &gt; 55 gals have sufficient secondary containment?&quot;</expression>
    </formulas>
    <formulas>
        <name>Q12_Secondary_containment_for_bulk_lube</name>
        <dataType>String</dataType>
        <expression>&quot;Secondary containment for bulk lube oil, fuel or oil-based chemical tanks is free of oil or long standing water?&quot;</expression>
    </formulas>
    <formulas>
        <name>Q13_Drip_pans_for_bulk_lube</name>
        <dataType>String</dataType>
        <expression>&quot;Drip pans for bulk lube oil, fuel or oil-based chemical tanks are free of cracks, holes, corrosion, etc.?&quot;</expression>
    </formulas>
    <formulas>
        <name>Q14_Flowline_is_free_of_leaks_Id</name>
        <dataType>String</dataType>
        <expression>&quot;Flowline is free of leaks?&quot;</expression>
    </formulas>
    <formulas>
        <name>Q15_Wellhead_Pumping_well_units</name>
        <dataType>String</dataType>
        <expression>&quot;Wellhead / Pumping well units / polish rod / Hi/Lo pressure shutdown are free of leaks and in working condition?&quot;</expression>
    </formulas>
    <formulas>
        <name>Q16_Other_oil_filled_equipmen</name>
        <dataType>String</dataType>
        <expression>&quot;Other oil-filled equipment (transformers, engines, hydraulic systems, etc.) are free of leaks?&quot;</expression>
    </formulas>
    <formulas>
        <name>Q17_Compressor_oil_leaks_Id</name>
        <dataType>String</dataType>
        <expression>&quot;Compressor oil leaks are being contained within compressor base?&quot;</expression>
    </formulas>
    <formulas>
        <name>Q18_Tank_labels_are_present_ID</name>
        <dataType>String</dataType>
        <expression>&quot;Tank labels are present, accurate and in good condition?&quot;</expression>
    </formulas>
    <formulas>
        <name>Q1_All_equipment</name>
        <dataType>String</dataType>
        <expression>&quot;All equipment (tanks, vessels, engines, etc.) shown on facility diagram is accurate for size and location?&quot;</expression>
    </formulas>
    <formulas>
        <name>Q2_Firewall_Catchment_Tertiary_containment</name>
        <dataType>String</dataType>
        <expression>&quot;Firewall/Catchment(Tertiary containment) basins are free of oil, oil staining or long standing water?&quot;</expression>
    </formulas>
    <formulas>
        <name>Q3_Bermed_area_is_Free_ID</name>
        <dataType>String</dataType>
        <expression>&quot;Bermed area is free of live crude oil, condensate, or long standing water?&quot;</expression>
    </formulas>
    <formulas>
        <name>Q4_Berm_and_catchment_basin</name>
        <dataType>String</dataType>
        <expression>&quot;Berm and catchment basin drains are capped or plugged?&quot;</expression>
    </formulas>
    <formulas>
        <name>Q5_Tank_Vessel_foundations_are_structurally</name>
        <dataType>String</dataType>
        <expression>&quot;Tank / Vessel foundations are structurally sound: Free of cracks, erosion, pitting or other damage?&quot;</expression>
    </formulas>
    <formulas>
        <name>Q6_Tanks_Vessels_are_free_of_leaks</name>
        <dataType>String</dataType>
        <expression>&quot;Tanks / Vessels are free of leaks or signs of overflow due to instrumentation failure?&quot;</expression>
    </formulas>
    <formulas>
        <name>Q7_Valves_piping_flanges</name>
        <dataType>String</dataType>
        <expression>&quot;Valves, piping, flanges, hatches, pumps or fittings are free of leaks?&quot;</expression>
    </formulas>
    <formulas>
        <name>Q8_Piping_and_pipe_supports_are_free</name>
        <dataType>String</dataType>
        <expression>&quot;Piping and pipe supports are free of heavy corrosion?&quot;</expression>
    </formulas>
    <formulas>
        <name>Q9_Load_lines_are_capped_or_plugged</name>
        <dataType>String</dataType>
        <expression>&quot;Load lines are capped or plugged?&quot;</expression>
    </formulas>
    <formulas>
        <name>Q_All_dikes_ID</name>
        <dataType>String</dataType>
        <expression>&quot;All dikes/berms/trenches are in good condition and have not been altered from the facility diagram?&quot;</expression>
    </formulas>
    <interviewLabel>SPCC Inspection Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SPCC Inspection Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_SPCC_Inspection_Checklist_records</name>
        <label>Create SPCC Inspection Checklist records</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <inputReference>SPCCChecklistQuestionCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SPCC_Inspection_Form_from_ID</name>
        <label>Create SPCC Inspection Form from ID</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>New_SPCC_Inspection_Form_ID</assignRecordIdToReference>
        <connector>
            <targetReference>SPCC_id_QUESTION_ASSIGNMENT</targetReference>
        </connector>
        <inputAssignments>
            <field>Corrective_Actions_Recommended_Taken__c</field>
            <value>
                <elementReference>Corrective_Actions_Recommended_Taken_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_Inactive_please_comment_on_status_of__c</field>
            <value>
                <elementReference>If_Inactive_id_lt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanks_engineered_with__c</field>
            <value>
                <elementReference>Tanks_engineered_with_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wellsite_Facility_Status__c</field>
            <value>
                <elementReference>Well_Facility_Status_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wellsite_Facility__c</field>
            <value>
                <elementReference>Work_Order_Id_Record_VAR.AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <object>SPCC_Inspection__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_SPCC_Inspection_Form_from_RecordID_0</name>
        <label>Create SPCC Inspection Form from RecordID</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>New_SPCC_Inspection_Form_ID</assignRecordIdToReference>
        <connector>
            <targetReference>SPCC_rECORDid_QUESTION_ASSIGNMENT_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Corrective_Actions_Recommended_Taken__c</field>
            <value>
                <elementReference>Corrective_Actions_Recommended_Taken_RecordId_lt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_Inactive_please_comment_on_status_of__c</field>
            <value>
                <elementReference>If_Inactive_RecordId_lt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanks_engineered_with__c</field>
            <value>
                <elementReference>Tanks_engineered_with_RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wellsite_Facility_Status__c</field>
            <value>
                <elementReference>Well_Facility_Status_RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wellsite_Facility__c</field>
            <value>
                <elementReference>Work_Order_RecordId_Record_VAR.AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>SPCC_Inspection__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Id_Records</name>
        <label>Get Id Records</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPCC_Inspection_Checklist_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>Work_Order_Id_Record_VAR</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>Asset_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordId_Records</name>
        <label>Get RecordId Records</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SPCC_Inspection_Checklist_ID_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>Work_Order_RecordId_Record_VAR</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>Asset_Name__c</queriedFields>
    </recordLookups>
    <screens>
        <name>SPCC_Inspection_Checklist_ID</name>
        <label>SPCC Inspection Checklist ID</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_SPCC_Inspection_Form_from_ID</targetReference>
        </connector>
        <fields>
            <name>Wellsite_Facility_Id</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Wellsite/ Facility:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Work_Order_Id_Record_VAR.Asset_Name__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>All_dikes_ID</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>All dikes/berms/trenches are in good condition and have not been altered from the facility diagram?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_All_Dikes_ID_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_All_Dikes_ID_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>All_equipment_ID</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>All equipment (tanks, vessels, engines, etc.) shown on facility diagram is accurate for size and location?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_All_Equipment_ID_lt</name>
            <fieldText>Observations Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_All_Equipment_ID_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Firewall_Catchment_Tertiary_containment_ID</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Firewall/Catchment(Tertiary containment) basins are free of oil, oil staining or long standing water?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Firewall_Catchment_Tertiary_containment_ID_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Firewall_Catchment_Tertiary_containment_ID_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Bermed_area_is_Free_ID</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Bermed area is free of live crude oil, condensate, or long standing water?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Bermed_area_is_free_ID_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Bermed_area_is_free_ID_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Berm_and_catchment_basin_ID</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Berm and catchment basin drains are capped or plugged?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Berm_and_catchment_basin_ID_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Berm_and_catchment_basin_ID_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Tank_Vessel_foundations_are_structurally_ID</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tank / Vessel foundations are structurally sound: Free of cracks, erosion, pitting or other damage?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Tank_Vessel_foundations_are_structurally_ID_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Tank_Vessel_foundations_are_structurally_ID_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Tanks_Vessels_are_free_of_leaks_id</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tanks / Vessels are free of leaks or signs of overflow due to instrumentation failure?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Tanks_Vessels_are_free_of_leaks_id_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Tanks_Vessels_are_free_of_leaks_id_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Valves_piping_flanges_ID</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Valves, piping, flanges, hatches, pumps or fittings are free of leaks?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Valves_piping_flanges_ID_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Valves_piping_flanges_ID_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Piping_and_pipe_supports_are_free_ID</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Piping and pipe supports are free of heavy corrosion?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Piping_and_pipe_supports_are_free_ID_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Piping_and_pipe_supports_are_free_ID_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Load_lines_are_capped_or_plugged_ID</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Load lines are capped or plugged?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Load_lines_are_capped_or_plugged_ID_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Load_lines_are_capped_or_plugged_ID_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Load_line_drip_containment_maintained_Id</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Load line drip containment is well maintained?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Load_line_drip_containment_maintained_Id_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Load_line_drip_containment_maintained_Id_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Bulk_lube_oil_fuel_id</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Bulk lube oil, fuel or oil-based chemical tanks &gt; 55 gals have sufficient secondary containment?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Bulk_lube_oil_fuel_id_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Bulk_lube_oil_fuel_id_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Secondary_containment_for_bulk_lube_id</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Secondary containment for bulk lube oil, fuel or oil-based chemical tanks is free of oil or long standing water?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Secondary_containment_for_bulk_lube_id_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Secondary_containment_for_bulk_lube_id_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Drip_pans_for_bulk_lube_Id</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Drip pans for bulk lube oil, fuel or oil-based chemical tanks are free of cracks, holes, corrosion, etc.?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Drip_pans_for_bulk_lube_Id_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Drip_pans_for_bulk_lube_Id_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Flowline_is_free_of_leaks_Id</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Flowline is free of leaks?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Flowline_is_free_of_leaks_ID_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Flowline_is_free_of_leaks_ID_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Wellhead_Pumping_well_units_Id</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Wellhead / Pumping well units / polish rod / Hi/Lo pressure shutdown are free of leaks and in working condition?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Wellhead_Pumping_well_units_Id_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Wellhead_Pumping_well_units_Id_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Other_oil_filled_equipmen_Id</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Other oil-filled equipment (transformers, engines, hydraulic systems, etc.) are free of leaks?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Other_oil_filled_equipmen_Id_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Other_oil_filled_equipmen_Id_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Compressor_oil_leaks_Id</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Compressor oil leaks are being contained within compressor base?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Compressor_oil_leaks_Id_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Compressor_oil_leaks_Id_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Tank_labels_are_present_ID</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tank labels are present, accurate and in good condition?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Tank_labels_are_present_ID_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Tank_labels_are_present_ID_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Well_Facility_Status_Id</name>
            <choiceReferences>Active_Inactive</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Well/ Facility Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>If_Inactive_id_lt</name>
            <fieldText>If Inactive, please comment on status of Well/Facility:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!If_Inactive_id_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Tanks_engineered_with_id</name>
            <choiceReferences>TanksEngineered</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tanks engineered with?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Corrective_Actions_Recommended_Taken_id</name>
            <fieldText>CorrectiveActionsRecommended/Taken:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Corrective_Actions_Recommended_Taken_id})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SPCC_Inspection_Checklist_ID_0</name>
        <label>SPCC Inspection Checklist ID</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_SPCC_Inspection_Form_from_RecordID_0</targetReference>
        </connector>
        <fields>
            <name>Wellsite_Facility_RecordId</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Wellsite/ Facility:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Work_Order_RecordId_Record_VAR.Asset_Name__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>All_dikes_RecordId</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>All dikes/berms/trenches are in good condition and have not been altered from the facility diagram?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_All_Dikes_RecordId_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_All_Dikes_RecordId_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>All_equipment_RecordId</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>All equipment (tanks, vessels, engines, etc.) shown on facility diagram is accurate for size and location?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_All_Equipment_RecordId_lt</name>
            <fieldText>Observations Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_All_Equipment_RecordId_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Firewall_Catchment_Tertiary_containment_RecordId</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Firewall/Catchment(Tertiary containment) basins are free of oil, oil staining or long standing water?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Firewall_Catchment_Tertiary_containment_RecordId_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Firewall_Catchment_Tertiary_containment_RecordId_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Bermed_area_is_Free_RecordId</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Bermed area is free of live crude oil, condensate, or long standing water?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Bermed_area_is_free_RecordId_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Bermed_area_is_free_RecordId_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Berm_and_catchment_basin_RecordId</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Berm and catchment basin drains are capped or plugged?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Berm_and_catchment_basin_RecordId_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Berm_and_catchment_basin_RecordId_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Tank_Vessel_foundations_are_structurally_RecordId</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tank / Vessel foundations are structurally sound: Free of cracks, erosion, pitting or other damage?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Tank_Vessel_foundations_are_structurally_RecordId_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Tank_Vessel_foundations_are_structurally_RecordId_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Tanks_Vessels_are_free_of_leaks_RecordId</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tanks / Vessels are free of leaks or signs of overflow due to instrumentation failure?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Tanks_Vessels_are_free_of_leaks_RecordId_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Tanks_Vessels_are_free_of_leaks_RecordId_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Valves_piping_flanges_RecordId</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Valves, piping, flanges, hatches, pumps or fittings are free of leaks?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Valves_piping_flanges_RecordId_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Valves_piping_flanges_RecordId_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Piping_and_pipe_supports_are_free_RecordId</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Piping and pipe supports are free of heavy corrosion?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Piping_and_pipe_supports_are_free_RecordId_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Piping_and_pipe_supports_are_free_RecordId_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Load_lines_are_capped_or_plugged_RecordId</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Load lines are capped or plugged?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Load_lines_are_capped_or_plugged_RecordId_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Load_lines_are_capped_or_plugged_RecordId_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Load_line_drip_containment_maintained_RecordId</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Load line drip containment is well maintained?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Load_line_drip_containment_maintained_RecordId_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Load_line_drip_containment_maintained_RecordId_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Bulk_lube_oil_fuel_RecordId</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Bulk lube oil, fuel or oil-based chemical tanks &gt; 55 gals have sufficient secondary containment?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Bulk_lube_oil_fuel_RecordId_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Bulk_lube_oil_fuel_RecordId_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Secondary_containment_for_bulk_lube_RecordId</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Secondary containment for bulk lube oil, fuel or oil-based chemical tanks is free of oil or long standing water?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Secondary_containment_for_bulk_lube_RecordId_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Secondary_containment_for_bulk_lube_RecordId_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Drip_pans_for_bulk_lube_RecordId</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Drip pans for bulk lube oil, fuel or oil-based chemical tanks are free of cracks, holes, corrosion, etc.?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Drip_pans_for_bulk_lube_RecordId_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Drip_pans_for_bulk_lube_RecordId_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Flowline_is_free_of_leaks_RecordId</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Flowline is free of leaks?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Flowline_is_free_of_leaks_RecordId_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Flowline_is_free_of_leaks_RecordId_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Wellhead_Pumping_well_units_RecordId</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Wellhead / Pumping well units / polish rod / Hi/Lo pressure shutdown are free of leaks and in working condition?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Wellhead_Pumping_well_units_RecordId_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Wellhead_Pumping_well_units_RecordId_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Other_oil_filled_equipmen_RecordId</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Other oil-filled equipment (transformers, engines, hydraulic systems, etc.) are free of leaks?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Other_oil_filled_equipmen_RecordId_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Other_oil_filled_equipmen_RecordId_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Compressor_oil_leaks_RecordId</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Compressor oil leaks are being contained within compressor base?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Compressor_oil_leaks_RecordId_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Compressor_oil_leaks_RecordId_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Tank_labels_are_present_RecordId</name>
            <choiceReferences>YES_No_NA_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tank labels are present, accurate and in good condition?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Observations_Action_Items_Tank_labels_are_present_RecordId_lt</name>
            <fieldText>Observations / Action Items</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Observations_Action_Items_Tank_labels_are_present_RecordId_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Well_Facility_Status_RecordId</name>
            <choiceReferences>Active_Inactive</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Well/ Facility Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>If_Inactive_RecordId_lt</name>
            <fieldText>If Inactive, please comment on status of Well/Facility:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!If_Inactive_RecordId_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Tanks_engineered_with_RecordId</name>
            <choiceReferences>TanksEngineered</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tanks engineered with?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Corrective_Actions_Recommended_Taken_RecordId_lt</name>
            <fieldText>CorrectiveActionsRecommended/Taken:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment must be less then 2,000 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Corrective_Actions_Recommended_Taken_RecordId_lt})&lt;2000</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Type_of_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_SPCC_Inspection_Form_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SPCCChecklistQuestionCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPCC_Inspection_Checklist__c</objectType>
    </variables>
    <variables>
        <name>SPCCQ10Load_line_drip_containment_maintained</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPCC_Inspection_Checklist__c</objectType>
    </variables>
    <variables>
        <name>SPCCQ11_Bulk_lube_oil_fuel_id</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPCC_Inspection_Checklist__c</objectType>
    </variables>
    <variables>
        <name>SPCCQ12_Secondary_containment_for_bulk_lube</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPCC_Inspection_Checklist__c</objectType>
    </variables>
    <variables>
        <name>SPCCQ13_Drip_pans_for_bulk_lube</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPCC_Inspection_Checklist__c</objectType>
    </variables>
    <variables>
        <name>SPCCQ14_Flowline_is_free_of_leaks_Id</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPCC_Inspection_Checklist__c</objectType>
    </variables>
    <variables>
        <name>SPCCQ15_Wellhead_Pumping_well_units</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPCC_Inspection_Checklist__c</objectType>
    </variables>
    <variables>
        <name>SPCCQ16_Other_oil_filled_equipmen</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPCC_Inspection_Checklist__c</objectType>
    </variables>
    <variables>
        <name>SPCCQ17_Compressor_oil_leaks_Id</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPCC_Inspection_Checklist__c</objectType>
    </variables>
    <variables>
        <name>SPCCQ18_Tank_labels_are_present</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPCC_Inspection_Checklist__c</objectType>
    </variables>
    <variables>
        <name>SPCCQ1_All_equipment_ID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPCC_Inspection_Checklist__c</objectType>
    </variables>
    <variables>
        <name>SPCCQ2_Firewall_Catchment_Tertiary_containment_ID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPCC_Inspection_Checklist__c</objectType>
    </variables>
    <variables>
        <name>SPCCQ3_Bermed_area_is_Free_ID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPCC_Inspection_Checklist__c</objectType>
    </variables>
    <variables>
        <name>SPCCQ4_Berm_and_catchment_basin</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPCC_Inspection_Checklist__c</objectType>
    </variables>
    <variables>
        <name>SPCCQ5_Tank_Vessel_foundations_are_structurally</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPCC_Inspection_Checklist__c</objectType>
    </variables>
    <variables>
        <name>SPCCQ6_Tanks_Vessels_are_free_of_leaks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPCC_Inspection_Checklist__c</objectType>
    </variables>
    <variables>
        <name>SPCCQ7_Valves_piping_flanges</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPCC_Inspection_Checklist__c</objectType>
    </variables>
    <variables>
        <name>SPCCQ8_Piping_and_pipe_supports_are_free</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPCC_Inspection_Checklist__c</objectType>
    </variables>
    <variables>
        <name>SPCCQ9_Load_lines_are_capped_or_plugged</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPCC_Inspection_Checklist__c</objectType>
    </variables>
    <variables>
        <name>SPCCQ_All_dikes</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SPCC_Inspection_Checklist__c</objectType>
    </variables>
    <variables>
        <name>Work_Order_Id_Record_VAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>Work_Order_RecordId_Record_VAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
