unpackaged/main/default/flows/Update_Actual_Duration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <formulas>
        <name>ActualDuration</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Cannot_Complete_End_Time__c}-{!$Record.ActualStartTime}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Actual Duration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Actual Duration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Duration</name>
        <label>Update Duration</label>
        <locationX>178</locationX>
        <locationY>526</locationY>
        <inputAssignments>
            <field>ActualDuration</field>
            <value>
                <elementReference>ActualDuration</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_End_Time</name>
        <label>Update End Time</label>
        <locationX>176</locationX>
        <locationY>377</locationY>
        <connector>
            <targetReference>Update_Duration</targetReference>
        </connector>
        <inputAssignments>
            <field>Cannot_Complete_End_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Update_End_Time</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
