unpackaged/main/default/flows/Update_JSA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Task_1_4</name>
        <label>Task 1-4</label>
        <locationX>168</locationX>
        <locationY>540</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_1_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Form__r.Task_Step_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_1</targetReference>
            </connector>
            <label>Task 1 Null?</label>
        </rules>
        <rules>
            <name>Task_2_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Form__r.Task_Step_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_1_0</targetReference>
            </connector>
            <label>Task 2 Null?</label>
        </rules>
        <rules>
            <name>Task_3_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Form__r.Task_Step_3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_1_0_0</targetReference>
            </connector>
            <label>Task 3 Null?</label>
        </rules>
        <rules>
            <name>Task_4_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Form__r.Task_Step_4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_1_0_0_0</targetReference>
            </connector>
            <label>Task 4 Null?</label>
        </rules>
    </decisions>
    <formulas>
        <name>CSE1</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.CSE1_JSAPDF__c}=FALSE,
INCLUDES({!$Record.Confined_Space_Entry__c},&quot;Discuss confined space&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>CSE2</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.CSE2_JSAPDF__c}=FALSE,
INCLUDES({!$Record.Confined_Space_Entry__c},&quot;Conduct atmospheric testing&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>CSE3</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.CSE3_JSAPDF__c}=FALSE,
INCLUDES({!$Record.Confined_Space_Entry__c},&quot;Monitor access or entry&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>CSE4</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.CSE4_JSAPDF__c}=FALSE,
INCLUDES({!$Record.Confined_Space_Entry__c},&quot;Protect surfaces from inadvertent contact&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>CSE5</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.CSE5_JSAPDF__c}=FALSE,
INCLUDES({!$Record.Confined_Space_Entry__c},&quot;Prohibit mobile engines near confined spaces&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>CSE6</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.CSE6_JSAPDF__c}=FALSE,INCLUDES({!$Record.Confined_Space_Entry__c},&quot;Provide Observer&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>CSE7</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.CSE7_JSAPDF__c}=FALSE,INCLUDES({!$Record.Confined_Space_Entry__c},&quot;Develop rescue plan&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>DO1</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.DO1_JSAPDF__c}=FALSE,INCLUDES({!$Record.Dropped_Objects__c},&quot;Use signs and barriers to restrict entry or access underwork at elevation&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>DO2</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.DO2_JSAPDF__c}=FALSE,INCLUDES({!$Record.High_Noise__c},&quot;Use lifting equipment to raise tools to or from the work platform&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>DO3</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.DO2_JSAPDF__c}=FALSE,INCLUDES({!$Record.Dropped_Objects__c},&quot;Secure tools (tie-off)&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>E1</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.E1_JSAPDF__c}=FALSE,
INCLUDES({!$Record.Excavations__c},&quot;Have an excavation plan or safe work practice&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>E2</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.E2_JSAPDF__c}=FALSE,INCLUDES({!$Record.Excavations__c},&quot;Locate underground pipes or cables by hand digging&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>E3</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.E3_JSAPDF__c}=FALSE,INCLUDES({!$Record.Excavations__c},&quot;De-energize underground services&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>E4</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.E4_JSAPDF__c}=FALSE,INCLUDES({!$Record.Excavations__c},&quot;Implement confined space entry controls&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>EAT1</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.EAT1_JSAPDF__c}=FALSE,INCLUDES({!$Record.Equipment_And_Tools__c},&quot;Inspect equipment and tools&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>EAT2</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.EAT2_JSAPDF__c}=FALSE,INCLUDES({!$Record.Equipment_And_Tools__c},&quot;Brass tools necessary&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>EAT3</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.EAT3_JSAPDF__c}=FALSE,INCLUDES({!$Record.Equipment_And_Tools__c},&quot;Use protective guards&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>EAT4</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.EAT4_JSAPDF__c}=FALSE,INCLUDES({!$Record.Equipment_And_Tools__c},&quot;Use correct tools and equipment for task&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>EAT5</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.EAT5_JSAPDF__c}=FALSE,INCLUDES({!$Record.Equipment_And_Tools__c},&quot;Protect or remove sharp edges&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>EAT6</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.EAT6_JSAPDF__c}=FALSE,INCLUDES({!$Record.Equipment_And_Tools__c},&quot;Apply hand safety principles&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>HE1</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.HE1_JSAPDF__c}=FALSE,INCLUDES({!$Record.High_Energy_High_Voltage__c},&quot;Restrict access to authorized personnel only&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>HE2</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.HE2_JSAPDF__c}=FALSE,INCLUDES({!$Record.High_Energy_High_Voltage__c},&quot;Discharge equipment and make electrically dead&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>HE3</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.HE3_JSAPDF__c}=FALSE,INCLUDES({!$Record.High_Energy_High_Voltage__c},&quot;Observe safe work distances for live cables&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>HE4</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.HE4_JSAPDF__c}=FALSE,INCLUDES({!$Record.High_Energy_High_Voltage__c},&quot;Use flash burn PPE&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>HE5</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.HE5_JSAPDF__c}=FALSE,INCLUDES({!$Record.High_Energy_High_Voltage__c},&quot;Use insulated gloves, tools, and mats, GCFI’s&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>HN1</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.HN1_JSAPDF__c}=FALSE,INCLUDES({!$Record.High_Noise__c},&quot;Wear correct hearing PPE&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>HN2</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.HN2_JSAPDF__c}=FALSE,INCLUDES({!$Record.High_Noise__c},&quot;Manage exposure times&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>HN3</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.HN3_JSAPDF__c}=FALSE,INCLUDES({!$Record.High_Noise__c},&quot;Shut down equipment&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>HN4</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.HN4_JSAPDF__c}=FALSE,INCLUDES({!$Record.High_Noise__c},&quot;Use “quiet” tools, Sound barriers or curtains&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>HN5</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.HN5_JSAPDF__c}=FALSE,INCLUDES({!$Record.High_Noise__c},&quot;Provide or use suitable communication technologies&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>HS1</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.HS1_JSAPDF__c}=FALSE,INCLUDES({!$Record.Hazardous_Substances__c},&quot;Drain or purge equipment&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>HS2</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.HS2_JSAPDF__c}=FALSE,INCLUDES({!$Record.Hazardous_Substances__c},&quot;Follow SDS controls&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>HS3</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.HS3_JSAPDF__c}=FALSE,INCLUDES({!$Record.Hazardous_Substances__c},&quot;Implement health hazard controls (Lead, Asbestos, Benzene, H2S, Iron Sulfide, Sulfur Dioxide, NORM)&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>HS4</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.HS4_JSAPDF__c}=FALSE,INCLUDES({!$Record.Hazardous_Substances__c},&quot;Test or analyze material&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>IS1</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.IS1_JSAPDF__c}=FALSE,INCLUDES({!$Record.Ignition_Sources__c},&quot;Remove, isolate, or contain combustible materials&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>IS2</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.IS2_JSAPDF__c}=FALSE,INCLUDES({!$Record.Ignition_Sources__c},&quot;Provide firefighting equipment and fire watch&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>IS3</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.IS3_JSAPDF__c}=FALSE,INCLUDES({!$Record.Ignition_Sources__c},&quot;Implement abrasive blasting controls&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>IS4</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.IS4_JSAPDF__c}=FALSE,INCLUDES({!$Record.Ignition_Sources__c},&quot;Conduct continuous gas testing&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>IS5</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.IS5_JSAPDF__c}=FALSE,INCLUDES({!$Record.Ignition_Sources__c},&quot;Bond or earth for static electricity for cathodic protection&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>LE1</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.LE1_JSAPDF__c}=FALSE,INCLUDES({!$Record.Lifting_Equipment__c},&quot;Confirm lifting equipment condition and certification&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>LE2</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.LE2_JSAPDF__c}=FALSE,INCLUDES({!$Record.Lifting_Equipment__c},&quot;Obtain approval for lifts over processing equipment&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>LE3</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.LE3_JSAPDF__c}=FALSE,INCLUDES({!$Record.Lifting_Equipment__c},&quot;Have a documented approved lift plan&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>ME1</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.ME1_JSAPDF__c}=FALSE,INCLUDES({!$Record.Moving_Equipment__c},&quot;Confirm machinery guard integrity&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>ME2</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.ME2_JSAPDF__c}=FALSE,INCLUDES({!$Record.Moving_Equipment__c},&quot;Provide protective barriers&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>ME3</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.ME3_JSAPDF__c}=FALSE,INCLUDES({!$Record.Moving_Equipment__c},&quot;Observer to monitor proximity of people and equipment&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>ME4</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.ME4_JSAPDF__c}=FALSE,INCLUDES({!$Record.Moving_Equipment__c},&quot;Shut down or lock out equipment&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>ME5</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.ME5_JSAPDF__c}=FALSE,INCLUDES({!$Record.Moving_Equipment__c},&quot;Do not work in the line of fire&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>MH1</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.MH1_JSAPDF__c}=FALSE,INCLUDES({!$Record.Manual_Handling__c},&quot;Assess manual handling task&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>MH2</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.MH2_JSAPDF__c}=FALSE,INCLUDES({!$Record.Manual_Handling__c},&quot;Limit load size&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>MH3</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.MH3_JSAPDF__c}=FALSE,INCLUDES({!$Record.Manual_Handling__c},&quot;Proper lifting technique&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>MH4</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.MH4_JSAPDF__c}=FALSE,INCLUDES({!$Record.Manual_Handling__c},&quot;Confirm stability of load and work platform&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>MH5</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.MH5_JSAPDF__c}=FALSE,INCLUDES({!$Record.Manual_Handling__c},&quot;Get assistance or mechanical aid to avoid pinch point&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>MOE1</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.MOE1_JSAPDF__c}=FALSE,INCLUDES({!$Record.Mobile_Equipment__c},&quot;Assess equipment condition&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>MOE2</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.MOE2_JSAPDF__c}=FALSE,INCLUDES({!$Record.Mobile_Equipment__c},&quot;Implement controls on users or access&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>MOE3</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.MOE3_JSAPDF__c}=FALSE,INCLUDES({!$Record.Mobile_Equipment__c},&quot;Limit and monitor proximity to live equipment on users or access&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>MOE4</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.MOE4_JSAPDF__c}=FALSE,INCLUDES({!$Record.Mobile_Equipment__c},&quot;Manage overhead hazards&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>MOE5</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.MOE5_JSAPDF__c}=FALSE,INCLUDES({!$Record.Mobile_Equipment__c},&quot;Adhere to road / site rules&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>P1</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.P1_JSAPDF__c}=FALSE,INCLUDES({!$Record.Personnel__c},&quot;Perform induction or training for new workers&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>P2</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.P2_JSAPDF__c}=FALSE,INCLUDES({!$Record.Personnel__c},&quot;Mentor / coach / supervise&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>P3</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.P3_JSAPDF__c}=FALSE,INCLUDES({!$Record.Personnel__c},&quot;Verify competencies, skills, and experience&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>P4</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.P4_JSAPDF__c}=FALSE,INCLUDES({!$Record.Personnel__c},&quot;Address applicable limitations (fatigue, exhaustion)&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>P5</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.P5_JSAPDF__c}=FALSE,
INCLUDES({!$Record.Personnel__c},&quot;Manage language barriers Seat belts while driving&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>PE1</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.PE1_JSAPDF__c}=FALSE,INCLUDES({!$Record.Pressurized_Equipment__c},&quot;Perform isolation – LOTO, blinding or defeat&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>PE2</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.PE2_JSAPDF__c}=FALSE,INCLUDES({!$Record.Pressurized_Equipment__c},&quot;Depressurize, drain, purge, and vent&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>PE3</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.PE3_JSAPDF__c}=FALSE,INCLUDES({!$Record.Pressurized_Equipment__c},&quot;Relieve trapped pressure&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>PE4</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.PE4_JSAPDF__c}=FALSE,INCLUDES({!$Record.Pressurized_Equipment__c},&quot;do not work in the line of fire&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>PE5</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.PE5_JSAPDF__c}=FALSE,INCLUDES({!$Record.Pressurized_Equipment__c},&quot;Anticipate residual pressure or fluids&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>PE6</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.PE6_JSAPDF__c}=FALSE,INCLUDES({!$Record.Pressurized_Equipment__c},&quot;Secure all hoses&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>PEE1</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.PEE1_JSAPDF__c}=FALSE,INCLUDES({!$Record.Portable_Electrical_Equipment__c},&quot;Inspect equipment and tools for condition and test date currency&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>PEE2</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.PEE2_JSAPDF__c}=FALSE,INCLUDES({!$Record.Portable_Electrical_Equipment__c},&quot;Implement continuous gas testing&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>PEE3</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.PEE3_JSAPDF__c}=FALSE,INCLUDES({!$Record.Portable_Electrical_Equipment__c},&quot;Protect electrical leads from impact or damage&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>PEE4</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.PEE4_JSAPDF__c}=FALSE,INCLUDES({!$Record.Portable_Electrical_Equipment__c},&quot;Identify equip. classification&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>PLV1</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.PLV1_JSAPDF__c}=FALSE,INCLUDES({!$Record.Poor_Lighting_Visibility__c},&quot;Provide alternate lighting&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>PLV2</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.PLV2_JSAPDF__c}=FALSE,INCLUDES({!$Record.Pressurized_Equipment__c},&quot;Wait or defer until visibility improves&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>PLV3</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.PLV3_JSAPDF__c}=FALSE,INCLUDES({!$Record.Poor_Lighting_Visibility__c},&quot;Defer until visibility improves&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>PLV4</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.PLV4_JSAPDF__c}=FALSE,INCLUDES({!$Record.Poor_Lighting_Visibility__c},&quot;Know distance from poles and other equipment while driving&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>PS1</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.PS1_JSAPDF__c}=FALSE,INCLUDES({!$Record.Potential_Spills__c},&quot;Drain equipment&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>PS2</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.PS2_JSAPDF__c}=FALSE,INCLUDES({!$Record.Potential_Spills__c},&quot;Hoses, connections in good condition&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>PS3</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.PS3_JSAPDF__c}=FALSE,INCLUDES({!$Record.Potential_Spills__c},&quot;Have spill cleanup materials and equipment on hand&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>PS4</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.PS4_JSAPDF__c}=FALSE,INCLUDES({!$Record.Potential_Spills__c},&quot;Restrain and isolate hoses when not in use&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>SO1</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.SO1_JSAPDF__c}=FALSE,INCLUDES({!$Record.Simultaneous_Operations__c},&quot;Follow SIMOPS Matrix MOC required for deviation from SIMOPS restrictions&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>SO2</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.SO2_JSAPDF__c}=FALSE,INCLUDES({!$Record.Simultaneous_Operations__c},&quot;Interface between groups&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>SO3</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.SO3_JSAPDF__c}=FALSE,INCLUDES({!$Record.Simultaneous_Operations__c},&quot;Use barriers and signs to segregate activities&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>SO4</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.SO4_JSAPDF__c}=FALSE,INCLUDES({!$Record.Simultaneous_Operations__c},&quot;Have permit signed by leader of affected groups&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>STF1</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.STF1_JSAPDF__c}=FALSE,INCLUDES({!$Record.Slips_Trips_And_Falls__c},&quot;Identify and shield uneven surface or projections&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>STF2</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.STF2_JSAPDF__c}=FALSE,INCLUDES({!$Record.Slips_Trips_And_Falls__c},&quot;Flag hazards as necessary&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>STF3</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.STF3_JSAPDF__c}=FALSE,INCLUDES({!$Record.Slips_Trips_And_Falls__c},&quot;Secure or cover cables, cords, and tubing&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>STF4</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.STF4_JSAPDF__c}=FALSE,INCLUDES({!$Record.Slips_Trips_And_Falls__c},&quot;Clean up liquids&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>STF5</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.STF5_JSAPDF__c}=FALSE,INCLUDES({!$Record.Slips_Trips_And_Falls__c},&quot;Barricade or rope off openings and holes&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>W1</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.W1_JSAPDF__c}=FALSE,INCLUDES({!$Record.Weather__c},&quot;Implement controls for slippery surfaces&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>W2</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.W2_JSAPDF__c}=FALSE,
INCLUDES({!$Record.Weather__c},&quot;Heat – hydration, breaks&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>W3</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.W3_JSAPDF__c}=FALSE,INCLUDES({!$Record.Weather__c},&quot;Cold – PPE, heaters&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>W4</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.W4_JSAPDF__c}=FALSE,INCLUDES({!$Record.Weather__c},&quot;Lightning – tool selection, defer work&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>WAH1</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.WAH1_JSAPDF__c}=FALSE,INCLUDES({!$Record.Work_at_Heights__c},&quot;Discuss working at heights safe work practice&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>WAH2</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.WAH2_JSAPDF__c}=FALSE,INCLUDES({!$Record.Work_at_Heights__c},&quot;Verify fall restraint and arrest equipment certification&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>WAH3</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.WAH3_JSAPDF__c}=FALSE,INCLUDES({!$Record.Work_at_Heights__c},&quot;Full body harness is required&quot;),TRUE)</expression>
    </formulas>
    <formulas>
        <name>WAH4</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Form__r.WAH4_JSAPDF__c}=FALSE,INCLUDES({!$Record.Work_at_Heights__c},&quot;Locking type snaphooks must be used&quot;),TRUE)</expression>
    </formulas>
    <interviewLabel>Update JSA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update JSA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Box</name>
        <label>Update Box</label>
        <locationX>742</locationX>
        <locationY>556</locationY>
        <inputAssignments>
            <field>Update_JSA__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_JSA</name>
        <label>Update JSA</label>
        <locationX>176</locationX>
        <locationY>359</locationY>
        <connector>
            <targetReference>Task_1_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CSE1_JSAPDF__c</field>
            <value>
                <elementReference>CSE1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSE2_JSAPDF__c</field>
            <value>
                <elementReference>CSE2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSE3_JSAPDF__c</field>
            <value>
                <elementReference>CSE3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSE4_JSAPDF__c</field>
            <value>
                <elementReference>CSE4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSE5_JSAPDF__c</field>
            <value>
                <elementReference>CSE5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSE6_JSAPDF__c</field>
            <value>
                <elementReference>CSE6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSE7_JSAPDF__c</field>
            <value>
                <elementReference>CSE7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DO1_JSAPDF__c</field>
            <value>
                <elementReference>DO1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DO2_JSAPDF__c</field>
            <value>
                <elementReference>DO2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DO3_JSAPDF__c</field>
            <value>
                <elementReference>DO3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E1_JSAPDF__c</field>
            <value>
                <elementReference>E1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2_JSAPDF__c</field>
            <value>
                <elementReference>E2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E3_JSAPDF__c</field>
            <value>
                <elementReference>E3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E4_JSAPDF__c</field>
            <value>
                <elementReference>E4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EAT1_JSAPDF__c</field>
            <value>
                <elementReference>EAT1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EAT2_JSAPDF__c</field>
            <value>
                <elementReference>EAT2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EAT3_JSAPDF__c</field>
            <value>
                <elementReference>EAT3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EAT4_JSAPDF__c</field>
            <value>
                <elementReference>EAT4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EAT5_JSAPDF__c</field>
            <value>
                <elementReference>EAT5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EAT6_JSAPDF__c</field>
            <value>
                <elementReference>EAT6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HE1_JSAPDF__c</field>
            <value>
                <elementReference>HE1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HE2_JSAPDF__c</field>
            <value>
                <elementReference>HE2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HE3_JSAPDF__c</field>
            <value>
                <elementReference>HE3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HE4_JSAPDF__c</field>
            <value>
                <elementReference>HE4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HE5_JSAPDF__c</field>
            <value>
                <elementReference>HE5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HN1_JSAPDF__c</field>
            <value>
                <elementReference>HN1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HN2_JSAPDF__c</field>
            <value>
                <elementReference>HN2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HN3_JSAPDF__c</field>
            <value>
                <elementReference>HN3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HN4_JSAPDF__c</field>
            <value>
                <elementReference>HN4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HN5_JSAPDF__c</field>
            <value>
                <elementReference>HN5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS1_JSAPDF__c</field>
            <value>
                <elementReference>HS1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS2_JSAPDF__c</field>
            <value>
                <elementReference>HS2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS3_JSAPDF__c</field>
            <value>
                <elementReference>HS3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS4_JSAPDF__c</field>
            <value>
                <elementReference>HS4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IS1_JSAPDF__c</field>
            <value>
                <elementReference>IS1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IS2_JSAPDF__c</field>
            <value>
                <elementReference>IS2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IS3_JSAPDF__c</field>
            <value>
                <elementReference>IS3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IS4_JSAPDF__c</field>
            <value>
                <elementReference>IS4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IS5_JSAPDF__c</field>
            <value>
                <elementReference>IS5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LE1_JSAPDF__c</field>
            <value>
                <elementReference>LE1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LE2_JSAPDF__c</field>
            <value>
                <elementReference>LE2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LE3_JSAPDF__c</field>
            <value>
                <elementReference>LE3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ME1_JSAPDF__c</field>
            <value>
                <elementReference>ME1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ME2_JSAPDF__c</field>
            <value>
                <elementReference>ME2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ME3_JSAPDF__c</field>
            <value>
                <elementReference>ME3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ME4_JSAPDF__c</field>
            <value>
                <elementReference>ME4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ME5_JSAPDF__c</field>
            <value>
                <elementReference>ME5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MH1_JSAPDF__c</field>
            <value>
                <elementReference>MH1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MH2_JSAPDF__c</field>
            <value>
                <elementReference>MH2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MH3_JSAPDF__c</field>
            <value>
                <elementReference>MH3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MH4_JSAPDF__c</field>
            <value>
                <elementReference>MH4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MH5_JSAPDF__c</field>
            <value>
                <elementReference>MH5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MOE1_JSAPDF__c</field>
            <value>
                <elementReference>MOE1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MOE2_JSAPDF__c</field>
            <value>
                <elementReference>MOE2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MOE3_JSAPDF__c</field>
            <value>
                <elementReference>MOE3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MOE4_JSAPDF__c</field>
            <value>
                <elementReference>MOE4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MOE5_JSAPDF__c</field>
            <value>
                <elementReference>MOE5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>P1_JSAPDF__c</field>
            <value>
                <elementReference>P1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>P2_JSAPDF__c</field>
            <value>
                <elementReference>P2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>P3_JSAPDF__c</field>
            <value>
                <elementReference>P3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>P4_JSAPDF__c</field>
            <value>
                <elementReference>P4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>P5_JSAPDF__c</field>
            <value>
                <elementReference>P5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PE1_JSAPDF__c</field>
            <value>
                <elementReference>PE1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PE2_JSAPDF__c</field>
            <value>
                <elementReference>PE2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PE3_JSAPDF__c</field>
            <value>
                <elementReference>PE3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PE4_JSAPDF__c</field>
            <value>
                <elementReference>PE4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PE5_JSAPDF__c</field>
            <value>
                <elementReference>PE5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PE6_JSAPDF__c</field>
            <value>
                <elementReference>PE6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PEE1_JSAPDF__c</field>
            <value>
                <elementReference>PEE1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PEE2_JSAPDF__c</field>
            <value>
                <elementReference>PEE2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PEE3_JSAPDF__c</field>
            <value>
                <elementReference>PEE3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PEE4_JSAPDF__c</field>
            <value>
                <elementReference>PEE4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PLV1_JSAPDF__c</field>
            <value>
                <elementReference>PLV1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PLV2_JSAPDF__c</field>
            <value>
                <elementReference>PLV2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PLV3_JSAPDF__c</field>
            <value>
                <elementReference>PLV3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PLV4_JSAPDF__c</field>
            <value>
                <elementReference>PLV4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PS1_JSAPDF__c</field>
            <value>
                <elementReference>PS1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PS2_JSAPDF__c</field>
            <value>
                <elementReference>PS2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PS3_JSAPDF__c</field>
            <value>
                <elementReference>PS3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PS4_JSAPDF__c</field>
            <value>
                <elementReference>PS4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SO1_JSAPDF__c</field>
            <value>
                <elementReference>SO1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SO2_JSAPDF__c</field>
            <value>
                <elementReference>SO2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SO3_JSAPDF__c</field>
            <value>
                <elementReference>SO3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SO4_JSAPDF__c</field>
            <value>
                <elementReference>SO4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>STF1_JSAPDF__c</field>
            <value>
                <elementReference>STF1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>STF2_JSAPDF__c</field>
            <value>
                <elementReference>STF2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>STF3_JSAPDF__c</field>
            <value>
                <elementReference>STF3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>STF4_JSAPDF__c</field>
            <value>
                <elementReference>STF4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>STF5_JSAPDF__c</field>
            <value>
                <elementReference>STF5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>W1_JSAPDF__c</field>
            <value>
                <elementReference>W1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>W2_JSAPDF__c</field>
            <value>
                <elementReference>W2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>W3_JSAPDF__c</field>
            <value>
                <elementReference>W3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>W4_JSAPDF__c</field>
            <value>
                <elementReference>W4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WAH1_JSAPDF__c</field>
            <value>
                <elementReference>WAH1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WAH2_JSAPDF__c</field>
            <value>
                <elementReference>WAH2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WAH3_JSAPDF__c</field>
            <value>
                <elementReference>WAH3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WAH4_JSAPDF__c</field>
            <value>
                <elementReference>WAH4</elementReference>
            </value>
        </inputAssignments>
        <object>Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_1</name>
        <label>Update Task 1</label>
        <locationX>405</locationX>
        <locationY>426</locationY>
        <connector>
            <targetReference>Update_Box</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Hazard_Controls_1__c</field>
            <value>
                <elementReference>$Record.Hazard_Control__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stop_the_Job_1__c</field>
            <value>
                <elementReference>$Record.Stop_the_Job__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Step_1__c</field>
            <value>
                <elementReference>$Record.Task_Step__c</elementReference>
            </value>
        </inputAssignments>
        <object>Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_1_0</name>
        <label>Update Task 2</label>
        <locationX>431</locationX>
        <locationY>550</locationY>
        <connector>
            <targetReference>Update_Box</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Hazard_Controls_2__c</field>
            <value>
                <elementReference>$Record.Hazard_Control__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stop_the_Job_2__c</field>
            <value>
                <elementReference>$Record.Stop_the_Job__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Step_2__c</field>
            <value>
                <elementReference>$Record.Task_Step__c</elementReference>
            </value>
        </inputAssignments>
        <object>Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_1_0_0</name>
        <label>Update Task 3</label>
        <locationX>413</locationX>
        <locationY>685</locationY>
        <connector>
            <targetReference>Update_Box</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Hazard_Controls_3__c</field>
            <value>
                <elementReference>$Record.Hazard_Control__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stop_the_Job_3__c</field>
            <value>
                <elementReference>$Record.Stop_the_Job__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Step_3__c</field>
            <value>
                <elementReference>$Record.Task_Step__c</elementReference>
            </value>
        </inputAssignments>
        <object>Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_1_0_0_0</name>
        <label>Update Task 4</label>
        <locationX>273</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>Update_Box</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stop_the_Job_4__c</field>
            <value>
                <elementReference>$Record.Stop_the_Job__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Step_4__c</field>
            <value>
                <elementReference>$Record.Task_Step__c</elementReference>
            </value>
        </inputAssignments>
        <object>Form__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Update_JSA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Update_JSA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
