unpackaged/main/default/flows/Water_Transfer_Skid_PM_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>ID_Assignment_ID_0</name>
        <label>ID Assignment ID</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>WO_Assignment_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Water_Transfer_Skid_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RecordID_Assignment_ID</name>
        <label>RecordID Assignment ID</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>WO_Assignment_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Water_Transfer_Skid_Form</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>WaterSkidImiage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&#39;/resource/WaterSkidPhoto&#39; /&gt; </stringValue>
        </value>
    </constants>
    <decisions>
        <description>Decision Presents a new screen if the user said no and did not provide a reason</description>
        <name>Oil_Change_Decision</name>
        <label>Oil Change Decision</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Create_Water_Skid_form_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oil_was_not_changed_and_Reason_was_left_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OilChangeDECFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oil_Change_Reason</targetReference>
            </connector>
            <label>Oil was not changed and Reason was left Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Record_ID</name>
        <label>Which Record ID</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Water_Transfer_Skid_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ID_Which_Record_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Orders_0</targetReference>
            </connector>
            <label>ID</label>
        </rules>
        <rules>
            <name>RecordIdWhich_Record_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Orders_For_BO_0</targetReference>
            </connector>
            <label>RecordId</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ChangeOil_Yes_NO</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Changed_Oil__c</picklistField>
        <picklistObject>Water_Transfer_Skid_PM__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Check_the_strainer_for_any_debris_Yes_No</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Check_the_strainer_for_any_debris__c</picklistField>
        <picklistObject>Water_Transfer_Skid_PM__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Foundation_and_hold_down_bolts_checked_for_tightness_Yes_No</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Foundation_and_hold_down_bolts_checked__c</picklistField>
        <picklistObject>Water_Transfer_Skid_PM__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Shaft_alignment_within_specifications_Yes_No</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Shaft_alignment_within_specifications__c</picklistField>
        <picklistObject>Water_Transfer_Skid_PM__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>OilChangeDECFormula</name>
        <dataType>Boolean</dataType>
        <expression>{!Changed_Oil_PL}==&quot;No&quot; &amp;&amp; ISBLANK({!If_oil_could_not_be_changed_please_note_why})</expression>
    </formulas>
    <interviewLabel>Water Transfer Skid PM Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Water Transfer Skid PM Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Water_Skid_form_0</name>
        <label>Create Water Skid form</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignRecordIdToReference>CreateWaterSkidId</assignRecordIdToReference>
        <inputAssignments>
            <field>Changed_Oil__c</field>
            <value>
                <elementReference>Changed_Oil_PL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_the_strainer_for_any_debris__c</field>
            <value>
                <elementReference>Check_the_strainer_for_any_debris_PL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Foundation_and_hold_down_bolts_checked__c</field>
            <value>
                <elementReference>Foundation_and_hold_down_bolts_checked_for_tightness_PL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>General_Comments__c</field>
            <value>
                <elementReference>General_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motor_DE_Horizontal__c</field>
            <value>
                <elementReference>X1_Motor_DE_Horizontal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motor_DE_Vertical__c</field>
            <value>
                <elementReference>X1_Motor_DE_Vertical</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motor_NDE_Horizontal__c</field>
            <value>
                <elementReference>X1_Motor_NDE_Horizontal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motor_NDE_Vertical__c</field>
            <value>
                <elementReference>X1_Motor_NDE_Vertical</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oil_Change_Comment__c</field>
            <value>
                <elementReference>If_oil_could_not_be_changed_please_note_why_Val_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pump_DE_Horizontal__c</field>
            <value>
                <elementReference>X1_Pump_DE_Horizontal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pump_DE_Vertical__c</field>
            <value>
                <elementReference>X1_Pump_DE_Vertical</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pump_Discharge_Pressure__c</field>
            <value>
                <elementReference>Pump_Discharge_Pressure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pump_NDE_Horizontal__c</field>
            <value>
                <elementReference>X1_Pump_NDE_Horizontal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pump_NDE_Vertical__c</field>
            <value>
                <elementReference>X1_Pump_NDE_Vertical</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pump_Suction_Pressure__c</field>
            <value>
                <elementReference>Pump_Suction_Pressure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shaft_alignment_within_specifications__c</field>
            <value>
                <elementReference>Shaft_alignment_within_specifications_PL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Single_Phase_Line_1_amps__c</field>
            <value>
                <elementReference>Single_Phase_Line_1_amps</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Single_Phase_Line_2_amps__c</field>
            <value>
                <elementReference>Single_Phase_Line_2_amps</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Three_Phase_Line_1_amps__c</field>
            <value>
                <elementReference>Three_Phrase_Line_1_amps</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Three_Phase_Line_2_amps__c</field>
            <value>
                <elementReference>Three_Phrase_Line_2_amps</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Three_Phase_Line_3_amps__c</field>
            <value>
                <elementReference>Three_Phrase_Line_3_amps</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>Work_Order_Record_Set.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Water_Transfer_Skid_PM__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Water_Skid_form_0_0</name>
        <label>Create Water Skid form</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <assignRecordIdToReference>CreateWaterSkidId</assignRecordIdToReference>
        <inputAssignments>
            <field>Changed_Oil__c</field>
            <value>
                <elementReference>Changed_Oil_PL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_the_strainer_for_any_debris__c</field>
            <value>
                <elementReference>Check_the_strainer_for_any_debris_PL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Foundation_and_hold_down_bolts_checked__c</field>
            <value>
                <elementReference>Foundation_and_hold_down_bolts_checked_for_tightness_PL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>General_Comments__c</field>
            <value>
                <elementReference>General_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motor_DE_Horizontal__c</field>
            <value>
                <elementReference>X1_Motor_DE_Horizontal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motor_DE_Vertical__c</field>
            <value>
                <elementReference>X1_Motor_DE_Vertical</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motor_NDE_Horizontal__c</field>
            <value>
                <elementReference>X1_Motor_NDE_Horizontal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motor_NDE_Vertical__c</field>
            <value>
                <elementReference>X1_Motor_NDE_Vertical</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oil_Change_Comment__c</field>
            <value>
                <elementReference>If_oil_could_not_be_changed_please_note_why</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pump_DE_Horizontal__c</field>
            <value>
                <elementReference>X1_Pump_DE_Horizontal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pump_DE_Vertical__c</field>
            <value>
                <elementReference>X1_Pump_DE_Vertical</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pump_Discharge_Pressure__c</field>
            <value>
                <elementReference>Pump_Discharge_Pressure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pump_NDE_Horizontal__c</field>
            <value>
                <elementReference>X1_Pump_NDE_Horizontal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pump_NDE_Vertical__c</field>
            <value>
                <elementReference>X1_Pump_NDE_Vertical</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pump_Suction_Pressure__c</field>
            <value>
                <elementReference>Pump_Suction_Pressure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shaft_alignment_within_specifications__c</field>
            <value>
                <elementReference>Shaft_alignment_within_specifications_PL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Single_Phase_Line_1_amps__c</field>
            <value>
                <elementReference>Single_Phase_Line_1_amps</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Single_Phase_Line_2_amps__c</field>
            <value>
                <elementReference>Single_Phase_Line_2_amps</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Three_Phase_Line_1_amps__c</field>
            <value>
                <elementReference>Three_Phrase_Line_1_amps</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Three_Phase_Line_2_amps__c</field>
            <value>
                <elementReference>Three_Phrase_Line_2_amps</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Three_Phase_Line_3_amps__c</field>
            <value>
                <elementReference>Three_Phrase_Line_3_amps</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>Work_Order_Record_Set.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Water_Transfer_Skid_PM__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Work_Orders_0</name>
        <label>Get Work Orders</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ID_Assignment_ID_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>Work_Order_Record_Set</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>Asset_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Orders_For_BO_0</name>
        <label>Get Work Orders For BO</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordID_Assignment_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>Work_Order_Record_Set2</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Oil_Change_Reason</name>
        <label>Oil Change Reason</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Water_Skid_form_0</targetReference>
        </connector>
        <fields>
            <name>OILChangeValDisplayText</name>
            <fieldText>&lt;p&gt;You indicated that the Oil was not changed. Please provide  the reason why.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>If_oil_could_not_be_changed_please_note_why_Val_Screen</name>
            <dataType>String</dataType>
            <fieldText>Reason why oil was not changed.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment Must be Less then 255 &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif;&quot;&gt;Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!If_oil_could_not_be_changed_please_note_why})&lt;255</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Water_Transfer_Skid_Form</name>
        <label>Water Transfer Skid Form</label>
        <locationX>314</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Oil_Change_Decision</targetReference>
        </connector>
        <fields>
            <name>Top_Section_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Every three months, the following inspections should be completed on water transfer skids.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pump_Suction_Pressure</name>
            <dataType>Number</dataType>
            <fieldText>Pump Suction Pressure</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Pump_Discharge_Pressure</name>
            <dataType>Number</dataType>
            <fieldText>Pump Discharge Pressure</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Changed_Oil_PL</name>
            <choiceReferences>ChangeOil_Yes_NO</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Changed Oil</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>If_oil_could_not_be_changed_please_note_why</name>
            <dataType>String</dataType>
            <fieldText>If oil could not be changed please note why</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment Must be Less then 255 &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif;&quot;&gt;Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!If_oil_could_not_be_changed_please_note_why})&lt;255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Shaft_alignment_within_specifications_PL</name>
            <choiceReferences>Shaft_alignment_within_specifications_Yes_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Shaft alignment within specifications?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Foundation_and_hold_down_bolts_checked_for_tightness_PL</name>
            <choiceReferences>Foundation_and_hold_down_bolts_checked_for_tightness_Yes_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Foundation and hold-down bolts checked for tightness?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Check_the_strainer_for_any_debris_PL</name>
            <choiceReferences>Check_the_strainer_for_any_debris_Yes_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Check the strainer for any debris</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>General_Comments</name>
            <fieldText>General Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Comment Must be Less then &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif;&quot;&gt;32,768 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!General_Comments})&lt;32768</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>RefrenceDrawing</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Record vibration - reference drawing for exact locations&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;﻿{!WaterSkidImiage}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>One_Motor_NDE</name>
            <fieldText>&lt;p&gt;&lt;b&gt;1 - Motor NDE&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X1_Motor_NDE_Vertical</name>
            <dataType>Number</dataType>
            <fieldText>Vertical</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>X1_Motor_NDE_Horizontal</name>
            <dataType>Number</dataType>
            <fieldText>Horizontal</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>TWO_Motor_DE</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;2 - Motor DE&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X1_Motor_DE_Vertical</name>
            <dataType>Number</dataType>
            <fieldText>Vertical</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>X1_Motor_DE_Horizontal</name>
            <dataType>Number</dataType>
            <fieldText>Horizontal</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Three_Pump_DE</name>
            <fieldText>&lt;p&gt;&lt;b&gt;3 - Pump DE&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X1_Pump_DE_Vertical</name>
            <dataType>Number</dataType>
            <fieldText>Vertical</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>X1_Pump_DE_Horizontal</name>
            <dataType>Number</dataType>
            <fieldText>Horizontal</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Four_Pump_NDE</name>
            <fieldText>&lt;p&gt;&lt;b&gt;4 - Pump NDE&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X1_Pump_NDE_Vertical</name>
            <dataType>Number</dataType>
            <fieldText>Vertical</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>X1_Pump_NDE_Horizontal</name>
            <dataType>Number</dataType>
            <fieldText>Horizontal</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>AMP_Draw_Section</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Record motor amp draw &lt;/b&gt;&lt;b style=&quot;color: rgb(237, 9, 9);&quot;&gt;(I&amp;amp;E ONLY)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Single_Phase</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Single Phase&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Single_Phase_Line_1_amps</name>
            <dataType>Number</dataType>
            <fieldText>Line 1 amps</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Single_Phase_Line_2_amps</name>
            <dataType>Number</dataType>
            <fieldText>Line 2 amps</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Three_phase_amp_draw</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Three phase amp draw&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Three_Phrase_Line_1_amps</name>
            <dataType>Number</dataType>
            <fieldText>Line 1 amps</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Three_Phrase_Line_2_amps</name>
            <dataType>Number</dataType>
            <fieldText>Line 2 amps</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Three_Phrase_Line_3_amps</name>
            <dataType>Number</dataType>
            <fieldText>Line 3 amps</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_Record_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreateWaterSkidId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WO_Assignment_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used to store Work order variables for the flow</description>
        <name>Work_Order_Record_Set</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>Work_Order_Record_Set2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
