unpackaged/main/default/flows/Well_Tier_Maintenance_Plan_Reassignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Is_there_a_Maintenance_Asset</name>
        <label>Is there a Maintenance Asset?</label>
        <locationX>154</locationX>
        <locationY>178</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MaintenanceAssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_Maintenance_Asset</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Tier</name>
        <label>New Tier</label>
        <locationX>440</locationX>
        <locationY>179</locationY>
        <defaultConnector>
            <targetReference>Create_New_C</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>C</defaultConnectorLabel>
        <rules>
            <name>A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tier</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_A</targetReference>
            </connector>
            <label>A</label>
        </rules>
        <rules>
            <name>B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tier</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_B</targetReference>
            </connector>
            <label>B</label>
        </rules>
    </decisions>
    <description>Call by the Asset Created/Updated PB, this flow creates a new Maintenance Asset record under the new Maintenance Plan based on the new Tier and then deletes the old one.</description>
    <interviewLabel>Well Tier Maintenance Plan Reassignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Well Tier Maintenance Plan Reassignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_A</name>
        <label>Create New A</label>
        <locationX>649</locationX>
        <locationY>45</locationY>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaintenancePlanId</field>
            <value>
                <elementReference>TierAMaintenancePlanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextSuggestedMaintenanceDate</field>
            <value>
                <elementReference>NextMaintenanceDate</elementReference>
            </value>
        </inputAssignments>
        <object>MaintenanceAsset</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_B</name>
        <label>Create New B</label>
        <locationX>655</locationX>
        <locationY>177</locationY>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaintenancePlanId</field>
            <value>
                <elementReference>TierBMaintenancePlanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextSuggestedMaintenanceDate</field>
            <value>
                <elementReference>NextMaintenanceDate</elementReference>
            </value>
        </inputAssignments>
        <object>MaintenanceAsset</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_C</name>
        <label>Create New C</label>
        <locationX>654</locationX>
        <locationY>295</locationY>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaintenancePlanId</field>
            <value>
                <elementReference>TierCMaintenancePlanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextSuggestedMaintenanceDate</field>
            <value>
                <elementReference>NextMaintenanceDate</elementReference>
            </value>
        </inputAssignments>
        <object>MaintenanceAsset</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existing_Maintenance_Asset</name>
        <label>Delete Existing Maintenance Asset</label>
        <locationX>319</locationX>
        <locationY>177</locationY>
        <connector>
            <targetReference>New_Tier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MaintenanceAssetId</elementReference>
            </value>
        </filters>
        <object>MaintenanceAsset</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Maintenance_Assets</name>
        <label>Get Maintenance Assets</label>
        <locationX>50</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_Maintenance_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>08q3i000000Lo4IAAS</stringValue>
            </value>
        </filters>
        <object>MaintenanceAsset</object>
        <outputAssignments>
            <assignToReference>MaintenanceAssetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NextMaintenanceDate</assignToReference>
            <field>NextSuggestedMaintenanceDate</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Maintenance_Assets</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MaintenanceAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NextMaintenanceDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Tier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Tier_old</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TierAMaintenancePlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TierBMaintenancePlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TierCMaintenancePlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
