unpackaged/main/default/flows/WorkPermit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>NA</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <dynamicChoiceSets>
        <name>ProtectiveEquipPicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>X4_Additional_PPE__c</picklistField>
        <picklistObject>Form__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>WorkPermit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WorkPermit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Work_Permit_Record</name>
        <label>Create Work Permit Record</label>
        <locationX>974</locationX>
        <locationY>190</locationY>
        <assignRecordIdToReference>WorkPermitFormIDVar</assignRecordIdToReference>
        <connector>
            <targetReference>HSE_Checklist1</targetReference>
        </connector>
        <inputAssignments>
            <field>Detailed_Description_of_Work__c</field>
            <value>
                <elementReference>Detailed_Description_of_Work</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>Expiration_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Date__c</field>
            <value>
                <elementReference>Issue_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeVar.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Form__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>732</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Permit_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Work_Permit</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordTypeVar</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>584</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrderRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Form</name>
        <label>Update Form</label>
        <locationX>1221</locationX>
        <locationY>192</locationY>
        <connector>
            <targetReference>HSE_Checklist2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkPermitFormIDVar</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments_1__c</field>
            <value>
                <elementReference>Comments1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purged_with__c</field>
            <value>
                <elementReference>Purged_with</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X1_Has_field_verification_occurred__c</field>
            <value>
                <elementReference>X1_Has_field_verification_occurred</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X2_Precautions__c</field>
            <value>
                <elementReference>X2_Process_equipment_cleared_depressured_and_isolated_OR_extra_precautions_liste</elementReference>
            </value>
        </inputAssignments>
        <object>Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Form_0</name>
        <label>Update Form</label>
        <locationX>1347</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>HSE_Checklist1_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkPermitFormIDVar</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments_3__c</field>
            <value>
                <elementReference>Comments3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_of_Lock_Box__c</field>
            <value>
                <elementReference>Location_of_Lock_Box</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X3_Lock_Out_Tag_Out_to_be_performed__c</field>
            <value>
                <elementReference>X3_Lock_Out_Tag_Out_to_be_performed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X3a_Is_Lock_Box_being_used__c</field>
            <value>
                <elementReference>Is_Lock_Box_being_used</elementReference>
            </value>
        </inputAssignments>
        <object>Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Form_0_0</name>
        <label>Update Form</label>
        <locationX>1079</locationX>
        <locationY>342</locationY>
        <connector>
            <targetReference>HSE_Checklist1_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkPermitFormIDVar</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments_5__c</field>
            <value>
                <elementReference>Comments5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments_6__c</field>
            <value>
                <elementReference>Comments6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments_8__c</field>
            <value>
                <elementReference>Comments8</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fall_Protection_Type__c</field>
            <value>
                <elementReference>Fall_Protection_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X4_Additional_PPE__c</field>
            <value>
                <elementReference>X4_Specific_Protective_Equipment_beyond_standard_PPE_required_for_this_task</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X5_Nearest_Safety_Shower_eye_wash_tested__c</field>
            <value>
                <elementReference>X5_Nearest_Safety_Shower_eye_wash_tested</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X6_Nearest_Fire_Extinguisher_identified__c</field>
            <value>
                <elementReference>X6_Nearest_Fire_Extinguisher_identified</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X7_Fall_Protection_Required__c</field>
            <value>
                <elementReference>X7_Fall_Protection_Required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X8_Equipment_grounded__c</field>
            <value>
                <elementReference>X8_Equipment_grounded_to_prevent_static_spark</elementReference>
            </value>
        </inputAssignments>
        <object>Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Form_0_0_0</name>
        <label>Update Form</label>
        <locationX>840</locationX>
        <locationY>340</locationY>
        <connector>
            <targetReference>done</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkPermitFormIDVar</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments_10__c</field>
            <value>
                <elementReference>Comments10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments_9__c</field>
            <value>
                <elementReference>Comments9</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_Hazardous_Chemicals__c</field>
            <value>
                <elementReference>If_yes_list_here</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other__c</field>
            <value>
                <elementReference>Other_Concerns_Contractor_Requirements_or_hazards_identified</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_EmergAssemblyArea__c</field>
            <value>
                <elementReference>Primary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_EmergAssemblyArea__c</field>
            <value>
                <elementReference>Secondary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X10_Slip_Trip_and_Fall_Hazards__c</field>
            <value>
                <elementReference>X10_Slip_Trip_and_Fall_hazards_identified</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X11_Hazardous_chemicals_nearby__c</field>
            <value>
                <elementReference>X11_Hazardous_chemicals_nearby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X12_Emergency_Assembly_Area_Identified__c</field>
            <value>
                <elementReference>X12_Emergency_Assembly_Area_Identified</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X9_Hot_surfaces_identified__c</field>
            <value>
                <elementReference>X9_Hot_surfaces_identified_burn_hazards</elementReference>
            </value>
        </inputAssignments>
        <object>Form__c</object>
    </recordUpdates>
    <screens>
        <name>done</name>
        <label>done</label>
        <locationX>732</locationX>
        <locationY>344</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>WPCreated</name>
            <fieldText>&lt;p&gt;Work Permit Created. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>HSE_Checklist1</name>
        <label>HSE Checklist</label>
        <locationX>1102</locationX>
        <locationY>191</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Form</targetReference>
        </connector>
        <fields>
            <name>HSEChecklist</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;HSE Checklist&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X1_Has_field_verification_occurred</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>NA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>1. Has field verification occurred?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comments1</name>
            <dataType>String</dataType>
            <fieldText>Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X2_Process_equipment_cleared_depressured_and_isolated_OR_extra_precautions_liste</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>NA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>2. Process equipment cleared, depressured and isolated, OR extra precautions listed.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Purged_with</name>
            <dataType>String</dataType>
            <fieldText>Purged with:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>HSE_Checklist1_0</name>
        <label>HSE Checklist</label>
        <locationX>1229</locationX>
        <locationY>338</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Form_0_0</targetReference>
        </connector>
        <fields>
            <name>HSEChecklist_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;HSE Checklist&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X4_Specific_Protective_Equipment_beyond_standard_PPE_required_for_this_task</name>
            <choiceReferences>ProtectiveEquipPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>4. Specific Protective Equipment beyond standard PPE required for this task.</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Standard PPE: &lt;/b&gt;hard hat, safety glasses with sideshields, protective toe shoes.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X5_Nearest_Safety_Shower_eye_wash_tested</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>NA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>5. Nearest Safety Shower/eye wash tested</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comments5</name>
            <dataType>String</dataType>
            <fieldText>Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X6_Nearest_Fire_Extinguisher_identified</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>NA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>6. Nearest Fire Extinguisher identified</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comments6</name>
            <dataType>String</dataType>
            <fieldText>Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X7_Fall_Protection_Required</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>NA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>7. Fall Protection Required?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fall_Protection_Type</name>
            <dataType>String</dataType>
            <fieldText>Fall Protection Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X8_Equipment_grounded_to_prevent_static_spark</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>NA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>8. Equipment grounded to prevent static spark.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comments8</name>
            <dataType>String</dataType>
            <fieldText>Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>HSE_Checklist1_0_0</name>
        <label>HSE Checklist</label>
        <locationX>949</locationX>
        <locationY>343</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Form_0_0_0</targetReference>
        </connector>
        <fields>
            <name>HSEChecklist_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;HSE Checklist&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X9_Hot_surfaces_identified_burn_hazards</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>NA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>9. Hot surfaces identified. (burn hazards)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comments9</name>
            <dataType>String</dataType>
            <fieldText>Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X10_Slip_Trip_and_Fall_hazards_identified</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>NA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>10. Slip, Trip, and Fall hazards identified.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comments10</name>
            <dataType>String</dataType>
            <fieldText>Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X11_Hazardous_chemicals_nearby</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>NA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>11. Hazardous chemicals nearby.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>If_yes_list_here</name>
            <dataType>String</dataType>
            <fieldText>If yes, list here:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X12_Emergency_Assembly_Area_Identified</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>NA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>12. Emergency Assembly Area Identified.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Primary</name>
            <dataType>String</dataType>
            <fieldText>Primary:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Secondary</name>
            <dataType>String</dataType>
            <fieldText>Secondary:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>GasDetectorReadings</name>
            <fieldText>&lt;p&gt;13. Gas Detector reading for instrument work in a classified area and vehicle entry.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LEL</name>
            <dataType>Number</dataType>
            <fieldText>LEL:</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;(0-10%)&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>X02</name>
            <dataType>Number</dataType>
            <fieldText>02:</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;(19.5-23.5%)&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Other_Concerns_Contractor_Requirements_or_hazards_identified</name>
            <dataType>String</dataType>
            <fieldText>Other Concerns, Contractor Requirements, or hazards identified</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>HSE_Checklist2</name>
        <label>HSE Checklist</label>
        <locationX>1346</locationX>
        <locationY>188</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Form_0</targetReference>
        </connector>
        <fields>
            <name>HSEChecklist_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;HSE Checklist&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X3_Lock_Out_Tag_Out_to_be_performed</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>NA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>3. Lock Out/Tag Out to be performed.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comments3</name>
            <dataType>String</dataType>
            <fieldText>Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Is_Lock_Box_being_used</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>NA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is Lock Box being used?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Location_of_Lock_Box</name>
            <dataType>String</dataType>
            <fieldText>Location of Lock Box:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>If_electrical_has_try_been_performed</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>NA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>If electrical, has try been performed?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Try_step_required</name>
            <dataType>String</dataType>
            <fieldText>(Try step required)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Work_Permit_Details</name>
        <label>Work Permit Details</label>
        <locationX>858</locationX>
        <locationY>189</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Work_Permit_Record</targetReference>
        </connector>
        <fields>
            <name>Issue_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>Issue Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Expiration_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>Expiration Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Equipment_Name</name>
            <dataType>String</dataType>
            <fieldText>Equipment Name/#</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Detailed_Description_of_Work</name>
            <fieldText>Detailed Description of Work</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>WorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkPermitFormIDVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
