unpackaged/main/default/flows/Work_Order_Cost_on_Cost_Period.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Cost_to_Recprd</name>
        <label>Assign Cost to Record</label>
        <locationX>663</locationX>
        <locationY>256</locationY>
        <assignmentItems>
            <assignToReference>cost_sum_new_var.Cost__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sum_loop_var_single_rec.Cost__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_WOs</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Work Order Cost on Cost Period {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order Cost on Cost Period</label>
    <loops>
        <name>Loop_through_WOs</name>
        <label>Loop through WOs</label>
        <locationX>663</locationX>
        <locationY>61</locationY>
        <assignNextValueToReference>sum_loop_var_single_rec</assignNextValueToReference>
        <collectionReference>Get_WO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Cost_to_Recprd</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cost_Period</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Cost_Period</name>
        <label>Get Cost Period</label>
        <locationX>380</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>COA_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COA_Category_var</elementReference>
            </value>
        </filters>
        <filters>
            <field>COA__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>COA_SubAcc_var</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>WO_CompletedDate_var</elementReference>
            </value>
        </filters>
        <filters>
            <field>Week_of__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>WO_CompletedDate_var</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cost_Period__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>COA_Category__c</queriedFields>
        <queriedFields>COA__c</queriedFields>
        <queriedFields>Month_End_Date__c</queriedFields>
        <queriedFields>Week_of__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WO</name>
        <label>Get WO</label>
        <locationX>517</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_WOs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>COA_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cost_Period.COA_Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>COA__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cost_Period.COA__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Completed_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Cost_Period.Month_End_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Completed_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Cost_Period.Week_of__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>COA__c</queriedFields>
        <queriedFields>COA_Category__c</queriedFields>
        <queriedFields>Completed_Date__c</queriedFields>
        <queriedFields>Total_Cost__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cost_Period</name>
        <label>Update Cost Period</label>
        <locationX>841</locationX>
        <locationY>65</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cost_Period.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Work_Order_Cost__c</field>
            <value>
                <elementReference>cost_sum_new_var.Cost__c</elementReference>
            </value>
        </inputAssignments>
        <object>Cost_Period__c</object>
    </recordUpdates>
    <start>
        <locationX>39</locationX>
        <locationY>61</locationY>
        <connector>
            <targetReference>Get_Cost_Period</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>COA_Category_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COA_SubAcc_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cost_sum_new_var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>sum_loop_var_single_rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WO_Coll_var</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WO_CompletedDate_var</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
